*[input-text]
  input
    height: 67px

  .counter
    +single-transition
    position: absolute
    top: 0
    margin-top: 10px
    right: 12px
    transform: scale(0.85)
    line-height: 20px
    font-size: 14px
    opacity: 0
    &.focused
      opacity: 1
  &[disabled]
    background: #EEE
