ul.categories-list
  margin: 0
  li
    padding: 7px

    .container
      border: 1px solid #ddd
      overflow: hidden

      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;


    .title
      @extend .font-title
      color: #FFF
      font-size: 12px
      padding: 15px 5px
      text-align: center
      cursor: pointer

    .total-count
      font-size: 12px
      text-align: center
      padding: 5px

    .children
      // display: none
      height: 0
      +single-transition(height)
      overflow: hidden
    .active
      .total-count
        display: none
    .child
      border-bottom: 1px solid #EEE
      font-size: 12px
      position: relative
      a
        display: block
        padding: 5px 10px
        width: 80%
        &:hover
          color: blue
          text-decoration: underline
      .count
        position: absolute
        top: 5px
        color: #999
        font-size: 12px
        right: 5px
      &:nth-child(odd)
        background: #f6f6f6

    .blue, .electronics, .vehicles, .general
      background: #106DE5
    .red, .matrimonial, .music, .miscellaneous
      background: #DC4632
    .yellow, .hobbies, .pets, .community
      background: #FFBA0D
    .green, .careers, .property, .services
      background: #008F4A