ul.categories-list
  margin: 0
  li
    padding: 7px

    .container
      border: 1px solid #ddd
      overflow: hidden

      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;


    .image
      @extend .font-title
      color: #FFF
      // padding: 15px 5px
      text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 0px
      text-align: center
      cursor: pointer
      height: 130px
      line-height: 130px
      background: #fff
      background-size: cover
      background-position: 50% 50%
      position: relative

      &:after
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%
        height: 100%
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0,rgba(0, 0, 0, 0.3) 50%,rgba(0, 0, 0, 0.75) 100%)
        background: -moz-linear-gradient(to bottom,rgba(0, 0, 0, 0) 0,rgba(0, 0, 0, 0.3) 50%,rgba(0, 0, 0, 0.75) 100%)

      .title
        font-size: 0.9rem
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 1

    .total-count
      font-size: 12px
      text-align: center
      padding: 5px

    .children
      // display: none
      height: 0
      +single-transition(height)
      overflow: hidden
    .active
      .total-count
        display: none
    .child
      border-bottom: 1px solid #EEE
      font-size: 12px
      position: relative
      a
        display: block
        padding: 5px 10px
        width: 80%
        &:hover
          color: blue
          text-decoration: underline
      .count
        position: absolute
        top: 5px
        color: #999
        font-size: 12px
        right: 5px
      &:nth-child(odd)
        background: #f6f6f6

    .pets
      background-image: url(/images/cat/cats.png)
    .general
      background-image: url(/images/cat/general.png)
    .electronics
      background-image: url(/images/cat/electronics.png)
    .vehicles
      background-image: url(/images/cat/vehicles.png)
    .matrimonial
      background-image: url(/images/cat/matrimonial.png)
    .music
      background-image: url(/images/cat/music.png)
    .hobbies
      background-image: url(/images/cat/hobbies.png)
    .community
      background-image: url(/images/cat/community.png)
    .careers
      background-image: url(/images/cat/career.png)
    .property
      background-image: url(/images/cat/property.png)
    .services
      background-image: url(/images/cat/services.png)
    .miscellaneous
      background-image: url(/images/cat/misc.png)