ul.classified-list {
	@include clearfix();
	border-left: 1px solid #EEE;
	margin: 0 auto;
	padding: 0;

	a { text-decoration: none; }
	> li {
		@extend .large-3;
		@extend .medium-6;
		padding: 7px;
		float: left;
		max-width: 350px;

		.container {
			@include single-transition(border-color);
			background: #FFF;
			overflow: hidden;
			border: 1px solid #DDD;

			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;

			-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
			-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
			box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
		}

		&:hover { border-color: #BBB; }
		.heading { font-size: 20px; }
		.thumb {
			overflow: hidden;
			background: #000;

			img {
				width: 100%;
				background: #000;
			}
		}
		.c-info {
			.c-meta, .c-title, .c-excerpt {
				padding: 10px 20px;
			}
			> ul.c-meta{
				font-size: 13px;
				color: #999;
				margin: 0;
				@include clearfix();

				> li {
					margin: 0;
					padding: 0;
					@include single-transition(color);
					float: left;

					&:after {
						content: '\b7\a0';
						padding: 2px;
					}
					&:last-child:after{ content: ""; }
					&:hover { color: #000 }
				}
			}
			.c-title {
				@extend .font-title;
				font-size: 16px;
				overflow: hidden;
				line-height: 24px;

				border-bottom: 1px solid #EEE;
			}
			.c-excerpt {
				border-bottom: 1px solid #EEE;
			}
		}
		// &.no-thumb {
		// 	.thumb { display: none; }
		// }
	}
}