.classified-list-container
  background: #fff
  margin: 30px auto
  .ajax-spinner
    display: none
    text-align: center
    padding: 20px

  .ajax-finish, .ajax-loading
    @extend .font-title
    color: #AAA
    opacity: 0.8
    padding: 20px
    padding-top: 0
    text-align: center

#classified-single-fixed
  +single-transition
  background: rgba(0, 0, 0, 0.97)
  left: 0
  overflow-y: scroll
  padding: 60px 3px
  position: fixed
  // top: -100%
  top: 0
  width: 100%
  z-index: 4
  &:before
    @extend #page-hero
  &.hide-cl
    display: none
    // top: -100%
    .classified-single-bg
      display: none
  &.display-cl
    bottom: 0
    display: block
    -webkit-animation-duration: 0.5s
    -webkit-animation-name: fadeInFromNone
    @media only screen and (min-width: 1120px)
      ul#extras-sidebar
        margin-left: -100px
        margin-top: 0
        padding: 0
        top: 0
        left: 0
        position: absolute
        width: 100px
        li
          +clearfix
          float: none !important
          border-radius: 0 !important
          display: block !important
          margin: 0 !important
          .icon
            float: right !important
  > .row
    margin: 0 auto
    max-width: 62.5rem
  .classified-single
    // background: #FFF
    .gallery
      z-index: 3
    > .row
      margin: 0 auto
  .classified-single-close
    $size: 30px
    background: #FFF
    cursor: pointer
    height: $size
    padding: 0 5px
    position: fixed
    top: 0
    right: 20px
    z-index: 3
    border: 1px solid #DDD
    width: $size


ul.classified-list
  +clearfix
  margin: 0 auto
  max-width: 100%
  min-height: 50%
  a
    text-decoration: none
    &:visited
      color: #000
  > li
    padding: 7px


.classified-list-item
  +single-transition
  background: #FFF
  overflow: hidden
  position: relative
  &:hover
    .title, li
      color: #000
    .border
      background: #000
      width: 100%
    .date
      opacity: 1 !important

  .border
    +single-transition
    background: #FFF
    margin: 10px 0
    width: 75%
    height: 1px

  .thumb
    background: #000
    overflow: hidden
    img
      width: 100%
      &.image-loading
        height: 200px
        opacity: 0
      &.image-fail
        display: none
  .info
    padding: 5px
    > .meta
      +clearfix
      +single-transition
      color: #999
      font-size: 0.7rem
      margin: 0
      span
        text-align: right
    .title
      @extend .font-title
      font-size: 0.8rem
      margin: 10px 0
      overflow: hidden
      padding-bottom: 0
      width: 90%
      word-wrap: break-word
    .date
      +single-transition
      opacity: 0
      text-align: right

  .urgent-banner
    background: #FA2A00
    color: #FFF
    display: none
    padding: 5px
    text-align: center
    text-transform: uppercase
  &.perk-urgent .container
    border: 1px solid #FA2A00
    .urgent-banner
      display: block

  .status
    @extend .font-title
    background: green
    color: #FFF
    display: none
    font-size: 0.9rem
    padding: 5px
    text-align: center
    &.error
      background: red
    &.warn
      background: orange
  &.show-statuses .status
    display: block