.classifiedList
  // background: #f0f0f0
  .ajax-spinner
    display: none
    text-align: center
    padding: 20px

  .ajax-finish, .ajax-loading
    @extend .font-title
    color: #AAA
    opacity: 0.8
    display: none
    margin: 20px 0 0
    padding: 20px
    text-align: center

ul.classified-list
  min-height: 50%
  +clearfix
  margin: 0 auto

  a
    text-decoration: none
    &:visited
      color: #000
  > li
    width: 236px + 14px
    @media only screen and (max-width: 40.063em)
      width: 100%
    float: left
    padding: 7px
    .container
      border-bottom: 1px solid #e7e7e7
      +single-transition()
      background: #FFF
      overflow: hidden
      position: relative

      // -webkit-border-radius: 6px
      // -moz-border-radius: 6px
      // border-radius: 6px

      // -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2)
      // -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2)
      // box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2)

      &:hover
        border-color: #000
        margin-top: -5px
        .c-title, li
          color: #000

    .heading
      font-size: 20px
    .thumb
      overflow: hidden
      background: #000
      img
        +single-transition(opacity)
        opacity: 1
        width: 100%
        background: #fff
    &.image-loading .thumb
      height: 200px
      background: #f6f6f6
      img
        opacity: 0
    &.image-failed .thumb
      display: none
    .c-info
      > .c-meta
        padding: 5px 10px 10px
        color: #999
        font-size: 0.7rem
        margin: 0
        padding: 10px
        +clearfix
        span
          text-align: right
      .c-title
        @extend .font-title
        margin: 10px 16px
        font-size: 0.8rem
        padding-bottom: 0
        overflow: hidden
    .urgent-banner
      background: #FA2A00
      color: #FFF
      display: none
      padding: 5px
      text-align: center
      text-transform: uppercase
    &.perk-urgent .container
      border: 1px solid #FA2A00
      .urgent-banner
        display: block

  .c-status
    @extend .font-title
    background: green
    color: #FFF
    padding: 5px
    text-align: center
    display: none
    font-size: 0.9rem
    &.error
      background: red
    &.warn
      background: orange
  &.show-statuses
    .c-status
      display: block