ul.classified-list
  +clearfix
  margin: 0 auto
  padding: 7px 0
  // background: #f6f6f6;
  a
    text-decoration: none
  a:visited
    color: #BBB
  > li
    float: left
    max-width: 250px
    padding: 7px
    .container
      +single-transition()
      background: #FFF
      border: 1px solid #DDD
      overflow: hidden
      position: relative
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2)
      -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2)
      box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.2)
      &:hover
        border-color: #000
        margin-top: -5px
        color: #000
        li
          color: #000
    .heading
      font-size: 20px
    .thumb
      overflow: hidden
      background: #000
      img
        +single-transition(opacity)
        opacity: 1
        width: 100%
        background: #fff
    &.image-loading .thumb
      height: 200px
      background: #fff
      img
        opacity: 0
    &.image-failed .thumb
      display: none
    .c-title, .c-meta
      padding: 10px
    .c-info
      > ul.c-meta
        padding: 5px 10px 10px
        color: #BBB
        font-size: 0.6rem
        margin: 0
        > li
          +single-transition(color)
          margin: 0
          padding: 0
          &:hover
            color: black
      .c-title
        +single-transition(color)
        @extend .font-title
        font-size: 0.7rem
        padding-bottom: 0
        overflow: hidden
      // .c-title, .c-excerpt { border-bottom: 1px solid #EEE; }
    .urgent-banner
      background: #FA2A00
      color: #FFF
      display: none
      padding: 5px
      text-align: center
      text-transform: uppercase
    &.perk-urgent .container
      border: 1px solid #FA2A00
      .urgent-banner
        display: block
  .c-status
    @extend .font-title
    background: green
    color: #FFF
    padding: 5px
    text-align: center
    display: none
    &.error
      background: red
    &.warn
      background: orange
  &.show-statuses
    .c-status
      display: block
