.classified-list {
	ul {
		@include clearfix();
		border-left: 1px solid #EEE;
		margin: 0;
		padding: 0;

		a { text-decoration: none; }
		li {
			@include single-transition(border-color);
			background: #FFF;
			margin: 15px;
			@include clearfix();
			border: 1px solid #DDD;
			overflow: hidden;
			min-height: 150px;

			@media #{$medium-up} {
				max-width: 50%;
			}

			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;

			&:hover { border-color: #BBB; }
			.heading { font-size: 20px; }
			.thumb {
				float: left;
				overflow: hidden;
				background: #000;

				img {
					max-width: none;
				}
			}
			.c-info {
				float: left;
				padding: 20px;
				max-width: 300px;
				height: 100%;
				// padding-left: 160px;
			}
			.box {
				background: #e74c3c;
				color: #FFF;
				font-size: 12px;
				display: inline-block;
				margin-top: 5px;
				padding: 5px 10px;
				width: auto;

				&.yellow { background: #F67F00; }
				&.green { background: #27AE60; }
			}
			.c-meta{
				font-size: 12px;
				color: #999;

				&:after {
					padding: 2px;
					content: '\b7\a0';
				}
				&:last-child:after{ content: ""; }
			}
			.c-title {
				@extend .font-title;
				font-size: 24px;
				overflow: hidden;
				line-height: 24px;
				padding-bottom: 15px;
			}
			&.no-thumb {
				.thumb { display: none; }
				.c-info { padding-left: 20px; }
			}
		}
	}
}