#filter-box {
	background: #FFF;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid #f9f9f9;

	#li-childcategory { display: none; }
	.title { float: left; }

	.other-options {
		@include clearfix();
		font-size: 13px;
		margin: 0;
		padding: 0;

		> li {
			color: #999;
			cursor: pointer;
			float: left;
			margin: 0;
			padding: 0;
			position: relative;

			.float-container {
				padding: 8px 0;
				margin-left: 15px;
				margin-right: 10px;
				@include clearfix();

				select {
					background: transparent;
					border: none;
					color: #999;
					float: left;
					outline: none;
					overflow: none;
					padding: 5px;
					width: auto;

					option {
						color: #000;

						&[disabled] { color: #999; }
					}
				}

				.title {
					@extend .font-title;
					color: #000;
					float: left;
					padding: 5px;
				}
			}
		}
	}
	.keywords {
		@extend .font-title;
		position: relative;
		max-width: 500px;
		width: 90%;

		.search-bar {
			border-bottom: 1px solid #EEE;
			font-size: 17px;
			margin: 10px 20px;
			padding: 10px 0;

			&:active, &:focus { outline: none; }
		}
		.search-button {
			@extend .font-awesome;
			background: none;
			border: none;
			height: 100%;
			padding: 10px 0;
			position: absolute;
			right: -18px;
			top: 0;

			&:active, &:focus { outline: none; }
		}
	}
}