#filter-box {
	background: #FFF;
	padding-bottom: 10px;

	select {
		bottom: 0;
		color: #000 !important;
		height: 0;
		right: 20px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 0;

		option { padding: 10px; }
	}
	.other-options {
		@include clearfix();
		font-size: 13px;
		margin: 0;
		padding: 0;

		> li {
			color: #999;
			cursor: pointer;
			float: left;
			margin: 0;
			padding: 0;
			position: relative;

			.trigger {
				padding: 8px 0;
				margin-left: 15px;
				margin-right: 10px;
			}


			span {
				@include single-transition(color);

				&.title {
					@extend .font-title;
					color: #000;
				}
			}
			&:after {
				@extend .font-awesome;
				content: '\f0d7';
				font-size: 10px;
				position: absolute;
				right: -2px;
				top: 10px;
			}
			&:hover {
				color: #FF6600;
				span.title { color: inherit }
			}
		}
	}
	.keywords {
		@extend .font-title;
		position: relative;
		max-width: 500px;
		width: 90%;

		.search-bar {
			@include single-transition();
			border-bottom: 1px solid #EEE;
			font-size: 17px;
			margin: 10px 20px;
			padding: 10px 0;

			&:active, &:focus {
				outline: none;
				border-bottom: 2px solid #FF6600;
			}
		}
		.search-button {
			@extend .font-awesome;
			background: none;
			border: none;
			height: 100%;
			padding: 10px 0;
			position: absolute;
			right: -18px;
			top: 0;
		}
	}
}