header {
	left: 0;
	width: 100%;
	z-index: 2;

	.loggedin { display: none; }
	.loggedout { display: block; }
	&.loggedin {
		.loggedin { display: block; }
		.loggedout { display: none; }
	}

	nav#main-nav {
		width: 100%;

		ul {
			@include clearfix();
			margin: 0;
			padding: 0;
			position: relative;
			width: 100%;
		}
		li {
			@extend .font-title;
			@include single-transition();
			color: #777;
			float: right;
			font-size: 13px;
			padding: 5px 10px;
			border-bottom: 2px solid transparent;

			&.active, &:hover {
				color: #000;
				border-bottom-color: #FF6600;
			}
			&.nav {
				color: #DDD;
				float: left;
				font-size: 18px;
				margin-top: 8px;

			}
			&.left { float: left; }
			&.right { float: right; }
			&.home {
				@extend .font-awesome;
				&:hover, &.active { border-bottom-color: transparent }
			}
			&#nav-logo {
				float: left;
				height: 45px;
				left: 5px;
				position: absolute;
				top: 10px;
				width: 131px;
			}
		}
	}
}

@media print { header { display: none; } }