$headerHeight: 51px;
$sidebarWidth: 200px;

main { padding-top: $headerHeight }
header {
	@include single-transition();
	border-bottom: 1px solid #EEE;
	height: $headerHeight;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	width: 100%;
	z-index: 2;

	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);

	.loggedin { display: none; }
	.loggedout { display: block; }
	&.loggedin {
		.loggedin { display: block; }
		.loggedout { display: none; }
	}
	.disabled { color: #999 !important; }
	nav#main-nav {
		background: #FFF;

		.main-item {
			@extend .font-title;
			@include single-transition(border);
			border-bottom: 3px solid transparent;
			color: #777;
			float: right;
			font-size: 13px;
			position: relative;

			&.active, &:hover {
				border-bottom-color: #FF6600;
				color: #000;
			}
			&.nav {
				color: #DDD;
				float: left;
				font-size: 18px;
				margin-top: 8px;

			}
			&#nav-logo {
				float: left;
				height: 45px;
				left: 5px;
				position: absolute;
				top: 10px;
				width: 131px;
			}
		}
	}
	nav#main-nav, nav#mobile-nav {
		width: 100%;
		height: $headerHeight;

		> ul {
			@include clearfix();
			margin: 0;
			padding: 0;
			position: relative;
			width: 100%;
			.left { float: left; }
			.right { float: right; }
			.home, .settings {
				// padding: 10px 15px;
				@extend .font-awesome;
				&:hover, &.active { border-bottom-color: transparent }
			}
		}
		a {
			@include single-transition(color);
			display: block;
			padding: 16px 10px;
			color: inherit;
			text-decoration: none;
		}
		.settings { padding: 16px 20px }
		ul.subnav {
			@extend .font-title;
			background: #FFF;
			border: 1px solid #DDD;
			border-bottom-color: #FF6600;
			border-bottom-width: 2px;
			border-top: 0;
			cursor: default;
			display: none;
			padding: 0;
			position: absolute;
			right: 0;
			font-size: 12px;
			top: $headerHeight - 1px;
			width: 200px;

			li {
				@include single-transition(background);
				color: #000;

				&.with-link:hover { background: #f6f6f6; }
			}
			.user-title {
				border: 0;
				font-size: 14px;
				padding-bottom: 0;
				text-align: center;
			}
			.user-credits {
				@extend .font-text;
				border: 0;
				font-size: 10px;
				padding: 0;
				text-align: center;
			}
			.user-thumb {
				text-align: center;
				img {
					background: #EEE;
					border: 1px solid #DDD;
					height: 80px;
					margin: 5px auto;
					overflow: none;
					width: 80px;

					-moz-border-radius: 100px;
					-webkit-border-radius: 100px;
					border-radius: 100px;
				}
			}
		}
	}
	nav#mobile-nav {
		background: #E74C3C;
		// ul li a {
		// 	padding: 10px;
		// 	font-size: 19px;
		// 	color: #FFF;
		// }

	}
	&.loggedout li.settings:hover ul.loggedout { display: block !important}
	&.loggedin li.settings:hover ul.loggedin { display: block !important}
	// &.nav-up {
	// 	top: -1 * $headerHeight - 5px;
	// 	ul.subnav { display: none; }
	// }
}
main {
	min-width: 100%;
	min-height: 100%;
	background-color: #fff;
	position: relative;
	top: 0;
	bottom: 100%;
	left: 0;
	z-index: 1;
}
label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px;
  top: 13px;
  z-index: 3;
			font-size: 19px;
			color: #FFF;
  /* non-critical apperance styles */
  // height: $headerHeight;
  // width: $headerHeight;
  @extend .font-awesome;
  cursor: pointer;
  // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  // background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, main, .navigation {
  @include single-transition(left);
}

.nav-trigger:checked + label {
  left: $sidebarWidth + 15px;
}

.nav-trigger:checked ~ main {
  left: $sidebarWidth;
  opacity: 0.3;
  overflow-x: hidden;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}
.nav-trigger:checked ~ .navigation  {
  left: 0;
}
.nav-trigger {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}
.navigation {
	background: #111;
	bottom: 0;
	height: 100%;
	left: -1 * $sidebarWidth;
	list-style: none;
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: $sidebarWidth;
	z-index: 3;

	li {
		a {
			color: #FFF;
		}
		padding: 10px;
	}
}
@media print { header { display: none; } }