$headerHeight: 60px

main
  padding-top: $headerHeight !important
  &:before
    +single-transition
    background: rgba(0, 0, 0, 0.8)
    content: ""
    left: 0
    opacity: 0
    position: fixed
    top: 0
    width: 100%
    z-index: 1
header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 3

  #main-header
    +clearfix
    background: #FFF
    height: $headerHeight
    z-index: 1

    #header-logo
      float: left
      a
        display: block
        padding: 13px 20px
    #grabber
      float: right
      padding: 16px 25px

    &:hover ~ nav#sub-header ul#notifications
      height: 35px !important

  nav#sub-header
    top: -400px
    overflow-y: auto
    position: fixed
    max-width: 62.5rem

    @media only screen and (max-width: 40em)
      top: -1000px

    &, ul#notifications, #nav-footer
      +single-transition(all, 500ms)
    ul#notifications
      background: #D8432E
      display: none
      margin: 0
      overflow: hidden
      li
        color: #FFF
        font-size: 0.8rem
        padding: 0.5rem 1rem
        position: relative
        &:nth-child(even)
          background: rgba(0,0,0,0.1)

    #nav-links
      @extend .font-title
      background: #fff
      font-size: 1rem
      margin-top: 20px
      overflow: hidden

      .title
        font-weight: bold
        background: #F60
        color: #FFF
        display: inline-block
        font-size: 1rem
        padding: 1rem
        text-align: right
        text-transform: uppercase
        @media only screen and (min-width: 40em)
          &.dark
            background: #DB5800
      .link
        text-align: center
        font-size: 0.9rem
      li
        padding: 0
      a
        +single-transition
        border-bottom: 3px solid transparent
        color: #000
        display: block
        height: 56px
        padding: 1rem 0
        text-decoration: none
        width: 100%
        &:hover
          border-bottom-color: #F60

    #nav-footer
      @extend .font-title
      background: #FFF
      color: #000
      font-size: 0.7rem
      padding: 1rem
      overflow: hidden
      text-align: center
      a
        color: inherit
        text-decoration: none

#nav-widget-user
  margin-top: 20px
  overflow: hidden
  background: #FFF
  .thumb
    padding: 20px
    text-align: center

    img
      width: 100px
      height: 100px
      background: #F60

      -webkit-border-radius: 50px
      -moz-border-radius: 50px
      border-radius: 50px


body.show-subheader
  header, nav#sub-header
    bottom: 0
    overflow-y: auto
  nav#sub-header
    top: 60px

  main:before
    opacity: 1
    content: ''
    height: 100%