$headerHeight: 60px

main
  padding-top: $headerHeight
header
  background: #FFF
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 2


  #main-header
    height: $headerHeight
    +clearfix

    #header-logo
      float: left
      a
        display: block
        padding: 14px 5px
    #grabber
      float: right
      padding: 17px 5px

  nav#sub-header
    +single-transition
    background: #222
    height: 0

body.show-subheader
  nav#sub-header
    height: 300px

  main:before
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    content: ''
    background: rgba(255, 255, 255, 0.8)
    z-index: 1
