#page-loader
  display: none
  position: absolute
  background: #eee
  top: 50%
  left: 50%
  margin-left: -100px
  width: 200px
  height: 2px
  overflow: hidden

  // -webkit-animation-duration: 0.5s
  // -webkit-animation-name: fadeInFromNone
  #page-loading-bar
    +single-transition
    background: #f60
    height: 2px
    left: 0
    position: absolute
    top: 0
    width: 0%


@-webkit-keyframes loader-dynamic-load
  0%
    width: 0%
    left: 0
  50%
    width: 100%
    left: 0
  100%
    left: 100%
    width: 100%

body
  &[ng-cloak], &.loading
    background: #FFF
    #page-loader
      display: block
      #page-loading-bar
        -webkit-animation-name: loader-dynamic-load
        -webkit-animation-iteration-count: infinite
        -webkit-animation-duration: 1s
    main, #page-hero, footer
      opacity: 0