main {
	height: 100%;
	overflow: auto;
	position: relative;
	padding-top: 75px;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;

	.pt-page {
		background: #FDFDFD;
		overflow-y: auto;
	}

	#main-container {
		position: relative;
	}
}
html { overflow: auto; }
@media print {
	main { padding-top: 0 !important; }
}