main {
	height: 100%;
	// overflow: hidden;
	position: relative;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;

	.pt-page {
		background: #FFF;
		padding-bottom: 10px;
		// overflow-y: auto;
	}

	#main-container {
		position: relative;
	}
}

html { overflow: auto; }
@media print { main { padding-top: 0 !important; } }