main
  min-height: 90%
  position: relative
  max-width: 62.5rem
  margin: 0 auto
  padding: 0 10px
  background: #FFF

  @media only screen and (max-width: 40.063em)
    padding: 0

html
  overflow: auto

  &[lang='ar']
    direction: rtl
    font-size: 125%

@media print
  main
    padding-top: 0 !important