#admin-single
  +clearfix
  background: #FFF
  text-align: center
  padding-left: 30px
  border-bottom: 1px solid #EEE
  input
    background: transparent
    border: none
    padding: 0
    line-height: 1.5
  .action
    +single-transition
    @extend .font-title
    border-bottom: 2px solid transparent
    color: #000
    cursor: pointer
    display: inline-block
    float: left
    font-size: .75rem
    padding: 10px

    &:hover
      background: #FF6600
      color: #000

@media print
  #admin-single
    display: none !important