#admin-single {
	@include clearfix();
	background: #FFF;
	text-align: center;
	margin-left: 30px;

	input {
		background: transparent;
		border: none;
		padding: 0;
	}
	.item {
		@extend .font-title;
		@include single-transition();
		border-bottom: 2px solid transparent;
		color: #777;
		cursor: pointer;
		display: inline-block;
		float: left;
		font-size: 13px;
		padding: 5px 10px;

		&.active, &:hover {
			border-bottom-color: #FF6600;
			color: #000;
		}
		a { text-decoration: none; }
	}
}
@media print { #admin-single { display: none !important; } }