html
  body
    .account-username-box(data-userslug='{userslug}', data-uid='{uid}')
      ul.nav.nav-pills.account-sub-links
        li
          a.dropdown-toggle.inline-block(href='#', type='button', data-toggle='dropdown')
            | [[user:more]]
            span.caret
            | &#x9;&#x9;&#x9;&#x9;
            span.sr-only Toggle Dropdown
          | &#x9;&#x9;&#x9;
          ul.dropdown-menu.pull-right(role='menu')
            li
              a(href='{config.relative_path}/user/{userslug}/following')
                i.fa.fa-fw.fa-users
                |  [[user:following]]
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='{config.relative_path}/user/{userslug}/followers')
                i.fa.fa-fw.fa-users
                |  [[user:followers]]
            | &#x9;&#x9;&#x9;&#x9;
            li.divider
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='{config.relative_path}/user/{userslug}/topics')
                i.fa.fa-fw.fa-book
                |  [[global:topics]]
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='{config.relative_path}/user/{userslug}/posts')
                i.fa.fa-fw.fa-pencil
                |  [[global:posts]]
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='{config.relative_path}/user/{userslug}/groups')
                i.fa.fa-fw.fa-users
                |  [[global:header.groups]]
            // IF showHidden
            li
              a(href='{config.relative_path}/user/{userslug}/favourites')
                i.fa.fa-fw.fa-heart
                |  [[user:favourites]]
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='{config.relative_path}/user/{userslug}/watched')
                i.fa.fa-fw.fa-eye
                |  [[user:watched]]
            // ENDIF showHidden
            // BEGIN profile_links
            li.plugin-link.IF.ELSE.ENDIF(id='{profile_links.id}', class='<!-- profile_links.public -->public<!-- -->private<!-- profile_links.public -->')
              a(href='{config.relative_path}/user/{userslug}/{profile_links.route}')
                i.fa.fa-fw(class='{profile_links.icon}')
                |  {profile_links.name}
            // END profile_links
        | &#x9;&#x9;
        li
          a#profile.inline-block(href='{config.relative_path}/user/{userslug}')
            i.fa.fa-user
            |  [[user:profile]]
        // IF showHidden
        li
          a(href='{config.relative_path}/user/{userslug}/settings')
            i.fa.fa-gear
            |  [[user:settings]]
        | &#x9;&#x9;
        li
          a(href='{config.relative_path}/user/{userslug}/edit')
            i.fa.fa-pencil-square-o
            |  [[user:edit]]
        // ENDIF showHidden
    #groups-list.groups
      // IF !groups.length
      .alert.alert-warning [[groups:no_groups_found]]
      // ELSE
      // BEGIN groups
      .col-lg-4.col-md-6.col-sm-12(component='groups/summary', data-slug='{groups.slug}')
        .panel.panel-default
          .panel-heading.list-cover(style='<!-- IF groups.cover:url -->background-image: url({groups.cover:url});<!-- ENDIF groups.cover:url -->')
            h3.panel-title
              | {groups.displayName} 
              small {groups.memberCount}
          | &#x9;&#x9;&#x9;
          .panel-body
            ul.members
              // BEGIN members
              li
                a(href='{config.relative_path}/user/{groups.members.userslug}')
                  img(src='{groups.members.picture}', title='{groups.members.userslug}')
              // END members
              // IF groups.truncated
              li.truncated
                i.fa.fa-ellipsis-h
              // ENDIF groups.truncated
      // END groups
      // ENDIF !groups.length
