doctype html
html
  head
    title Kuwait &amp; Me
    style(type="text/css").
      @import url(//fonts.googleapis.com/css?family=Roboto);
      @import url(//fonts.googleapis.com/css?family=Open+Sans:400,600);
      body {
        background-color: #FFF;
        margin: 0;
        padding: 0;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      img { max-width: 100%; }
      div {
        margin: 10px auto;
        padding: 50px 10px;
        text-align: center;
        background-color: #fff;
        font-family: "Open Sans", sans-serif;
      }
      p { font-size: 13px; }
      .title {
        font-family: "Roboto", serif;
        font-size: 18px;
      }
  body
    div
      img(src="/images/kme-logo-beta.png")
      h1.title 404 - Page not found
      p
        | This means that page you are looking for doesn"t exist. This could
        | happen if the content has expired/removed or you have simply mistyped
        | the URL.
      p
        | Check the link again and make sure you entered everything correctly.