*[input-select]
  position: relative
  .field
    position: relative

  ul
    +single-transition
    top: 0%
    margin: 0
    left: 0
    width: 100%
    opacity: 0
    background: #FFF
    z-index: -1
    position: absolute
    // max-height: 51 * 3px
    // overflow-y: auto
    &.opened, &
      position: relative
      z-index: 1
      top: 100%
      opacity: 1
    li
      cursor: pointer
      +single-transition
      padding: 0 10px
      border-bottom: 1px solid #ddd
      background: #f9f9f9
      cursor: pointer
      &:hover
        background: #eee
      @media #{$small-only}
        width: 100%
      @media #{$medium-up}
        &:nth-child(even)
          border-left: 1px solid #ddd
      input
        background: inherit
        outline: none
        width: 100%
        height: 100%
        border: 0
        padding: 18px 0
