.story_liner
  .votes(ng-if="!settings.storyHideScore")
    .score {{ story.score || 0 | prettynumber }}
    .voter(ng-if="!hasVoted")
      a(ng-click="upvote()", ng-class="{voted: hasVoted}")
  .details
    span.link
      span(ng-if="!story.is_gone")
        a(fn-route="{{ story.url }}"
          target="{{ openNewTab ? '_blank' : ''}}") {{ story.title }}
      span(ng-if="story.is_gone").
        [Story removed by {{ story.is_moderated ? "moderator" : "original submitter" }}]


    span.cats(ng-if="!story.is_gone")
      a(ng-repeat="cat in story.parsedCategories track by $index"
        fn-route="/category/{{ cat.slug }}")
        sharing-category(ng-model="cat")

    span.domain(ng-if="!settings.storyHideDomain")
      a(fn-route="{{ story.url }}"
        target="{{ openNewTab ? '_blank' : ''}}") {{ story.url | domain }}

    .meta
      span.
        by {{ story.created_by.username }}
      span.timestamp(ng-if="!settings.storyHideDate").
        {{ story.created_at | prettydate }}
      span.comments_label(ng-if="story.comments_count == 0 && !settings.storyHideComments")
        a(fn-route="/story/{{ story.slug }}") discuss
      span.comments_label(ng-if="story.comments_count != 0 && !settings.storyHideComments")
        a(fn-route="/story/{{ story.slug }}").
          {{ story.comments_count }} {{ story.comments_count == 1 ? "comment" : "comments" }}