body#classified-post

  h1
    @extend .font-open
    color: #FFF
    font-size: 2rem
    font-weight: bold
    margin: 2rem 0
    padding: 1rem
    text-shadow: 1px 1px 2px #000

  #page-hero
    background-image: url("/images/hero/landing.jpg")
    &:after
      content: ""

  main
    background: transparent
  .classified-single
    margin-bottom: 1rem
    background: #FFF