body#classified-post
  @extend body#classified-single
  $color-inactive: rgba(0, 0, 0, 0.02)
  $border-color: #e0e0e0
  $color-error: #E04B2A
  $color-valid: #30cd72
  $color-warn: #FFB604

  input
    @extend .font-text
    &[type='checkbox']
      margin-right: 5px !important
      width: auto !important
    &[type='text']
      font-size: 1rem

  input, select, textarea, button
    +single-transition
    background: $color-inactive
    border: 0
    border-bottom: 2px solid $border-color
    margin: 0
    &:focus
      outline: none
      ~ .error:before
        color: #FFF !important

    &.ng-valid ~ .error
      display: none
      &:before
        content: attr(valid)

    &.ng-invalid.ng-invalid-required, &.ng-valid
      &:focus
        border-color: $color-valid

    &.ng-valid:focus ~ .error.show-on-focus
      display: inline-block
      background: $color-valid
    &.ng-invalid
      border-color: $border-color
      ~ .error:before
        color: #FFF
        content: attr(invalid)
      &.ng-invalid-minlength, &.ng-invalid-required:focus
        border-color: $color-warn
        ~ .error
          background: $color-warn
      &.ng-invalid-number, &.ng-invalid-url, &.ng-invalid-email, &.ng-invalid-maxlength
        border-color: $color-error
        ~ .error
          background: $color-error
      &.ng-invalid-minlength ~ .error:before
        content: attr(min) !important
      &.ng-invalid-maxlength ~ .error:before
        content: attr(max) !important
      &.ng-invalid-required
        &:focus ~ .error
            display: inline-block
        ~ .error
          background: $border-color
          &:before
            color: #000
            content: "required"

  .error
    font-size: 11px
    display: inline-block
    padding: 5px 10px

  .gallery
    margin-bottom: 2rem
    [ng-click]
      @extend .font-title
      border: 2px solid $border-color
      background: $color-inactive
      color: #999
      cursor: pointer
      height: 100px
      padding: 0 20px
      padding-top: 35px
      text-align: center


  .title, .description
    input, textarea
      padding: 0.5rem
      width: 100%


  .title input
    @extend .font-bitter
    font-size: 0.9rem
    margin-bottom: -3px


  .description
    padding-bottom: 1rem !important
    white-space: initial !important
    textarea
      height: 100%
      left: 0
      margin: 0
      margin-bottom: -6px
      min-height: 200px
      top: 0


  .meta
    .meta-title
      line-height: 40px
      width: auto
    .columns
      margin-bottom: 0 !important
    select, input
      font-size: 0.8rem
      padding:  0.5rem
      width: 100%

    @media only screen and (min-width: 40.063em)
      .extras
        .row
          margin-top: 15px


  .google-maps
    position: relative
    label
      font-size: 0.8rem
    > .row
      margin-left: 0
      margin-right: 0
    #maps-container
      &.disabled:before
        background: rgba(255, 255, 255, 0.5)
        border: 2px solid $border-color
        content: ''
        height: 100%
        left: 0
        padding: 2rem
        position: absolute
        top: 0
        width: 100%
        z-index: 2
      min-height: 300px


  .submit
    @extend font-title
    background: $color-valid
    color: #FFF
    font-size: 0.9rem
    padding: 0.5rem
    width: 100%
    @media only screen and (max-width: 64.063em)
      bottom: -3px
      left: 0
      padding: 0.8rem 0.5rem
      position: fixed


  @media only screen and (max-width: 64.063em)
    form
      margin-bottom: 32px