body#classified-search
  #page-hero:after
    content: ""
    // background-color: #000
  &.cl-property-real-estate #page-hero
    background-image: url("/images/hero/cl-real-estate.jpg")
  &.cl-general-items #page-hero
    background-image: url("/images/hero/cl-general.jpg")
  &.cl-pets-animals #page-hero
    background-image: url("/images/hero/cl-pets.jpg")
  &.cl-vehicles #page-hero
    background-image: url("/images/hero/cl-vehicles.jpg")
  &.cl-community-events #page-hero
    background-image: url("/images/hero/cl-community.jpg")
  &.cl-music-movies-books #page-hero
    background-image: url("/images/hero/cl-music.jpg")
  &.cl-hobbies-crafts-diy #page-hero
    background-image: url("/images/hero/cl-art.jpg")
  &.cl-electronics-computers #page-hero
    background-image: url("/images/hero/cl-electronics.jpg")
  &.cl-services #page-hero
    background-image: url("/images/hero/cl-service.jpg")
  &.cl-careers-jobs #page-hero
    background-image: url("/images/hero/cl-jobs.jpg")
  &.cl-matrimonial #page-hero
    background-image: url("/images/hero/cl-matrimonial.jpg")

  main
    background: transparent

    .classified-list-container
      margin-top: 100px

    > h1, > h2
      @extend .font-open
      color: #FFF
      margin: 0
      font-weight: bold
      padding: 0 1rem
      text-shadow: 1px 1px 2px #000
    > h1
      margin-top: 300px
      font-size: 3rem
    > h2
      margin-bottom: 100px
      font-size: 1.3rem