body#classified-single
  background: #FFF
  .post-nav
    color: #999
    font-size: 12px
    text-transform: uppercase
    a
      text-decoration: none
      &:hover
        color: #000

  ul#single-messages
    padding: 0
    margin: 0
    @extend .font-title
    li
      color: #FFF
      background: #E74C3C
      padding: 10px
      font-size: 0.75rem
      text-align: center
      &.warning
        background: #FD8603
      &.success
        background: #2ecc71
      &.error
        color: rgba(255, 255, 255, 0.75)

  #admin-controls
    border: 1px solid #ff7302
    display: inline-block
    height: 37px
    margin: 30px
    margin-bottom: 0
    overflow: hidden
    .meta
      border-right: 1px solid #FFF
      float: left
      &:last-child
        border-right: none
    form
      margin: 0
      padding: 0
    input, .input
      +single-transition
      background: #ff7302
      border-radius: 0
      color: #FFF
      border: 0
      font-weight: 700
      padding-top: 8px
      width: auto
      &:hover
        background: #FFF
        color: #ff7302
  #map-canvas
    height: 400px
    max-height: 100%
    width: 100%
  .c-title
    margin-bottom: 1rem
  .c-content
    margin: 30px auto
    width: 95%
    padding-top: 1px
    margin: 0 auto
    h1
      font-size: 40px
    ul.c-meta
      +clearfix
      color: #000
      font-size: 12px
      margin: 0
      margin-bottom: 1rem
      padding: 0
      li
        float: left
        &:after
          color: #444
          content: '\b7\a0'
          padding: 10px
        &:last-child:after
          content: ''
          padding: 0
    .c-action
      a
        text-decoration: none
    .c-description
      font-size: 0.8rem
      padding-bottom: 2rem
      white-space: pre-wrap
      white-space: -moz-pre-wrap
      white-space: -pre-wrap
      white-space: -o-pre-wrap
      word-wrap: break-word
  .c-gallery
    margin: 0
    padding-bottom: 15px
    text-align: center
    li
      padding: 0
  .c-disclaimer
    color: #999
    font-size: 10px
    margin: 25px 0
    a
      color: inherit

@media print
  .c-gallery
    border-bottom: none !important
    background: #FFF !important
    img
      max-width: 45% !important
  .page
    min-height: 0 !important
  .post-nav, .c-action
    display: none !important