body#forums

  .categories
    max-width: none
    a
      color: #2461b2
      text-decoration: none
      &:hover
        color: #173e72

    > .columns
      margin: .9375rem 0
    .category
      +radius(3px)
      +single-transition(border-bottom-color)
      // margin: 10px
      background: #f2f2f2
      border: 1px solid #DDD
      border-bottom-width: 2px
      overflow: hidden
      padding: 10px
      &:hover
        border-bottom-color: #999
      // width:

    h4
      font-weight: bold
      margin-top: 0
      margin-bottom: 5px

    .description
      font-size: 14px

    .category-header
      margin: -10px
      margin-bottom: 10px
      background: #2461b2
      min-height: 100px

    .posts
      background: #FFF
      margin: -10px
      margin-top: 10px
      .post
        border-top: 1px solid #DDD
        font-size: 14px
        padding: 10px
        position: relative
        .title
        .preview
          font-size: 13px
          padding-left: 40px
          padding-top: 10px
        .avatar
          background: #EEE
          border: 1px solid #DDD
          border-left: 0
          height: 40px
          left: 0
          margin-top: 10px
          position: absolute
          width: 40px

