extends ../../layout.jade

block content
	section#account-container
		.block
			a(href="/classified/post")
				.content
					.title Post a classified
					.icon.font-awesome &#xf067;
		.block
			a(href="/account/manage")
				.content
					.title Manage your classifieds
					.icon.font-awesome &#xf1ea;