extends ../../layout.jade

block content
	.html5-cache
		section#account-container
			.block
				a(href="/classified/post", data-view="classified-post")
					.content
						.title Post a classified
			.block
				a(href="/account/manage", data-view="account-manage")
					.content
						.title Manage your classifieds
