extends ../../layout.jade

block content
	section#account-container
		.block
			a(href="/account/profile")
				.content
					.title Edit your profile
					.icon.font-awesome &#xf007;
		.block
			a(href="/account/manage")
				.content
					.title Manage your classifieds
					.icon.font-awesome &#xf1ea;