extends ../../layout.jade

block content
		form#login-form
			.row.collapse
				.small-12.columns
					.auth-title Sign-up
			.row.input-row.collapse
				.small-12.columns.error
					input(type="text", name="fullname", placeholder="full name", required)#auth-fullname
					small.error Please fill this field properly

			.row.input-row.collapse
				.small-12.columns.error
					input(type="email", name="username", placeholder="email", required)#auth-username
					small.error Please fill this field properly

			.row.input-row.collapse
				.small-12.columns.error
					input(type="password", name="username", placeholder="password", required)#auth-password
					small.error Please fill this field properly

			.row.input-row.collapse
				.small-12.columns.error
					input(type="password", name="password", placeholder="re-enter password", required)#auth-repassword
					small.error Please fill this field properly

			.row.collapse
				.small-4.small-offset-8.columns
					input(type="submit", class="submit", value="Login")


			#ajax-spinner
				img(src="/images/loader.gif")

		.gcaptcha

		ul#auth-messages

		//- .extra-links
		//- 	| Already have an account? Login <a href="/auth/login" data-view="auth-login">here</a>