extends ../../layout.jade

block content
	.html5-cache
		.auth-title Sign Up!
		form(method="POST")
			input(type="hidden", name="_csrf", value="#{csrfToken}")
			section
				div
					input(type="text", name="fullname", placeholder="your name", required)
				div
					input(type="email", name="username", placeholder="email", required)
				div
					input(type="password", name="password", placeholder="password", required)
				div
					input(type="password", name="repassword", placeholder="re-enter password", required)
				div
					input(type="submit", class="submit", value="Sign-up")

			#signup-captcha

			//- .extra-links
			//- 	| Already have an account? Login <a href="/auth/login" data-view="auth-login">here</a>