input.field(ng-focus="focused=true; onTouch()"
  type="{{ type }}"
  ng-blur="focused=false"
  ng-model="value")
.placeholder(ng-class="{shrink: focused || value }") {{ placeholder }}
.counter(ng-class="{focused: focused }") {{ remainingChars }}
