*[classified-form]
  $border-color: #f0f0f0
  $color-error: #E04B2A
  $color-inactive: rgba(0, 0, 0, 0.02)
  $color-valid: #30cd72
  $color-warn: #FFB604
  background: #FFF


  .columns
    margin-bottom: 30px

  .admin-panel
    margin-bottom: 0
    margin-top: 30px
    .row
      margin-bottom: 0
    .green
      background: $color-valid
    .red
      background: $color-error

  .meta
    // Meta attribute colors
    .delivery
      background: #DD4B39
    .hideEmail
      background: #111
    .viber
      background: #774F98
    .whatsapp
      background: #11AE09
    .googlemaps
      background: #F69615



  .credits-info
    padding: 1rem 0
    text-align: center
    .count
      padding: .5rem 0
      font-size: 3rem
      .subtract
        color: $color-error
        font-size: 0.9rem
        position: absolute


  .submit
    background: $color-success
    &:focus
      background: #27AE60


  .disclaimer
    padding:  1rem
    color: #000
    opacity: 0.7
    font-size: 0.7rem
    a
      color: blue
      text-decoration: none
      border-bottom: 1px solid blue

  label
    text-align: center
    font-size: 0.8rem
    padding-bottom: 10px

  > .loading
    position: relative
    .submit
     &, &:focus, &:hover
      background: #DDD
      color: #222
    &:after
      +single-transition
      background: rgba(255, 255, 255, 0.6)
      content: ''
      height: 100%
      left: 0
      position: absolute
      top: 0
      z-index: 1
      width: 100%
  @media only screen and (max-width: 64.063em)
    form
      margin-bottom: 32px
