doctype html
//- html(lang= lang, dir= dir, data-ng-strict-di, manifest="/cache.manifest")
html(lang= lang, dir= dir, data-ng-strict-di)
  head
    block meta
    include ./include/head.jade
    if data.noIndex
      meta(name="robots" content="noindex")
    else if data.noFollow
      meta(name="robots" content="index, nofollow")
    else
      meta(name="robots" content="index, nofollow")

  body.initializing(itemscope
    itemtype="http://schema.org/WebSite"
    ng-class="bodyClasses"
    ng-style="bodyStyles")
    #fb-root

    meta(itemprop="url" content="#{settings.url}")

    section(notifications)
    header
    section(auth)
    modal

    #page-loader
      #page-loading-bar

    //- Here goes the main content of the site
    main(ui-view)
      .robots
        block robots
      block content

    include ./include/footer.jade
