body#classified-create
  h1, h3
    margin:  0
    padding: 10px
  h3
    @extend .font-open
    font-size: 1rem
    font-weight: bold
    a
      color: $color-red
      text-decoration: none
      border-bottom: 3px solid $color-red
  h1
    font-size: 3rem
    padding-bottom: 0

  section[classified-form]
    border-top: 1px solid #EEE
    margin: 25px auto
    padding-top: 25px
