html
  body
    .col-lg-3.acp-sidebar
      .panel.panel-default
        .panel-heading Save Settings
        | &#x9;&#x9;
        .panel-body
          button#save.btn.btn-primary.btn-md Save Changes
          | &#x9;&#x9;&#x9;
          button#revert.btn.btn-warning.btn-md Revert Changes
    script.
      require(['admin/settings'], function(Settings) {
      Settings.prepare();
      });
