form.row
  section.page.small-11.medium-9.small-centered.columns#page-begin
  section.page.small-11.medium-9.small-centered.columns#page-info
  section.page.small-11.medium-9.small-centered.columns#page-details
  section.page.small-11.medium-9.small-centered.columns#page-images
  //- section.page.small-11.medium-9.small-centered.columns#page-maps
  section.page.small-11.medium-9.small-centered.columns#page-submit
  //- section.page.small-11.medium-9.small-centered.columns#page-finish
  section.page.small-11.medium-9.small-centered.columns
    .row#ajax-spinner
      img(src="/images/loader.gif")