#page-hero
  img(ng-image-loader!="/images/hero/{{ heroURL }}",
      ng-image-success="onHeroLoad")

.row
  h1.columns Post a classified
  //- p.columns You are about to post a classified. v

section(ng-include="'components/classified-form'")