form.row
  section.page.small-centered.columns#page-begin
  .seperator
  section.page.small-centered.columns#page-info
  .seperator
  section.page.small-centered.columns#page-details
  .seperator
  section.page.small-centered.columns#page-images
  .seperator
  section.page.small-centered.columns#page-maps
  .seperator
  section.page.small-centered.columns#page-submit
  //- section.page.small-centered.columns#page-finish
  section.page.small-centered.columns
    .row#ajax-spinner
      img(src="/images/loader.gif")