//- include ../../components/filterbox.jade

#search-results
  //- Container to hold the classifieds
  ul#classified-search.classified-list

  //- A spinner that gets displayed during AJAX loads
  #ajax-spinner
    img(src="/images/loader.gif")

  //- The message that gets displayed when there are no more classifieds
  #ajax-finish No classifieds