#page-hero(ng-style="{'background-image':'url(/images/hero/{{ heroURL }})'}")
  img(ng-image-loader!="/images/hero/{{ heroURL }}",
      ng-image-success="onHeroLoad")

section(ng-if="!parentCategory.id").category-chooser
  h1 Choose a category
  section(ng-include="'components/category-list'")
section(ng-if="parentCategory.id").category-results
  h1 {{ parentCategory.name }}
  h2(ng-if="childCategory.id") {{ childCategory.name }}
  .classified-list-container(ng-include="'components/classified-list'")
  #filterbox