section(ng-switch="!!classified")#classified
  .row(ng-switch-when="true")
    .columns
      ul.gallery.row.collapse(ng-if="classified.images")
        li.small-6.medium-4.large-3.columns.image-loading(ng-repeat="image in classified.images track by $index")
          a(href="/uploads/main/{{ image.file }}", style="background: {{ image.color }}")
            img.thumb(image-loader!="/uploads/thumb/{{ image.file }}", image-success="update", image-fail="update")

    h2.columns.title {{ classified.title }}
    ul.columns.tags
      li.whatsapp Whatsapp
      li.viber Viber
      li.green Free Delivery
      li.yellow Expired
      li.red Banned
      li.green Delivery included
      li.yellow Promoted
      li.red Urgent

    pre.columns.description(itemprop="description") {{ classified.description }}
    ul.meta.columns.medium-6
      li
        b Views:&nbsp;
        | {{ classified.views }}
      li
        b Price:&nbsp;
        | {{ classified.price | price }}
      li
        b Published:&nbsp;
        | {{ classified.created | prettydate }}
      li(ng-if='classified.category')
        b Category:&nbsp;
        | {{ classified.category | category }}&nbsp;
        span(ng-if="classified.childCategory") {{ classified.childCategory | category }}
      li(ng-if='classified.location')
        b Location:&nbsp;
        | Salwa
      li(ng-if='classified.address1')
        b Address:&nbsp;
        | ABCD Road, 213 fake street

    .user.columns.medium-6
      .avatar
      .details
        b Posted by&nbsp;
        .name John Doe
        b Member for: &nbsp;
        | 30 days

    .google-maps.columns
      .maps-container

    .disclaimer.columns
      b {{ "page.csingle.disclaimer-t" | translate }} &nbsp;
      | {{ "page.csingle.disclaimer" | translate }}

  .row(ng-switch-default)
    #ajax-spinner
      img(src="/images/loader.gif")