section(ng-switch="!!classified")#classified
  .row(ng-switch-when="true")
    .columns(ng-if="showClassified")
      ul.gallery.row.collapse(ng-if="classified.images")
        li.small-6.medium-4.large-3.columns.image-loading(ng-repeat="image in classified.images track by $index")
          a(target="_self", ng-href!="/uploads/main/{{ image.file }}", style="background: {{ image.color }}")
            img.thumb(image-loader!="/uploads/thumb/{{ image.file }}", image-success="update", image-fail="update")

    h2.columns.title {{ classified.title }}
    ul.columns.tags
      li.whatsapp(ng-if="classified.meta.whatsapp") Whatsapp
      li.viber(ng-if="classified.meta.viber") Viber
      li.yellow(ng-if="classified.status == 0") Under Review
      li.green(ng-if="classified.status == 1") Active
      li.red(ng-if="classified.status == 2") Rejected
      li.red(ng-if="classified.status == 3") Banned
      li.red(ng-if="classified.status == 4") Archived

      //- li.green Free Delivery
      //- li.yellow Expired
      //- li.red Banned
      //- li.green Delivery included
      //- li.yellow Promoted
      //- li.red Urgent

    pre.columns.description(itemprop="description", ng-if="showClassified")
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      | &nbsp;
      | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      //- {{ classified.description }}



    .columns(ng-if="showClassified")
      ul.meta.row
        li.large-3.medium-4.columns.end
          .meta-title Views
          .meta-value {{ classified.views || 0 }}
        li.large-3.medium-4.columns.end
          .meta-title Price
          .meta-value {{ classified.price | price }}
        li.large-3.medium-4.columns.end(ng-if="classified.created")
          .meta-title Published
          .meta-value {{ classified.created | prettydate }}
        li.large-3.medium-4.columns.end(ng-if="classified.category")
          .meta-title Category
          .meta-value {{ classified.category | category }}&nbsp;
          span(ng-if="classified.childCategory") {{ classified.childCategory | category }}
        li.large-3.medium-4.columns.end(ng-if="classified.location")
          .meta-title Location
          .meta-value {{ classified.location || location }}
        li.large-3.medium-4.columns.end(ng-if="classified.contact.address1")
          .meta-title Address
          .meta-value {{ classified.contact.address1 }}, {{ classified.contact.address2 }}


    .columns.user(ng-if="showClassified")
      .avatar
      .info
        .name John Doe
        div
          .email(ng-if="classified.contact.email && !classified.meta.hideEmail")
            b Email:
            a(ng-href="mailto:{{ classified.contact.email }}?subject=Reply to your classified: {{ classified.title }}") {{ classified.contact.email }}
          .phone(ng-if="classified.contact.phone")
            b Phone:
            a(href="tel:+965 123 1234434") +965 123 1234434
        a.contact(ng-click="showContactForm = true", ng-if="classified.contact.email") Contact Me

    .contact-form.columns(ng-if="showContactForm") I shall send your message!
    .google-maps.columns(ng-if="classified.meta.gmapX && showClassified", ng-init="drawMap(); mapHeight = window.innerHeight / 2", style="height: {{ window.innerHeight / 2 }}px")
      #maps-container


    .disclaimer.columns
      b Disclaimer:&nbsp;
      | By viewing this classified, you are agreeing to our&nbsp;
      a(target="_self", href="/terms-privacy") privacy conditions and terms of use
      | . It is your duty to ensure safety and authenticity while dealing with any
      | buyer/sellers.

  .row(ng-switch-default)
    #ajax-spinner
      img(src="/images/loader.gif")