//- Container for the admin panel
#admin-single

ul#single-messages

//- Container for the slideshow
section.c-gallery

//- Classified's details go in here
section.c-content
  .ajax-spinner
    img(src="/images/loader.gif")

//- Google Maps
.c-disclaimer.row
  b(lang-html="page.csingle.disclaimer-t") Disclaimer:
  |&nbsp;
  span(lang-html="page.csingle.disclaimer") By viewing this classified, you are agreeing to our <a href='/en/terms-privacy' data-view> privacy conditions and terms of use</a>. This site is never involved in any transaction, and does not handle payments, shipping, guarantee transactions, provide escrow services, or offer "buyer protection" or "seller certification" for any classified. It is your duty to ensure safety and authenticity while dealing with any buyer/sellers.

#promptModal.reveal-modal(data-reveal='', aria-hidden='true', role='dialog')
  h3 Please give your reason for <span>action</span> this classified
  .row.collapse
    textarea(name="message", required, placeholder="Your reason")

  .row.collapse
    .gcaptcha
    button.submit Submit
    ul.messages
  a.close-reveal-modal(aria-label='Close') &times;