//- Container for the admin panel
#admin-single

ul#single-messages

//- Container for the slideshow
#classified-container
  .ajax-spinner
    img(src="/images/loader.gif")

.row
  .columns.c-disclaimer
    b(lang-html="page.csingle.disclaimer-t")
    |&nbsp;
    span(lang-html="page.csingle.disclaimer")

#promptModal.reveal-modal(data-reveal='', aria-hidden='true', role='dialog')
  h3 Please give your reason for <span>action</span> this classified
  .row.collapse
    textarea(name="message", required, placeholder="Your reason")

  .row.collapse
    .gcaptcha
    button.submit Submit
    ul.messages
  a.close-reveal-modal(aria-label='Close') &times;