ul.classified-list-container.row(fn-scroll="onScroll",
  ng-init="loadingClassifieds=false; queryFinished=false"
  ng-style="{ 'display': (hideList ? 'none' : 'block') }")
  li.large-3.medium-4.small-6.columns(ng-repeat="classified in classifieds")
    a(ng-href="{{ urlTransform($index) }}")
      div(classified-list-item, ng-model="classifieds[$index]"
        ng-click="onClassifiedClick($index, classifieds[$index])")

.ajax-loading(ng-if="loadingClassifieds") Loading classifieds!

.ajax-finish(ng-if="!options.hideFinishMessage && queryFinished && classifieds.length > 0") {{ finishMessage }}
.ajax-finish(ng-if="queryFinished && classifieds.length == 0") {{ emptyMessage }}
