# Sublime files
*.sublime-project
*.sublime-workspace

# node files
/assets/.sass-cache
/assets/node_modules
/assets/npm-debug.log
/server/node_modules
/server/npm-debug.log
/npm-debug.log

# Compiled CSS & JS files, Uploads folder
/public/uploads
/public/javascripts/build
/public/stylesheets/build

# Hide server configuration file
/var/config.js

# hide log files
/var/*.log