# Sublime files
*.sublime-project
*.sublime-workspace

# node files
/assets/.sass-cache
/assets/node_modules
/assets/npm-debug.log
/server/node_modules
/server/npm-debug.log

# Compiled CSS & JS files, Uploads folder
/server/public/uploads
/server/public/javascripts
/server/public/stylesheets

# Hide server configuration file
/var/config.js

# hide log files
/var/*.log