# Sublime files
*.sublime-project
*.sublime-workspace

# node files
/assets/.sass-cache
/node_modules
/npm-debug.log

# Compiled CSS & JS files, Uploads folder & Docs
/public/uploads
/public/javascripts/build
/public/stylesheets/build
/server/**/*.js
/docs

# Hide server configuration file
/var/config.coffee

# hide log files
/var/log/*.log
/var/log/*.gz
/var/backups/*.tgz