extends ./email-template.jade

block definations
  - var title = 'Activate your account!'
  - var buttonLink = host + "/api/auth/email/activate/" + user._id + "?token=" + user.activationToken
  - var buttonText = 'Activate'

block content
  p(style='Margin-top: 0;color: #565656;font-family: Tahoma,sans-serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px')
    | Welcome to the Kuwait &amp; Me community #{user.name}! We hope you will have a wonderful time with us!
  p(style='Margin-top: 0;color: #565656;font-family: Tahoma,sans-serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px')
    | To finish your activation, click on the button below&nbsp;
    strong(style='font-weight: bold') within 3 days of recieving this email.
    | &nbsp;If you did not request for an account in our site, you can safely ignore this email.