header
	//- Main nav
	nav#main-nav.show-nav
		ul
			a(href="/", data-view)
				li.main-item.left.home &#xf015;
			a(href="/classified/search", data-view)
				li.main-item.left Browse classifieds
			a.loggedout(href="/guest/post", data-view)
				li.main-item.left Post Classified
			a.loggedin(href="/classified/post", data-view)
				li.main-item.left Post Classified
			a.loggedout(href="/auth/signup", data-view)
				li.main-item Signup
			a.loggedout(href="/auth/login", data-view)
				li.main-item Login
			a(href="#").loggedin
				li.main-item.settings &#xf013;
					ul.subnav
						li.user-title Welcome Jon
						li.user-credits You have 0 Credits
						li.user-thumb
						//- profile photo here
						li
							a(href="/credits") Buy Credits
						li
							a(href="/account", data-view) View Account
						li
							a(href="/auth/logout", data-view) Logout
				//- 	li Account
				//- 	li Logout