input#nav-trigger.nav-trigger.hide-for-large-up(type="checkbox")
label(for="nav-trigger").hide-for-large-up
	span.font-awesome &#xf0c9;
	span.font-title &nbsp;&nbsp;Menu
ul.navigation.hide-for-large-up
	li.nav-item
		a(href="/", data-view) Home
	li.nav-item
		a(href="/classified/search", data-view) Browse classifieds
	li.nav-item
		a(href="/classified/post", data-view) Post Classified
	li.nav-item
		a(href="#") Home
	li.nav-item
		a(href="#") Home

header.hide-if-loggedin
	nav#mobile-nav.show-nav.hide-for-large-up
	nav#main-nav.show-nav.show-for-large-up
		ul
			li.main-item.left.home
				a(href="/", data-view) &#xf015;
			li.main-item.hide-if-loggedin.left
				a(href="/guest/post", data-view) Post a Classified
			li.main-item.show-if-loggedin.left
				a(href="/classified/post", data-view) Post a Classified
			li.main-item.settings &#xf013;

				ul.subnav.hide-if-loggedin
					li.with-link
						a(href="/auth/login", data-view) Login
					li.with-link
						a(href="/auth/signup", data-view) Signup

				ul.subnav.show-if-loggedin
					li.user-title
						span Welcome
						.name
					li.user-credits
						span You have&nbsp;
						span.count 0
						span &nbsp;Credits
					li.user-thumb
						a(href="https://www.gravatar.com/")
							img(src='')
					li.with-link.disabled
						a(href="#") Buy Credits
					li.with-link
						a(href="/account", data-view) View Account
					li.with-link
						a(href="/auth/logout", data-view) Logout