//- input#nav-trigger.nav-trigger.hide-for-large-up(type="checkbox")
//- label(for="nav-trigger").hide-for-large-up
//-   span.font-awesome &#xf0c9;
//- ul.navigation.hide-for-large-up
//-   li.nav-item
//-     a(href="/", data-view) Home
//-   li.nav-item
//-     a(href="/classified/search", data-view) Browse classifieds
//-   li.main-item.hide-if-loggedin
//-     a(href="/guest/post", data-view) Post a Classified
//-   li.main-item.show-if-loggedin
//-     a(href="/classified/post", data-view) Post a Classified
//-   li.nav-item.hide-if-loggedin
//-     a(href="/auth/login", data-view) Login
//-   li.nav-item.hide-if-loggedin
//-     a(href="/auth/signup", data-view) Signup
//-   li.main-item.show-if-loggedin
//-     a(href="/auth/logout", data-view) Logout

header
  #header-search
    input(placeholder="search ...")
    #search-close.icon &#xf00d;
    //- #search-filter.icon &#xf0b0;

  nav#mobile-nav.hide-for-large-up
    #mobile-icon
      img(src='/images/header-logo.png')
    ul
      li.left.icon.search-trigger
        a &#xf002;
      li#nav-grabber &#xf0c9;
    #subheader

  nav#main-nav.show-for-large-up.hide-when-searching
    ul
      li.main-item.left.home.icon
        a(href="/", data-view) &#xf015;
      li.main-item.left.search-trigger.icon
        a &#xf002;
      li.main-item.hide-if-loggedin.left
        a(href="/guest/post", data-view) Post a Classified
      li.main-item.show-if-loggedin.left
        a(href="/classified/post", data-view) Post a Classified
      li.main-item.settings.icon &#xf013;

        ul.subnav.hide-if-loggedin
          li.with-link
            a(href="/auth/login", data-view) Login
          li.with-link
            a(href="/auth/signup", data-view) Signup

        ul.subnav.show-if-loggedin
          li.user-title
            span Welcome
            .name
          li.user-credits
            span You have&nbsp;
            span.count 0
            span &nbsp;Credits
          li.user-thumb
            a(href="https://www.gravatar.com/")
              img(src='')
          li.with-link
            a(href="/credits", data-view) Buy Credits
          li.with-link
            a(href="/account", data-view) View Account
          li.with-link
            a(href="/auth/logout", data-view) Logout