header
  #header-search
    form
      input(placeholder="search ...", name='keywords', type='text')
    #search-close.icon &#xf00d;
    #search-submit.icon &#xf002;
    //- #search4-filter.icon &#xf0b0;

  nav#mobile-nav.hide-for-large-up.hide-when-searching
    #mobile-icon
      a(href="/", data-view)
        img(src='/images/header-logo.png')
    ul
      li.left.icon.search-trigger
        a &#xf002;
      li#nav-grabber &#xf0c9;
    #subheader
      ul
        li.nav-item
          a(href="/", data-view) Home
        li.nav-item
          a(href="/classified/search", data-view) Browse classifieds
        li.main-item.hide-if-loggedin
          a(href="/guest/post", data-view) Post a Classified
        li.main-item.show-if-loggedin
          a(href="/classified/post", data-view) Post a Classified
        li.nav-item.hide-if-loggedin
          a(href="/auth/login", data-view) Login
        li.nav-item.hide-if-loggedin
          a(href="/auth/signup", data-view) Signup
        li.main-item.show-if-loggedin
          a(href="/account", data-view) Manage your account
        li.main-item.show-if-loggedin
          a(href="/auth/logout", data-view) Logout
        li.main-item
          a(href="/contact", data-view) Contact Us
        li.main-item
          a(href="/about", data-view) About Us
        li.main-item
          a(href="/terms-privacy", data-view) Terms &amp; Privacy
  nav#main-nav.show-for-large-up.hide-when-searching
    ul
      li.main-item.left.home.icon
        a(href="/", data-view) &#xf015;
      li.main-item.left.search-trigger.icon
        a &#xf002;
      li.main-item.settings.icon &#xf013;

        ul.subnav.hide-if-loggedin
          li.with-link
            a(href="/auth/login", data-view) Login
          li.with-link
            a(href="/auth/signup", data-view) Signup

        ul.subnav.show-if-loggedin
          li.user-title
            span Welcome
            .name
          li.user-credits
            span You have&nbsp;
            span.count 0
            span &nbsp;Credits
          li.user-thumb
            img(src='')
          li.with-link
            a(href="/account/credits", data-view) Buy Credits
          li.with-link
            a(href="/account", data-view) View Account
          li.with-link
            a(href="/auth/logout", data-view) Logout

  ul#sub-nav.show-for-large-up
    li
      a(href="/classified/search", data-view) Browse classifieds
    li.show-if-loggedin
      a(href="/classified/post", data-view) Post a classified
    li.hide-if-loggedin
      a(href="/guest/post", data-view) Post a classified
    li.show-if-loggedin
      a(href="/account", data-view) Manage your account
    li.hide-if-loggedin
      a(href="/auth/login", data-view) Login
    li.hide-if-loggedin
      a(href="/auth/signup", data-view) Signup
    li
      a(href="/contact", data-view) Contact Us
    li
      a(href="/about", data-view) About Us
    li
      a(href="/terms-privacy", data-view) Terms &amp; Privacy