header
	//- Main nav
	nav#main-nav
		ul
			a(href="/")
				li#nav-logo
			li.grabber#grabber-display
				.title Menu
				.icon &#xf0c9;

	ul#slider-nav
		li.grabber#grabber-hide &#xf0c9;
		a(href="/")
			li.search Home
		unless user
			a(href="/guest/post")
				li Post a Classified
			li.gap
			a(href="/auth/signup")
				li Signup
			a(href="/auth/login")
				li Login
		else
			a(href="/classified/post")
				li Post a Classified
			li.gap
			a(href="/auth/logout")
				li Logout
			a(href="/account/")
				li Account
		li.gap
		a(href="/privacy")
			li Privacy Policy
		a(href="/terms")
			li Terms &amp; Conditions