header
	//- Main nav
	nav#main-nav.show-nav
		ul
			a(href="/", data-view="landing")
				li.left.home &#xf015;
			a(href="/classified/search", data-view="classified-search")
				li.left Search classifieds
			a(href="/guest/post", data-view="guest-post").loggedout
				li.left Post Classified
			a(href="/classified/post", data-view="classified-post").loggedin
				li.left Post Classified
			a(href="/auth/signup", data-view="auth-signup").loggedout
				li Signup
			a(href="/auth/login", data-view="auth-login").loggedout
				li Login
			a(href="/auth/logout", data-view="auth-logout").loggedin
				li Logout
			a(href="/account/", data-view="account").loggedin
				li Account