header
	//- Main nav
	nav#main-nav.show-nav
		ul
			a(href="/", data-view)
				li.main-item.left.home &#xf015;
			a(href="/classified/search", data-view)
				li.main-item.left Browse classifieds
			a.loggedout(href="/guest/post", data-view)
				li.main-item.left Post Classified
			a.loggedin(href="/classified/post", data-view)
				li.main-item.left Post Classified
			a.loggedout(href="/auth/signup", data-view)
				li.main-item Signup
			a.loggedout(href="/auth/login", data-view)
				li.main-item Login
			a.loggedin
				li.main-item.settings &#xf013;
					ul.subnav
						li.user-title
							span Welcome
							.name
						li.user-credits
							span You have&nbsp;
							span.count 0
							span &nbsp;Credits
						li.user-thumb
							a(href="https://www.gravatar.com/")
								img(src='')
						//- profile photo here
						a(href="/credits", data-view)
							li.with-link Buy Credits
						a(href="/account", data-view)
							li.with-link View Account
						a(href="/auth/logout", data-view)
							li.with-link Logout
				//- 	li Account
				//- 	li Logout