header
	//- Main nav
	nav#main-nav.show-nav
		ul

			li.main-item.left.home
				a(href="/", data-view) &#xf015;
			li.main-item.left
				a(href="/classified/search", data-view) Browse classifieds
			li.main-item.loggedout.left
				a(href="/guest/post", data-view) Post Classified
			li.main-item.loggedin.left
				a(href="/classified/post", data-view) Post Classified
			li.main-item.loggedout
				a(href="/auth/signup", data-view) Signup
			li.main-item.loggedout
				a(href="/auth/login", data-view) Login
			li.main-item.settings.loggedin
				a(href="#") &#xf013;
				ul.subnav
					li.user-title
						span Welcome
						.name
					li.user-credits
						span You have&nbsp;
						span.count 0
						span &nbsp;Credits
					li.user-thumb
						a(href="https://www.gravatar.com/")
							img(src='')
					//- profile photo here
					li.with-link.disabled
						a(href="#") Buy Credits
					li.with-link
						a(href="/account", data-view) View Account
					li.with-link
						a(href="/auth/logout", data-view) Logout
			//- 	li Account
				//- 	li Logout