body#classified-search
  &:before
    background-image: url(/images/cat-spritesheet.jpg)
    content: ''
  // background: #000
  #page-hero:after
    content: ''


  main
    background: transparent

    #search-info
      padding: 250px 0 50px 0
      background-size: 100%

      h1, h2
        @extend .font-open
        color: #FFF
        margin: 0
        font-weight: bold
        padding: 0 1rem
        text-shadow: 1px 1px 2px #000
      h1
        // margin-top: 100px
        font-size: 3rem
      h2
        font-size: 1.3rem
      img
        display: none


    > section
      > section
        margin-top: 50px
        margin-bottom: 100px

      section[classified-list]
        background: #FFF
