#page-hero
  img(fn-image-loader!="<%= staticUrl %>/images/hero/{{ heroURL }}",
    fn-image-success="onHeroLoad()")

section.category-chooser.row(ng-if="!parentCategory.id")
  h1.columns Choose a category
  category-list

section(ng-if="parentCategory.id")
  h1 {{ parentCategory.name }}
  h2(ng-if="childCategory.id") {{ childCategory.name }}
  section(ng-if="displayClassifiedList")
    classified-list
