section.row
  #search-info.row(style!="background-image: url(<%= staticUrl %>/images/hero/{{ heroURL }})")
    img(fn-image-loader!="<%= staticUrl %>/images/hero/{{ heroURL }}",
      fn-image-success="onHeroLoad()")
    h1.columns {{ parentCategory.name }}
    h2.columns(ng-if="childCategory.id") {{ childCategory.name }}
  section(classified-interactive-list)
