body#account-credits
  padding-top: 50px
  // h1
    margin: 0
    padding: 40px

  .pricing-table
    overflow: hidden

    -webkit-border-radius: 6px
    -moz-border-radius: 6px
    border-radius: 6px

    .title, .button, .price
      @extend .font-title
    .button
      margin-bottom: 0
      color: #FFF