body#account-index
  main
    .columns
      color: #FFF
      padding: 1rem

      .content
        @extend .font-title
        background: #F60
        border-bottom: 4px solid #D9600F
        padding: 1rem
        text-align: center

  // background: #e8e8e8;
  // #aD9600Fccount-container
  //   @extend .row
  //   .block
  //     @extend .columns
  //     @extend .medium-4
  //     // @extend .large-4;
  //     padding: 20px
  //     a
  //       text-decoration: none
  //     .content
  //       +single-transition(background)
  //       background: #FFF
  //       cursor: pointer
  //       // padding: 20px;
  //       overflow: hidden
  //       border: 1px solid #f6f6f6
  //       border-bottom: 2px solid #FF6600
  //       // -webkit-border-radius: 3px;
  //       // -moz-border-radius: 3px;
  //       // border-radius: 3px;
  //       -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25)
  //       -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25)
  //       box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25)
  //       // &:hover { background: #fafafa; }
  //       .title
  //         @extend .font-title
  //         // border: 1px solid #eee;
  //         font-size: 24px
  //         padding: 20px
  //         // text-align: center;
  //       // .icon {
  //       //   font-size: 50px;
  //       //   padding: 20px;
  //       //   color: #FFF;
  //       //   background: #FF6600;
  //       //   text-align: center;
  //       // }
