html
  body
    | data-pid=&quot;{posts.pid}&quot; data-uid=&quot;{posts.uid}&quot; data-username=&quot;{posts.user.username}&quot; data-userslug=&quot;{posts.user.userslug}&quot; data-index=&quot;{posts.index}&quot; data-timestamp=&quot;{posts.timestamp}&quot; data-votes=&quot;{posts.votes}&quot; itemscope itemtype=&quot;http://schema.org/Comment&quot;
