.row
  h3.columns {{ 'page.cform.info.title' | translate }}
  .columns {{ 'page.cform.info.hint1' | translate }}
  p.columns {{ 'page.cform.info.hint2' | translate }}

.row#title
  .medium-3.columns
    label(for="right-label") {{ 'page.cform.info.label.title' | translate }}
  .medium-9.columns.error
    input(type="text", name="title", required, placeholder="{{ 'page.cform.info.placeholder.title' | translate }}")
    small.error

.row#description
  .medium-3.columns
    label(for="right-label") {{ 'page.cform.info.label.description' | translate }}
  .medium-9.columns.error
    textarea(name='description', required, placeholder="{{ 'page.cform.info.placeholder.description' | translate }}")
    small.error

.row#website
  .medium-3.columns
    label(for="right-label") {{ 'page.cform.info.label.website' | translate }}
  .medium-9.columns.error
    input(type="text", name="website", required, placeholder="{{'page.cform.info.placeholder.website' | translate }}")
    small.error