body#sharing-categories main
  table
    width: 100%
    margin: 2rem 0 1rem
    .columns
      margin-bottom: 0
    tr
      // margin-bottom: 10px
      td, th
        margin: 0
      &.head
        background: none

        th
          // background: #F1F1F1
          // border-bottom: 1px solid #CCC
          font-size: 14px
          padding: 14px 5px 13px
          text-align: left

      td
        font-size: 13px
        padding: 0.5em
      .center
        text-align: center !important

  sharing-category span
    color: #333
    font-size: 11px
    padding: 3px 6px