body#auth-guest, body#auth-forgot, body#auth-login, body#auth-signup,
body#auth-reset

  form
    input
      border: none
      padding: 0.8rem
      font-size: 0.8rem
      &:focus
        outline: none
      &[type='submit']
        background: #40d47e
        text-transform: uppercase
        color: #FFF
  h1
    @extend .font-title
    text-transform: uppercase
    font-size: 1rem
    padding: 1rem 0
  main .row
    // max-width: 320px
    // margin: 20px auto
  #social-login, form
    border: 1px solid #DDD
    border-bottom: 0
  #social-login
    text-align: center
    a
      @extend .font-awesome
      color: #fff
      display: block
      cursor: pointer
      padding: 0.8rem
      text-decoration: none
    .facebook
      background: #567CC5
    .google-plus
      background: #DF4A32
    .yahoo
      background: #514099
    .twitter
      background: #00C2F3

    border: none
    .input-row
      margin-bottom: 1rem
    small.error
      display: none
      margin-bottom: 0
    .show-error small.error
      display: block

  .extra-links
    text-align: center
    padding-top: 20px
    font-size: 0.8rem
    .columns
      padding-bottom: 1rem
    a
      color: #DF4A32
      text-decoration: none
      border-bottom: 2px solid #DF4A32
      font-weight: bold