body#auth-guest, body#auth-login, body#auth-signup {

	#main-container {
		border: none;
		background: none;

		.auth-title {
			@extend .font-title;
			padding: 25px;
			text-align: center;
			font-size: 30px;
		}

		form {
			margin: 0 auto;
			width: 300px;

			> section { margin-bottom: 10px; }
			input {
				border: 1px solid #DDD;
				border-bottom: 0;
				width: 100%;
				padding: 10px;

				&.submit {
					border: 0;
					border-bottom: 5px solid #27ae60;
					background: #2ecc71;
					color: #FFF;
					font-weight: 700;
				}
			}
		}

		.extra-links {
			text-align: center;
			padding-top: 20px;

			a {
				color: #27ae60;
				text-decoration: none;
				border-bottom: 1px solid #27ae60;
			}
		}
	}
}

body#auth-guest #main-container {
	padding: 20px;

	font-size: 14px;
	p { font-size: 18px; }
	a { text-decoration: none }
	.box {
		@include single-transition(background);
		color: #FFF;
		float: left;
		margin: 20px;
		margin-left: 0;
		text-align: center;
		width: 300px;

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;

		.icon {
			@extend .font-awesome;
			font-size: 40px;
			padding: 20px 0;
		}

		.title {
			@extend .font-title;
			font-size: 18px;
			padding: 15px 0;
		}

		&.login-post { background-color: #27AE61; }
		&.guest-post { background-color: #304861; }
		&.signup-post { background-color: #3598DC; }

		&:hover {
			&.login-post { background-color: #219B56; }
			&.guest-post { background-color: #25374A; }
			&.signup-post { background-color: #2C82BA; }
		}
	}
}