.pt-page.auth-guest, .pt-page.auth-forgot, .pt-page.auth-login, .pt-page.auth-signup,
.pt-page.auth-reset {
	border: none;

	#ajax-spinner {
		display: none;
		text-align: center;
		padding: 20px;
	}
	.auth-title {
		@extend .font-title;

		padding: 40px 0;
		text-align: center;
		font-size: 30px;
	}
	ul#auth-messages {
		padding: 0;
		margin: 0;

		li {
			color: #FFF;
			background: #E74C3C;
			padding: 10px;
			text-align: center;

			&.warning { background: #FD8603; }
			&.success { background: #2ecc71; }
			&.error { color: rgba(255, 255, 255, 0.75)}
		}
	}
	form {
		margin: 0 auto;
		width: 300px;
		> section {
			margin-bottom: 10px;
			overflow: hidden;
		}
		input {
			@include single-transition();
			border: 0;
			border-bottom: 1px solid #DDD;
			width: 100%;
			padding: 10px;
			margin: 5px 0;

			&:active, &:focus { outline: none }
			&:hover, &:active, &:focus {
				border-bottom: 1px solid #999;
			}

			&.submit {
				background: #2ecc71;
				color: #FFF;
				margin-top: 10px;
				@include single-transition(background);

				&:hover { background: #27ae60; }
			}
		}
	}

	.extra-links {
		text-align: center;
		padding-top: 20px;

		a {
			color: #27ae60;
			text-decoration: none;
			border-bottom: 1px solid #27ae60;
		}
	}
}

.pt-page.auth-guest #main-container {
	padding: 20px;

	font-size: 14px;
	p { font-size: 18px; }
	a { text-decoration: none }
	.box {
		@include single-transition(background);
		color: #FFF;
		float: left;
		margin: 20px;
		margin-left: 0;
		text-align: center;
		width: 300px;

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;

		.icon {
			@extend .font-awesome;
			font-size: 40px;
			padding: 20px 0;
		}

		.title {
			@extend .font-title;
			font-size: 18px;
			padding: 15px 0;
		}

		&.login-post { background-color: #27AE61; }
		&.guest-post { background-color: #304861; }
		&.signup-post { background-color: #3598DC; }

		&:hover {
			&.login-post { background-color: #219B56; }
			&.guest-post { background-color: #25374A; }
			&.signup-post { background-color: #2C82BA; }
		}
	}
}