body#classified-search
  min-height: 100%
  background: #f6f6f6
  // #search-results {
  // 	padding: 1px;
  // }
  #ajax-spinner
    display: none
    text-align: center
    padding: 20px
  #ajax-finish
    @extend .font-title
    color: #AAA
    display: none
    margin: 20px 0 0
    padding: 20px
    text-align: center
    text-transform: uppercase
