.pt-page#classified-finish {
	text-align: center;

	#classified-preview {
		@extend body#classified-search;
		padding-bottom: 30px;
	}
	.page {
		padding: 20px;
	}
	.congratz {
		@extend .font-title;
		font-size: 30px;
		text-align: center;
		padding: 10px;
	}
	.sub-title {
		font-size: 18px;
		text-align: center;
		padding: 5px;
	}

	.social {
		@include clearfix();
		display: inline-block;
		margin-bottom: 30px;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;

		div {
			@extend .font-awesome;
			color: #FFF;
			float: left;
			font-size: 20px;
			padding: 10px 0;
			margin: 20px 10px;
			text-align: center;
			width: 50px;

			-webkit-border-radius: 25px;
			-moz-border-radius: 25px;
			border-radius: 25px;

		}
		.facebook div {background: #3B5390;}
		.twitter div {background: #00AFEB;}
		.gplus div {background: #CC4534;}
	}

	.tab {
		border-top: 1px solid #DDD;
		margin-top: 15px;
		margin: 0 auto;
		text-align: center;

		a { text-decoration: none; }
		.tab-title {
			@extend .font-title;
			color: #000;
			font-size: 24px;
			padding: 15px;
			text-align: center;

			&.preview {
				// @extend .font-text;
				font-size: 14px;
				padding: 6px;
				padding-bottom: 0;
				text-transform: uppercase;
			}
		}
		.tab-perk {
			background: #FFF;
			border: 1px solid #CCC;
			display: inline-block;
			margin: 10px;
			overflow: hidden;
			text-align: left;
			width: 300px;

			-webkit-border-radius: 03px;
			-moz-border-radius: 03px;
			border-radius: 03px;

			.buy-button {
				background: #1abc9c;
				color: #FFF;
				display: inline-block;
				padding: 10px;
				margin: 10px auto;
				&:hover { background: #16a085; }
			}
			&#tab-payment {
				display: none;
				margin: 0 auto;
			}
			.perk-title {
				@extend .font-title;
				font-size: 18px;
				padding: 10px;
				text-align: center;
			}
			.hint {
				padding: 10px;
				margin-left: 0;
				margin-top: 0;
			}
			.price, .button {
				@extend .font-title;
				@include single-transition(background);
				color: #FFF;
				background: #999;
				cursor: pointer;
				font-size: 16px;
				padding: 10px;
				text-align: center;
				width: 100%;
				display: none;

				&.active { display: block; }
			}
			&.enabled .button {
				background: #1abc9c;
				// &:hover { background: #16a085; }
			}
			&.switch .button{
				display: block;
				&.active { display: none; }
			}
			&.active .button {
				background: #3B99D9;
				&:hover { background: #2379B6e; }
			}
			.button.cancel {
				background: #e74c3c;
			}
			.total {
				padding: 10px;
				span {
					font-weight: bold;
				}
			}
			.submit {
				background: #3498db;
				width: 100%;
				&:hover { background: #2980b9; }
			}
		}
	}
	.modal-inner {
		padding: 15px;
		// padding-top: 45px;

		#payment-errors {
			background: #FA2A00;
			padding: 10px;
			display: none;
			margin: 5px 0;
			color: #FFF;

			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}
		.title {
			@extend .font-title;
			font-size: 18px;
			padding: 15px;
		}

		form {
			$border-color: #DDD;
			@extend .row;
			border-top: 1px solid $border-color;
			border-left: 1px solid $border-color;

		input, select {
				height: 43px;
				@extend .columns;
				@extend .medium-12;
				background: #FFF;
				border-bottom: 1px solid $border-color;
				border-right: 1px solid $border-color;

				&.by-three { @extend .medium-4;}
				&.by-two { @extend .medium-6;}
			}
		}
		.order {
			font-size: 13px;
			padding: 15px 0;
		}
		.button {
			background: #3498db;
			color: #FFF;
			cursor: pointer;
			padding: 10px;
			width: 100%;
			&:hover { background: #2980b9; }
		}
		.message {
			font-size: 16px;
			padding: 15px;
		}
	}
	#ajax-spinner {
		width: 100px;
		height: 100px;
	}
	#classified-sample {
		text-align: left;
		@extend .classified-list;

		> li {
			float: none !important;
			margin: 0 auto;
		}
	}
	#panel-1 {display: block}
	#panel-2 {display: none}
	.switch {
		#panel-2 {display: block !important}
		#panel-1 {display: none !important}
	}
	@media #{$small-only} {
		.modal-inner {
			padding-top: 0;
		}
	}
}