.pt-page.classified-search {
	height: 100%;

	#ajax-spinner {
		text-align: center;
		margin: 10px;
	}
	#ajax-finish {
		@extend .font-title;
		color: #AAA;
		display: none;
		margin: 20px;
		padding: 20px;
		text-align: center;
		text-transform: uppercase;
	}
}