body#classified-finish {
	.tab {
		@extend .row;
		.tab-title {
			@extend .font-title;
			font-size: 24px;
			color: #000;
			padding: 10px;

		}
	}
	.tab-perk {
		background: #FFF;
		border: 1px solid #CCC;
		margin: 10px;
		width: 400px;
		overflow: hidden;
		float: left;

		-webkit-border-radius: 03px;
		-moz-border-radius: 03px;
		border-radius: 03px;

		&#tab-payment { display: none }
		.perk-title {
			padding: 10px;
			@extend .font-title;
			font-size: 18px;
		}
		.hint {
			padding: 10px;
			margin-left: 0;
			margin-top: 0;
		}
		.price, .total {
			@extend .font-title;
			@include single-transition(background);
			background: #1abc9c;
			color: #FFF;
			cursor: pointer;
			font-size: 16px;
			padding: 10px;
			text-align: center;
			width: 100%;

			&:hover { background: #16a085; }
		}
		&.active .price {
			background: #e74c3c;
			&:hover { background: #c0392b; }
		}
		.total {
			background: #3498db;
			&:hover { background: #2980b9; }
		}
	}
}