body#landing
  // background: #FFF

  main
    background: transparent
    // margin-top: 200px

  #page-hero
    background-image: url('/images/hero/landing.jpg')

  #splash
    text-align: center
    min-height: 400px

    h1
      color: #FFF
      // @extend .font-text
      // text-transform: uppercase
      font-size: 1rem
      background: rgba(255,255,255,0.9)
      display: inline-block
      padding: 1rem 2rem
      color: #000

  h4
    font-size: 1.05em
    text-align: center
    padding: 1px
    margin-bottom: 1rem
  #featured-classifieds
    padding-top: 20px
    .classified-list
      margin: 0
  #featured-classifieds, #landing-categories
    // max-width: 90%
    > h2
      background: #FFF
      color: #000
      display: inline-block
      font-size: 0.9rem
      margin-bottom: 0
      padding: 0.5rem 1rem
      text-transform: uppercase
  // #landing-social
  //   +clearfix
  //   @extend .font-awesome
  //   position: absolute
  //   right: 10px
  //   top: 110px
  //   @media only screen and (max-width: 64.063em)
  //     top: 75px
  //   li
  //     float: right
  // #landing-categories
  //   +single-transition(height)
  //   margin: 100px auto
  //   .categories-list
  //     margin: 0

  // #landing-footer
  //   @extend .font-title
  //   color: #999
  //   font-size: 12px
  //   text-align: center
  // #landing-section
  //   #landing-logo
  //     max-width: 75%
  //     margin: 20px auto
  //     text-align: center
  //   ul#landing-extra
  //     +clearfix
  //     color: #000
  //     display: inline-block
  //     margin: 0 auto
  //     padding: 0
  //     text-align: center
  //   #landing-message a, ul#landing-extra li
  //     @extend .font-title
  //     +single-transition
  //     border-bottom: 1px solid #DDD
  //     float: left
  //     font-size: 12px
  //     margin: 7px
  //     &:hover
  //       border-bottom: 2px solid #FF6600
  //   #landing-message
  //     margin-top: 30px
  //     font-size: 13px
  //     @extend .font-title
  //     a
  //       text-decoration: none
  //       float: none
  //       margin: 0
  //   #search-form
  //     margin: 100px 0
  //     text-align: center
  //     width: 100%
  //     form
  //       font-size: 14px
  //       margin: 0 auto
  //       max-width: 600px
  //       position: relative
  //       width: 85%
  //       .search-bar
  //         +single-transition
  //         border: 1px solid #d9d9d9
  //         border-top-color: #c0c0c0
  //         padding: 20px 10px
  //         outline: none
  //       .search-button
  //         @extend .font-awesome
  //         background: none
  //         border: none
  //         color: #000
  //         height: 100%
  //         padding: 10px 0
  //         position: absolute
  //         right: 0
  //         top: 0
  //         width: 40px