.pt-page.landing {
	background: #FFF;
	min-height: 310px;
	// overflow-y: none;

	h1, h3 { text-align: center; padding: 1px;}
	.shadow {
		text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
			0px 8px 13px rgba(0,0,0,0.1),
			0px 18px 23px rgba(0,0,0,0.1);
	}
	#landing-logo {
		max-width: 75%;
		margin: 20px auto;
		text-align: center;
	}
	ul#landing-extra {
		@include clearfix();
		color: #000;
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		text-align: center;
	}
	#landing-message a, ul#landing-extra li {
		@extend .font-title;
		@include single-transition();
		border-bottom: 1px solid #DDD;
		float: left;
		font-size: 13px;
		margin: 10px;

		&:hover { border-bottom: 2px solid #FF6600; }
	}
	#landing-message {
		margin-top: 30px;
		font-size: 13px;
		@extend .font-title;

		a {
			text-decoration: none;
			float: none;
			margin: 0;
		}
	}
	#search-classified {
		$height: 240px;
		left: 0%;
		margin-top: -0.75 * $height;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 100%;

		form {
			font-size: 14px;
			// font-weight: bold;
			// padding: 40px 30px;
			// padding-right: 70px;
			width: 90%;
			max-width: 600px;
			margin: 0 auto;
			position: relative;

			.search-bar {
				@include single-transition();
				border: 1px solid #d9d9d9;
				border-top-color: #c0c0c0;
			}
			.search-bar {
				&:hover, &:active, &:focus {
					outline: none;
					border-color: #FF6600;
				}
			}
			.search-button {
				@extend .font-awesome;
				background: none;
				border: none;
				height: 100%;
				padding: 10px 0;
				position: absolute;
				right: 0;
				top: 0;
				width: 40px;
			}
		}
	}
	#post-classified {
		background: url('/images/patterns/dark_embroidery.png');
		color: #FFF;
		margin-top: 30px;
		padding: 30px;
		text-align: center;
		width: 100%;

		text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
			0px 8px 13px rgba(0,0,0,0.1),
			0px 18px 23px rgba(0,0,0,0.1);

		h1 { margin: 0; }
		.post-button {
			@include single-transition();
			border: 2px solid #FFF;
			display: inline-block;
			font-size: 14px;
			margin: 40px 0;
			padding: 10px 20px;
			text-decoration: none;
			text-transform: uppercase;

			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			text-shadow: none;

			&:hover {
				background: #FFF;
				color: #363636;
			}
		}
	}

// 	#masonry-container {
// 		padding-top: 15px;

// 		.content {
// 			margin: 0 auto;
// 			padding: 0;

// 			.cl-item {
// 				max-width: 350px;
// 				padding: 10px;
// 				width: 100%;

// 				.cl-container {
// 					background: #FFF;
// 					border: 1px solid #DDD;
// 					overflow: hidden;

// 					.cl-title {
// 						@extend .font-title;
// 						@include single-transition(padding);
// 						color: #FFF;
// 						cursor: pointer;
// 						font-size: 20px;
// 						padding: 50px 0;
// 						text-align: center;

// 					}
// 					.cl-content {
// 						ul.cl-list {
// 							@include clearfix();
// 							@include single-transition(height);
// 							height: 0;
// 							margin: 0;
// 							overflow: hidden;
// 							padding: 0;

// 							a { text-decoration: none; }
// 							li {
// 								@include single-transition(background);
// 								border-bottom: 1px solid #EEE;
// 								float: left;
// 								height: 53px;
// 								padding: 5px 10px;
// 								width: 50%;

// 								&:hover { background: #f9f9f9; }
// 							}
// 							a:nth-child(odd) li { border-right: 1px solid #EEE; }
// 							.count {
// 								color: #999;
// 								font-size: 10px;
// 							}
// 						}
// 						.cl-footer {
// 							color: #666;
// 							font-size: 10px;
// 							padding: 5px;
// 							text-align: center;
// 							text-transform: uppercase;
// 						}
// 					}
// 					&.active .cl-title { padding: 10px 0; }
// 				}
// 			}

// 			.sprite-cat {
// 				background-image: url(/images/cat-spritesheet.png);
// 				background-repeat: repeat-x;
// 				display: block;

// 				&.Classes {background-position: 0 0;}
// 				&.Community {background-position: 0 -133px;}
// 				&.Jobs {background-position: 0 -266px;}
// 				&.Personal {background-position: 0 -399px;}
// 				&.Pets {background-position: 0 -532px;}
// 				&.Real {background-position: 0 -665px;}
// 				&.Rent {background-position: 0 -798px;}
// 				&.Sale {background-position: 0 -931px;}
// 				&.Services {background-position: 0 -1064px;}
// 				&.Vehicles {background-position: 0 -1197px;}
// 			}
// 		}
// 	}
}