.pt-page.privacy {
	.content {
		max-width: 750px;
		margin: 0 auto;
		padding: 30px;

		li { list-style: disc; }

		.sub-title {
			margin-top: 15px;
			font-size: 24px;
			@extend .font-title;
		}
	}
}