#page-hero
  img(ng-image-loader!="/images/hero/{{ heroURL }}",
      ng-image-success="onHeroLoad")

.row
  h1.columns Awesome! Your classified has been uploaded
section.row
  p.columns
    | Your classified has been uploaded and is now online. It will be reviewed by
    | our moderators just to make sure that everything falls in place.
  p.columns It will be online for 90 days after which it will automatically expire.

  .columns
    ul.social-links.row
      li.medium-4.columns
        a(href="{{ classified.social.facebook }}").facebook.row
          .icon.small-3.columns &#xf09a;
          .text.small-9.columns Share on Facebook
      li.medium-4.columns
        a(href="{{ classified.social.twitter }}").twitter.row
          .icon.small-3.columns &#xf099;
          .text.small-9.columns Tweet on Twitter
      li.medium-4.columns
        a(href="{{ classified.social.gplus }}").gplus.row
          .icon.small-3.columns &#xf0d5;
          .text.small-9.columns Share on Google+
.row.collapse
  .columns
    a.button.submit(ng-href="/{{ classified.slug }}") View your classified