#page-hero
  img(ng-image-loader!="<%= staticUrl %>/images/hero/{{ heroURL }}",
    ng-image-success="onHeroLoad")

.row
  h1.columns Post a classified
  h3.columns Your classified usually goes online within the hour! It is quick and easy, so let's get you started!
  h3.columns By submitting this classified you agree that you have read our <a href="/info/terms-privacy">terms of use and privacy.</a>

section(ng-include="'components/classified-form'")