|<%
|var classes = "";
|if(!obj.image) classes = "no-thumb ";
|if(obj.perks) {
|   if(perks.urgent) classes += "perk-urgent ";
|   if(perks.promoted) classes += "perk-promoted ";
|}
|%>
li.classified(class!="<%= classes %>")
  a(href!="<%= lang.href %>/classified/<%= _id %>", data-view="classified-single")
    .container
      <% if(perks.urgent) { %>
      .urgent-banner Urgent
      <% } %>
      |<% if(obj.image) { %>
      .thumb(style!="background: <%= image.color %>")
        img(src!="/uploads/thumb/<%= image.file %>", alt!="<%= title %>")
      |<% } %>
      .c-info
        h1.c-title <%= title %>
        .c-meta.row.collapse
          b.columns.small-6 <%= price %>
          span.columns.small-6 <%= created %>
      |<%
      | var cl="", message="";
      | switch(status) {
      |  case 0: cl="warn";  message="Awaiting Moderation"; break;
      |  case 1: cl="";      message="Active"; break;
      |  case 2: cl="error"; message="Rejected"; break;
      |  case 3: cl="error"; message="Archived"; break;
      |  case 4: cl="error"; message="Banned"; break;
      |  case 5: cl="error"; message="Flagged"; break;
      | }
      |%>
      <% if(showStatus) { %>
      .c-status(class!="<%= cl %>") <%= message %>
      <% } %>