#filterbox-icon &#xf0b0;
#filterbox-modal.large-9.row.reveal-modal(data-reveal)
  .keywords.columns
    input(type="text", name="keywords", placeholder='Type your keywords here')#filter-keywords.search-bar
  .columns
    .row
      .columns
        .row.collapse
          .small-5.columns
            label.inline(for="right-label") Price
          .small-7.columns
            select#select-price(data-field="price")
              option All
              option Free
              //- option Range
              option Contact Owner
      .columns
        .row.collapse
          .small-5.columns
            label.inline(for="right-label") Type
          .small-7.columns
            select#select-type(data-field="type")
              option(value='') All
              option(value='0') Offering
              option(value='1') Wanted
      .columns
        .row.collapse
          .small-5.columns
            label.inline(for="right-label") Category
          .small-7.columns
            select#select-category
              option(value="", disabled, lang-html='page.cform.details.category.choose')
          .small-7.columns#child-row.hide
            select#select-subcategory
              option(value="", disabled) Choose a sub-category
      .columns
        .row.collapse
          .small-5.columns
            label.inline(for="right-label") Location
          .small-7.columns
            select#select-location
              option(value="", disabled, selected, lang-html='page.cform.details.location.select')
              option(value="", lang-html='page.cform.details.location.select-none')
  button.submit Save filters
  //- a.close-reveal-modal(aria-label="Close") &#215;
    //- li.result-count found 123,232 classifieds