#payment-modal.reveal-modal(data-reveal='', aria-labelledby='firstModalTitle', aria-hidden='true', role='dialog')
  .row.collapse
    form
      .card-wrapper.large-6.columns
      .large-6.columns
        .row.collapse
          .small-12.columns
            input(type='text', name='name', placeholder="Full Name")
          .small-12.columns
            input(type='text', name='number', placeholder="Card Number")
          .small-6.columns
            input(type='text', name='expiry', placeholder="MM/YY")
          .small-6.columns
            input(type='text', name='cvc', placeholder="CVC")
    .columns
      h2#firstModalTitle Buy <span class="buycredit-count">##</span> credits
      p
        | You are about to buy <span class="buycredit-count">##</span> credits. Please fill in your credit card details
        | above. Your payment will be secured by <a href="https://www.2checkout.com/">2checkout.com</a> and the site
        | will not store any credit card information.
      p Please note that your payment will take place in USD. Using fixed rates, <span class="kwd"></span> is
        | <span class='usd-converted'>$33.28</span>.&nbsp;
        b We will charge you <span class="usd">$30</span> (<span class="usd-diff">-$3.28</span>) instead.
      input.submit(type='submit', value='Process Transaction')
      .ajax-spinner
        img(src="/images/loader.gif")
  a.close-reveal-modal(aria-label='Close') &times;