section[category-list]
  ul
    +clearfix
    +single-transition
    +force-gpu
    background: #FFF

  li
    float: left
    background: #FFF
    padding: 7px

    .container
      overflow: hidden

    .image
      @extend .font-title
      background-position: 50% 50%
      background-size: cover
      background: #fff
      color: #FFF
      cursor: pointer
      position: relative
      text-align: center
      text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 0px

    h2.title
      font-size: 0.8rem
      height: 100%
      margin: 5px
      width: 100%
      z-index: 1

    .total-count
      color: #FFF
      position: absolute
      left: 5px
      bottom: 0
      font-size: 0.8rem
      margin: 5px

    .children
      +single-transition(height)
      height: 0
      overflow: hidden
      .child
        font-size: 0.8rem
        position: relative
        h2, h3, h4
          @extend .font-text
          font-size: 12px
          margin: 0
        a
          display: block
          text-decoration: none
          padding: 5px 10px
          width: 80%
          &:hover
            color: blue
            text-decoration: underline
        .count
          position: absolute
          top: 5px
          color: #999
          font-size: 12px
          right: 5px
        &:nth-child(odd)
          background: #f9f9f9

    .active
      .total-count
        display: none

    &.show-children
      .sprite-container
        height: 100px
      .children
        height: auto
      .total-count, .title
        display: none

    .cat-sprite
      background: #000
      background-image: url(/images/cat-spritesheet.jpg)
      background-repeat: no-repeat
      // background-size: cover
      display: block
      height: 200px
      &:after
        background: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 20%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,1) 100%)
        background: linear-gradient(to bottom, rgba(0,0,0,0) 20%,rgba(0,0,0,0.4) 50%,rgba(0,0,0,1) 100%)
        height: 100%
        min-height: 100%
        min-width: 100%
        left: 0
        position: absolute
        top: 0
        content: ""
        width: 100%
    .sprite-container
      +single-transition
      position: relative
      overflow: hidden
      height: 150px
      width: 100%
    .careers
      background-position: 50% -1000px
    .pets
      background-position: 50% -1800px
    .community
      background-position: 50% -400px
    .electronics
      background-position: 50% -600px
    .general
      background-position: 50% -800px
    .hobbies
      background-position: 50% -200px
    .matrimonial
      background-position: 50% -1200px
    .miscellaneous
      background-position: 50% -1400px
    .music
      background-position: 50% -1600px
    .property
      background-position: 50% -2000px
    .services
      background-position: 50% 0
    .vehicles
      background-position: 50% -2200px
