ul.row
  li.columns.large-3.medium-4.small-6(ng-repeat="category in categories",
    ng-class="category.extraClass")
    .container
      .sprite-container
        .image.cat-sprite(class="{{ category.sprite }}",
          ng-click="category.toggleChildren()")
        .total-count {{ category.count }} classifieds
      h2.title {{ category.name }}
      .children
        .child(ng-repeat="child in category.children")
          h3
            a(href="/classified/{{ category.slug }}/{{ child.slug }}") {{ child.name }}
          .count {{ child.count }}
        .child
          h3
            a(href="/classified/{{ category.slug }}") View all
            //-{{ "comp.category.viewall" | translate }}
          .count {{ category.count }}
