html
  body
    p [[email:greeting_with_name, {username}]],
    p
      strong [[email:welcome.text1, {site_title}]]
    p [[email:welcome.text3]]
    p
      | [[email:closing]]
      br
      | &#x9;
      strong {site_title}
