html
  body
    p [[email:greeting_with_name, {username}]],
    p [[email:reset.notify.text1, {date}]]
    p [[email:reset.notify.text2]]
    p
      | [[email:closing]]
      br
      | &#x9;
      strong {site_title}
