.row
  h2.columns About
  p.columns.
    <b>The Big Indian sharing</b> is a link-aggregation site made specially for
    startups in india. It brings you the most relevant and lastest sharing from
    many different sources.

  p.columns.
    The site is similar to
    <a href="https://sharing.ycombinator.com/">Hacker sharing</a>,
    <a href="https://www.reddit.com/">Reddit</a>, and
    <a href="https://lobste.rs/">Lobsters</a>. It borrows some ideas from these
    sites and also tries to fix problems specific to each of them.

  p.columns.
    The site was created by <b>Steven Enamakel</b> and was released publically
    on August 2015. It is free, <a href="https://github.com/enamakel/thebigindian.sharing">open-source</a>
    and is always going to be ad free. <a fn-route="/info/contribute">Contribute</a>
    and help keep the site running!


  h2.columns How to use
  ul.columns
    li.
      The homepage will contain the most relevant links (also called as stories).
      Stories are ranked by the community so that good quality ones are placed
      above others.
    li.
      When you click on a story, you navigate to the story's link (Just like Google).
    li.
      You can discuss a story navigating to the story's page. The link's
      page is found by clicking on the 'discuss' or the 'comments' keyword
    li.
      You can customize your experience with the site by going over to the
      <a fn-route="/settings">settings</a> page.