doctype html
html(lang="en")
  head
    include ./include/head.jade
  body
    #page-progressbar
    include ./include/header.jade

    //- Message container
    ul#messages
    //- Here goes the main content of the site
    main
      .robots.hide
        block robots

    for template in templates
      script(type="text/template", data-template="#{template.name}")!= template.html

    include ./include/footer.jade