doctype html
html(lang="en")
	head
		include ./include/head.jade
	body
		#page-progressbar
		include ./include/header.jade

		//- Here goes the main content of the site
		main
			//- Message container
			ul#messages
			#pt-main.pt-perspective
				//- Site content
				.pt-page(class="#{bodyid}")
					block content

		include ./include/footer.jade