doctype html
html(lang= lang, dir= dir, ng-app="App", ng-controller="master")
  head
    include ./include/head.jade
    meta(name="robots", content="noindex", ng-if="meta.robotsNoIndex")

  body(itemscope, itemtype="http://schema.org/WebSite", id="{{ bodyid }}", ng-class="bodyClasses", ng-style="bodyStyles", ng-cloak)
    #fb-root

    meta(itemprop="url" content="https://kuwaitandme.com/")
    header(ng-include="'components/header'")

    #page-loader
      #page-loading-bar

    //- section#page-hero

    //- Here goes the main content of the site
    main(ui-view)
      .robots.hide
        block robots
      block content

    include ./include/footer.jade