html
  body
    // BEGIN groups
    .col-lg-4.col-md-6.col-sm-12(component='groups/summary', data-slug='{groups.slug}')
      .panel.panel-default
        .panel-heading.list-cover(style='<!-- IF groups.cover:url -->background-image: url({groups.cover:url});<!-- ENDIF groups.cover:url -->')
          h3.panel-title
            | {groups.displayName} 
            small {groups.memberCount}
        | &#x9;&#x9;&#x9;
        .panel-body
          ul.members
            // BEGIN members
            li
              a(href='{config.relative_path}/user/{groups.members.userslug}')
                img(src='{groups.members.picture}', title='{groups.members.userslug}')
            // END members
            // IF groups.truncated
            li.truncated
              i.fa.fa-ellipsis-h
            // ENDIF groups.truncated
    // END groups
