section(ng-if="story.id")
  news-item(ng-model="story")
  .description(ng-bind-html="description")
  .row.collapse
    form.row.collapse(name="form", ng-class="formClasses")
      .columns
        textarea.field.main-commentbox.show-if-loggedin(ng-model="comment"
          ng-disabled="formLoading"
          maxlength=3000
          placeholder="Comment on this link."
          required)
        a.hide-if-loggedin(fn-route="/login")
          textarea.field.main-commentbox(
            placeholder="you need to be logged in to comment"
            disabled)

      .columns(ng-if="form.$valid")
        button(ng-click="submit(comment)") Submit


  p(ng-repeat="comment in story.comments")
    news-comment(ng-model="comment")

