extends ../layout.jade

block robots
  //- each classified in data.classifieds
  //-   if classified
  //-     span(itemscope itemtype="http://schema.org/Product")
  //-       h2(itemprop="name")= classified.title
  //-       a(href="/#{classified.slug}", itemprop="url")= classified.title
  //-       span(itemprop="offers", itemscope, itemtype="http://schema.org/Offer")
  //-         span(itemprop="price", content="#{ classified.priceValue || 0 }")
  //-         span.meta-value(itemprop="priceCurrency", content="KWD")
  //- a(href="/classified") Search classifieds
