section(classified-single, ng-model="classified", ng-if="classified")

.seperator

section.row(ng-if="classified")
  h2.columns Similar classifieds
  section.columns(classified-list, ng-model="similarListOptions")

.seperator

section.row(ng-if="classified")
  h2.columns More classifieds by this user
  section.columns(classified-list, ng-model="userListOptions")
