a, a:visited, a:active
  color: inherit
  &.clean
    text-decoration: none

html, body
  transition: "1s ease-in-out"

.wait, .wait *
  cursor: wait !important

li, ul
  list-style: none
ul
  padding-left: 0
ol
  > li
    list-style: decimal

.text-unselectable
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none

.blue
  color: blue

@media all
  .page-break
    display: none

@media print
  .page-break
    display: block
    page-break-before: always


.seperator
  background: $global-border-colour
  height: 1px
  margin: $global-margin 0
  width: 100%

body
  background: #FFF
  margin: 0
  position: relative
  .hide-if-loggedin
    display: block
  .show-if-loggedin
    display: none
  &.logged-in
    .show-if-loggedin
      display: block
    .hide-if-loggedin
      display: none

h1, h2, h3, h4, h5, h6
  @extend .font-cantarell
  font-weight: 400
h1
  text-transform: uppercase

// .input, input, textarea, select {
//   border: 0;
//   display: inline-block;
//   overflow: hidden;
//   padding-right: -10px;
//   padding: 10px;
//   width: 100%;

//   @include single-transition(background);

//   &.submit {
//     background: #2ecc71;
//     // border-bottom: 5px solid #27ae60 !important;
//     border: 0;
//     color: #FFF;
//     font-weight: 700;
//     padding: 10px 30px;
//     width: auto;
//   }
// }

.gmnoprint img
  max-width: none

.ajax-spinner
  padding: 20px
  text-align: center

.stop-scrolling
  height: 100%
  overflow: hidden

button
  +single-transition
  +radius(3px)
  @extend .font-cantarell
  background: #2ecc71
  border: 0
  color: #FFF
  cursor: pointer
  font-size: 0.9rem
  height: 46px
  padding: 10px 30px
  text-transform: uppercase
  width: 100%
  z-index: 3
  &:hover, &:focus
    outline: none
    &:after
      background: #2cc36b
  &.error
    background: $color-error
