#filterbox-icon
  @extend .font-awesome
  background: #FF6600
  bottom: 30px
  color: #FFF
  cursor: pointer
  height: 55px
  left: 30px
  padding: 20px
  position: fixed
  text-align: center
  width: 55px

  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3)
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3)
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3)

  -webkit-border-radius: 200px
  -moz-border-radius: 200px
  border-radius: 200px
#filterbox-modal
  padding: 0
  padding-top: 2rem
  background: #fefefe
  min-height: 0
  border: 0
  border-radius: 0
  .title
    float: left
  label
    @extend .font-title
    font-size: 12px
    padding: 0.7625rem 0
  input, select
    font-size: 12px
    outline: none
  .keywords
    position: relative
    .search-bar
      border-bottom: 1px solid #EEE
      padding: 10px
      &:active, &:focus
        outline: none
  .submit
    background: #2ecc71
    width: 100%