=single-transition($property: all, $speed: 300ms, $ease: ease-out)
  transition: $property $speed $ease
  -moz-transition: $property $speed $ease
  -webkit-transition: $property $speed $ease


=radius($radius: $global-radius)
  @if $radius
    border-radius: $radius

// We use this to do clear floats
=clearfix
  &:before, &:after
    content: " "
    display: table
  &:after
    clear: both

=force-gpu
  -webkit-transform: translateZ(0)
  -moz-transform: translateZ(0)
  -ms-transform: translateZ(0)
  -o-transform: translateZ(0)
  transform: translateZ(0)
