.sprite
    background-image: url(/images/common-spritesheet.png);
    background-repeat: no-repeat;
    display: block;

.sprite-close
    width: 64px;
    height: 64px;
    background-position: 0 0;


.sprite-hamburger
    width: 21px
    height: 12px
    background-position: -64px 0

.sprite-header-logo
  width: 109px;
  height: 25px;
  background-position: -85px 0;