| <% if(superEditable) { %>
form(method="POST").item
	input(type="hidden", name="action", value="publish")
	input(type="submit", value="Publish")
.item
	a(href="#reject-modal") Reject
.item
	a(href="#ban-modal") Ban
| <% } else { %>
form(method="POST").item
	input(type="hidden", name="action", value="archive")
	input(type="submit", value="Archive")
form(method="POST").item
	input(type="hidden", name="action", value="repost")
	input(type="submit", value="Re-post")
| <% } %>
.item
	a(href!="/classified/<%= _id %>/edit") Edit