| <% if(editable) { %>
| <% if(superEditable) { %>
form(method="POST").item
	input(type="hidden", name="action", value="publish")
	input(type="submit", value="Publish")
form(method="POST").item
	input(type="hidden", name="action", value="reject")
	input(type="submit", value="Reject")
form(method="POST").item
	input(type="hidden", name="action", value="ban")
	input(type="submit", value="Ban")
| <% } %>
form(method="POST").item
	input(type="hidden", name="action", value="archive")
	input(type="submit", value="Archive")
form(method="POST").item
	input(type="hidden", name="action", value="repost")
	input(type="submit", value="Re-post")
//- form(method="GET", action="/classified/edit")
//- 	input(type="hidden", name="action", value="edit")
//- 	input(type="submit", value="Edit")
| <% } %>