ul.categories-list.row.medium-11
	<% _.each(categories, function(cat) { %>
	li.columns.large-3.medium-4
		.container
			.title <%= cat.name %>
			.children
				<% _.each(cat.children, function(child) { %>
				.child <%= child.name %>
				<% }) %>
	<% }) %>