|<%
|var classes = "";
|if(!images ||images.length == 0) classes = "no-thumb ";
|if(obj.perks) {
|   if(perks.urgent) classes += "perk-urgent ";
|   if(perks.promoted) classes += "perk-promoted ";
|}
|%>
li.classified(class!="<%= classes %>")
	a(href!="/classified/single/<%= _id %>", data-view="classified-single")
		.container
			.urgent-banner Urgent
			.thumb
				|<% if(images.length > 0) { %>
				img(src!="/uploads/thumb/<%= images[0] %>", alt!="<%= title %>")
				|<% } %>
			.c-info
				.c-title <%= title %>
				ul.c-meta
					li <%= price %>
					li <%= created %>
					|<% if(location) {
					|   var loc = app.helpers.location.find(location);
					|   if(loc && loc.name != "None") { %>
					li <%= loc.name %>
					| <% }
					|} %>
			|<%
			| var cl="", message="";
			| switch(status) {
			|	case 0: cl="warn"; message="Awaiting Moderation"; break;
			|	case 1: cl=""; message="Active"; break;
			|	case 2: cl="error"; message="Rejected"; break;
			|	case 3: cl="error"; message="Archived"; break;
			|	case 4: cl="error"; message="Banned"; break;
			|	case 5: cl="error"; message="Flagged"; break;
			| }
			|%>
			.c-status(class!="<%= cl %>") <%= message %>