.page
	h1.c-title <%= title %>
	.c-description <%= description %>
	.post-nav
		a(href="#page-meta", data-scroll) View Details

//- Page break for print-mode
.page-break

//- Views
ul.c-meta#page-meta
	li
		b Views:&nbsp;
		<%= obj.views %>
//- Category
ul.c-meta#page-meta
	li
		b Categorized under:&nbsp;
		|<% if(category) {
		|	var cat = app.models.categories.find(category);
		|	print(cat.parent + ", " + cat.child);
		|} %>

ul.c-meta
	//- Location
	|<% if(contact.location) {
	|	var loc = app.models.locations.findWhere({ _id: contact.location }).toJSON();
	|   if(loc && loc.name != "None") { %>
	li
		b Location:&nbsp;
		<%= loc.name %>
	|<% } %>

	//- Email
	|<% } if(contact.email) { %>
	li
		b Email:&nbsp;
		<%= contact.email %>

	//- Phone
	|<% } if(contact.phone) { %>
	li
		b Phone:&nbsp;
		<%= contact.phone %>

	//- Address
	|<% } if(contact.address1) { %>
	li
		b Address:&nbsp;<%= contact.address1 %>; <%= contact.address2 %>
	|<% } %>

//- Post print/report
ul.c-meta
	//- li.c-action.share
	//- 	a(href="#") Share
	li.c-action.print
		b
			a(href="javascript:window.print()") Print
	li.c-action.report
		b
			a(href="#report-modal") Report

//- Disclaimer
.c-disclaimer !{__("page.csingle.disclaimer")}