|<% if(images) { %>
ul.clearing-thumbs.small-block-grid-4(data-clearing)
	|	<% _.each(images, function(img) {  %>
	li
		a(href!="/uploads/main/<%= img %>")
			img.thumb(src!="/uploads/thumb/<%= img %>")
	|	<% }); %>
|<% } %>