#page-hero
  img(fn-image-loader!="<%= staticUrl %>/images/hero/{{ heroURL }}",
    fn-image-success="onHeroLoad()")

.row
  h1.columns Moderate this classified
  h3.columns Make sure you check for things like XSS, child-safety, improper language etc..

section(classified-form, ng-if="classified")
