body#auth-dis

  #page-hero
    &:after
      content: ""
  main
    background: transparent

  form
    input
      border: none
      padding: 0.8rem
      font-size: 0.8rem
      &:focus
        outline: none
      &[type='submit']
        background: #40d47e
        border-bottom: 4px solid rgba(0,0,0,0.15)
        color: #FFF
        text-transform: uppercase
  h1
    @extend .font-open
    color: #FFF
    font-size: 2rem
    font-weight: bold
    padding: 1rem 0
    text-align: center
    text-shadow: 1px 1px 2px #000
  form
    margin-bottom: 2rem
    // border: 1px solid #DDD
    border-bottom: 0
  .auth-methods

  .extra-links
    text-align: center
    padding-top: 20px
    font-size: 0.8rem
    .columns
      padding-bottom: 1rem
    a
      color: #DF4A32
      text-decoration: none
      border-bottom: 2px solid #DF4A32
      font-weight: bold
