.row
  #splash.columns
    #collage(src!="<%= staticUrl %>/images/collage.png")
    img(src!="<%= staticUrl %>/images/kme-logo-white.png")
    h1.tagline Your free local classifieds in Kuwait
    .cta
      a(href="/classified/create") Post your classified
      a(href="/classified") Find a classified
      a(href="/info/app") Download App

#featured-classifieds.row(ng-if="displayClassifiedList")
  h2 Latest Classifieds
  section(classified-interactive-list)
