//- ul#landing-social
//-   li.social
//-     .fb-like(data-href='https://www.facebook.com/KuwaitandME', data-layout='button_count', data-action='like', data-show-faces='true', data-share='false')
  //- li.social
  //-   a.twitter-share-button(href='https://twitter.com/share', data-related="twitterdev", data-count="horizontal",   data-text="An amazing site to publish classifieds in Kuwait. Check it out! #KuwaitandME")
//- #landing-section
  section#search-form
    #landing-logo
      img(src='/images/kme-logo-tagline.png')
    form(action!="en/classified", itemprop="potentialAction", itemscope, itemtype="http://schema.orgAction")
      meta(itemprop="target" content!="https://kuwaitandme.com/en/classified?keywords={keywords}")
      input(type="text", ng-model="keywords" itemprop="query-input", name="keywords", placeholder="{{ 'page.landing.search' | translate }}").search-bar
      button(type="submit").search-button &#xf002;
    //- ul#landing-extra
      li.hide-if-loggedin
        a(href!="en/guest/post", data-view, lang-html="header.cpost")
      li.show-if-loggedin
        a(href!="en/classified/post", data-view, lang-html="header.cpost")
      li.hide-if-loggedin
        a(href!="en/auth/login", data-view, lang-html="header.login")
      li.hide-if-loggedin
        a(href!="en/auth/signup", data-view, lang-html="header.signup")
      li.show-if-loggedin
        a(href!="en/account", data-view, lang-html="header.view")
      li.show-if-loggedin
        a(href!="en/auth/signup", data-view, lang-html="header.logout")
      //- li
      //-   a(href="/ar") العربية
      //- li
      //-   a(href="/en") English

//- #page-hero
//-   img(ng-image-loader!="<%= staticUrl %>/images/hero/{{ heroURL }}",
//-     ng-image-success="onHeroLoad")

#splash
  .row
    .columns
      img(src!="<%= staticUrl %>/images/kme-logo-tagline-2.png")
  .cta
    a(href="/classified/post") Post your classified
    a(href="/classified") Find a classified
    a(href="/auth") Login/Signup

    //-   .tagline
    //-     h1 Publish and Browse classifieds in Kuwait. Quick, Easy and absolutely Free!
    //- .medium-6.columns
    //-     h2
    //-       a(href="/classified/post") Submit your classified
    //-     h2
    //-       a(href="/classified") Browse through classifieds
    //-     //- h2.show-if-loggedin
    //-     //-   a(href="/account") Manage your account
    //-     //- h2
    //-     //-   .hide-if-loggedin
    //-     //-   a(href="/auth") Login/Signup
    //- //- ul.large-6.columns.thumb.testimonials
      li asd
//- #landing-categories.row
  h2 Choose from a category
  section(ng-include="'components/category-list'")
#featured-classifieds.row(ng-if="displayClassifiedList")
  //- h1 {{ "page.landing.classifieds" | translate }}
  h2 Latest Classifieds
  //- .classified-list-container(ng-include="'components/classified-list'")