.classified-single

  .gallery
    // margin-bottom: 1rem
    li
      padding: 0
      margin-bottom: 0 !important
      a
        display: block
        min-height: 100px
        border-bottom: none
      img
        +single-transition
        &.image-fail
          display: none
        &.image-loading
          opacity: 0
        width: 100%

  .content
    position: relative
    background: #FFF
    > .columns
      margin-bottom: 1rem

  .title
    @extend .font-bitter
    font-size: 1.6rem
    word-wrap: break-word

  .tags
    +clearfix
    margin-top: 0
    margin-left: 0
    li
      color: #FFF
      float: left
      font-size: 0.7rem
      margin-bottom: 5px
      margin-right: 5px
      padding: 5px 10px
      text-transform: uppercase

      &.whatsapp
        background: #11AE09
      &.viber
        background: #774F98
      &.green
        background: #2ecc71
      &.yellow
        background: #FFB604
      &.red
        background: #D3402A

  .description
    @extend .font-open
    min-height: 150px
    padding-bottom: 4rem
    white-space: -moz-pre-wrap
    white-space: -o-pre-wrap
    white-space: -pre-wrap
    white-space: pre-wrap
    word-wrap: break-word
    font-size: 0.8rem
    textarea
      line-height: 30px


  .meta
    margin: 1rem 0
    // padding-bottom: 4rem
    li
      font-size: 0.8rem
      margin: 0 auto
      padding: 0
      margin-bottom: 0.5rem
      position: relative
      text-align: left
      word-wrap: break-word
      .meta-title, .meta-value
        display: inline-block
      .meta-title, .perk-title
        padding-right: 5px
        font-weight: bold

      @media only screen and (min-width: 40em)
        .meta-title
          width: 80px
          position: absolute
          // width: 100px
          left: 0
          text-align: right
        .meta-value
          padding-left: 80px
          width: 100%
          text-align: left



  .user
    font-size: 0.8rem
    position: relative
    min-height: 147px
    padding-bottom: 1rem
    .avatar
      position: absolute
      top: 0
      left: 0.9375rem
      padding: 1rem 0
      width: 130px
      height: 130px
      background: #EEE
    .info
      padding-top: 10px
      padding-left: 150px
      b
        padding-right: 5px
        font-size: 0.8rem
      li
        margin-bottom: 10px
      .name
        font-size: 1rem
        padding-bottom: 5px
      .contact
        background: #2ecc71
        border-bottom: none
        color: #FFF
        display: inline-block
        font-size: 0.7rem
        margin-top: 5px
        padding: 5px 10px
        text-transform: uppercase
      .email, .phone
        display: inline-block
      .email
        padding-right: 5px
      .phone
        padding-left: 5px
      a
        text-decoration: none
        color: blue


  .google-maps
    border-bottom: none
    padding: 0
    position: relative
    #maps-container
      min-height: 300px

  .disclaimer
    text-align: center
    padding:  1rem
    color: #000
    opacity: 0.3
    font-size: 0.7rem
  a
    color: blue
    text-decoration: none
    border-bottom: 1px solid blue

  ul#extras-sidebar
    +clearfix
    margin: 1rem 0
    text-align: center
    li
      display: inline-block
      margin-right: -6px
      margin-bottom: -6px
      height: 40px
      // margin: 10px 0
      overflow: hidden
      &.fav .icon
        background: #FFB604
        // color: #FFB604
      &.twitter .icon
        background: #00ABEC
      &.facebook .icon
        background: #3D57A3
      &.googleplus .icon
        background: #DF2927
      &.email .icon
        background: #774F98
      &.linkedin .icon
        background: #0177B5
      &.pinterest .icon
        background: #BD2126
      &.link .icon
        background: #F60
      &.reddit .icon
        background: #CEE3F8
        color: #000
      .icon
        @extend .font-awesome
        border-bottom: 0
        color: #FFF
        display: inline-block
        font-size: 0.9rem
        padding: 13px
        text-align: center
        height: 40px
        width: 40px
// @media print
//   .c-gallery
//     border-bottom: none !important
//     background: #FFF !important
//     img
//       max-width: 45% !important
//   .gmnoprint
//     display:none