/* Taken from https://css-tricks.com/custom-scrollbars-in-webkit/
// html { overflow: auto; }
// main #main-content {
//     overflow-y: auto;
//     overflow-x: hidden;
// }

/* Let's get this party started
// ::-webkit-scrollbar { width: 5px; }

// /* Track 
// ::-webkit-scrollbar-track { background: #F3F3F3; }

// Handle
// ::-webkit-scrollbar-thumb {
//     background: #444;

//     &:window-inactive { background: #999; }
// }
