section(ng-controller="component:classified-list")
  #classified-single-fixed(ng-if="showClassifiedContainer", ng-class="classifiedStyles")
    .classified-single-close(ng-click="toggleClassified()")
      img(src!="<%= staticUrl %>/images/close.png")
    .row(ng-include="'components/classified-single'")

  ul.classified-list.row(ng-scroll="onScroll")
    li.large-3.medium-4.small-6.columns(ng-repeat="classified in classifieds")
      div(ng-include="'components/classified-list-item'", ng-href="{{ classified.link }}")

  .ajax-loading(ng-show="classifieds.length == 0 && !queryFinished") Loading classifieds!
  .ajax-finish(ng-if="queryFinished && classifieds.length > 0") {{ finishMessage }}
  .ajax-finish(ng-if="queryFinished && classifieds.length == 0") {{ emptyMessage }}