html
  body
    // IF posts.display_moderator_tools
    li.dropdown-header(role='presentation') [[topic:tools]]
    li(role='presentation')
      a(component='post/edit', role='menuitem', tabindex='-1', href='#')
        span.menu-icon
          i.fa.fa-pencil
        |  [[topic:edit]]
    li(role='presentation')
      a.IF.ENDIF(component='post/delete', role='menuitem', tabindex='-1', href='#', class='<!-- posts.deleted -->hidden<!-- posts.deleted -->')
        .inline.menu-icon
          i.fa.fa-trash-o
        |  
        span [[topic:delete]]
    li(role='presentation')
      a.IF.ENDIF(component='post/restore', role='menuitem', tabindex='-1', href='#', class='<!-- !posts.deleted -->hidden<!-- !posts.deleted -->')
        .inline.menu-icon
          i.fa.fa-history
        |  
        span [[topic:restore]]
    li(role='presentation')
      a.IF.ENDIF(component='post/purge', role='menuitem', tabindex='-1', href='#', class='<!-- !posts.deleted -->hidden<!-- !posts.deleted -->')
        span.menu-icon
          i.fa.fa-eraser
        |  [[topic:purge]]
    // IF posts.display_move_tools
    li(role='presentation')
      a(component='post/move', role='menuitem', tabindex='-1', href='#')
        span.menu-icon
          i.fa.fa-arrows
        |  [[topic:move]]
    // ENDIF posts.display_move_tools
    li.divider(role='presentation')
    // ENDIF posts.display_moderator_tools
    li(role='presentation')
      a(component='post/favourite', role='menuitem', tabindex='-1', href='#', data-favourited='{posts.favourited}')
        span.favourite-text [[topic:favourite]]
        | &#x9;&#x9;
        span.favouriteCount(component='post/favourite-count', data-favourites='{posts.reputation}') {posts.reputation}
        | &nbsp;
        | &#x9;&#x9;
        i.fa.fa-heart.IF.ENDIF(component='post/favourite/on', class='<!-- !posts.favourited -->hidden<!-- !posts.favourited -->')
        | &#x9;&#x9;
        i.fa.fa-heart-o.IF.ENDIF(component='post/favourite/off', class='<!-- posts.favourited -->hidden<!-- posts.favourited -->')
    // IF !config.disableSocialButtons
    li.divider(role='presentation')
    li.dropdown-header(role='presentation') [[topic:share_this_post]]
    li(role='presentation')
      a.facebook-share(role='menuitem', tabindex='-1', href='#')
        span.menu-icon
          i.fa.fa-facebook
        |  Facebook
    li(role='presentation')
      a.twitter-share(role='menuitem', tabindex='-1', href='#')
        span.menu-icon
          i.fa.fa-twitter
        |  Twitter
    li(role='presentation')
      a.google-share(role='menuitem', tabindex='-1', href='#')
        span.menu-icon
          i.fa.fa-google-plus
        |  Google+
    // ENDIF !config.disableSocialButtons
    li.divider(role='presentation')
    // IF !posts.selfPost
    li(role='presentation')
      a(component='post/flag', role='menuitem', tabindex='-1', href='#')
        | [[topic:flag_title]]
    // ENDIF !posts.selfPost
