html
  body
    label Amount of Posts to display:
    input.form-control(type='text', name='numPosts', placeholder='4')
    label
      | Custom Category:
      br
      | &#x9;
      small Leave blank to to dynamically pull from current category
    input.form-control(type='text', name='cid', placeholder='0')
