html
  body
    label Amount of Topics to display:
    input.form-control(type='text', name='numTopics', placeholder='8')
    label Select Duration:
    select.form-control(name='duration')
      option(value='day') Day
      | &#x9;
      option(value='week') Week
      | &#x9;
      option(value='month') Month
      | &#x9;
      option(value='alltime') Alltime
