extends ../../layout.jade

block content

	.congratz Great! Your classified is now up and running!
	.sub-title In the mean time, bring attention to your classified by sharing on
	.social
		a(href="#")
			.facebook &#xf09a;
		a(href="#")
			.twitter &#xf099;
		a(href="#")
			.gplus &#xf0d5;

	.tab
		.tab-title Or add some perks and boost your audience
		.tab-perk
			.perk-title Urgent Classified
			.hint Need to sell something urgently? We will make your classified stand out from others giving you more attention than regular classifieds
			.price(data-val=0) 5 KWD

		.tab-perk
			.perk-title Top Classified
			.hint Need alot of attention? Then this perk will fit you well. Make your classified stay on the top page of it's category for three days.
			.price(data-val=1) 15 KWD

		.tab-perk#tab-payment
			form
				input#ccc(type="text", placeholder='Credit Card #')
				input#ccv(type="text", placeholder='CCV code')
				input#cmdate(type="text", placeholder='MM')
				input#cydate(type="text", placeholder='YY')
				.total Total: <span>123</span> KWD
				input.submit(type='submit', value="Buy perks!")