extends ../../layout.jade

block content

	.congratz Great! Your classified is now up and running!
	.sub-title In the mean time, bring attention to your classified by sharing on
	.social
		a(href="#").facebook
			div &#xf09a;
		a(href="#").twitter
			div &#xf099;
		a(href="#").gplus
			div &#xf0d5;


	include ../../components/perks.jade