extends ../../layout.jade

block content

	.congratz Great! Your classified is now up and running!
	.sub-title In the mean time, bring attention to your classified by sharing on
	.social
		a(href="#")
			.facebook &#xf09a;
		a(href="#")
			.twitter &#xf099;
		a(href="#")
			.gplus &#xf0d5;

	.tab
		.tab-title Or add some perks and boost your audience
		include ../../components/perks.jade