extends ../../layout.jade

block content
	.hide
		each classified in data.classifieds
			a(href="/classified/single/#{classified._id}")= classified.title

	.html5-cache
		ul#classified-search.classified-list

		//- A spinner that gets displayed during AJAX loads
		#ajax-spinner
			img(src="/images/loader.gif")

		//- JS Template for each classified in the list
		script(id="list-template", type="text/template")
			include ../../components/script-templates/search.jade

		#ajax-finish No classifieds