extends ../../layout.jade

block content
	//- Raw HTML for bots to crawl
	section.classified-list
		//- Check if there are any classifieds to print
		if(!data.classifieds || data.classifieds.length == 0)
			//- There wasn't, so print a "No classifieds message"
			.noclassifieds-title #{__('page.csearch.noclassifieds')}
		else
			//- There were classifieds, print them one by one
			ul
				each classified in data.classifieds
					li
						a(href="/classified/single/#{classified._id}")= classified.title

	//- JS Template for each classified in the list
	script(id="list-template", type="text/template")
		| <%
		|   var nothumb = "";
		|   if(!images || images.length == 0) nothumb = "no-thumb";
		| %>
		| <a href="/classified/single/<%= _id %>">
		|   <li class="<%= nothumb %>">
		|     <div class="thumb">
		|       <% if(images.length > 0) { %>
		|         <img src="/uploads/thumb/<%= images[0] %>" alt="<%= title %>"/>
		|       <% } %>
		|     </div>
		|     <div class="c-info">
		|       <div class="c-title"><%= title %></div>
		|       <div>
		|         <span class="c-meta">
		|         <%
		|           if(price && price == 0) print("Free");
		|           else if(price && price == -1) print("Contact Owner");
		|           else print(price + " KD");
		|         %>
		|         </span>
		|         <span class="c-meta"><%= prettydate.format(created) %></span>
		|         <% if(location && location != 0) {
		|               var loc = app.helpers.location.find(location);
		|               if(loc) { %>
		|                <span class="c-meta"><%= loc.name %></span>
		|            <% } %>
		|         <% } %>
		|       </div>
		|     </div>
		|   </li>
		| </a>