extends ../../layout.jade

block content
	section.c-gallery

	//- Raw HTML version so that bots can crawl it's contents
	section.c-content
		h1.c-title= data.classified.title
		pre.c-description= data.classified.description

	//- JS Template for the slideshow
	script(id="slideshow-template", type="text/template")
		include ../../components/script-templates/slideshow.jade

	//- JS Template for the single classified
	script(id="single-template", type="text/template")
		include ../../components/script-templates/single.jade