#forums-header
  h2 Forums
  //- a(fn-route="/forums", ng-class="{active: route == ''}") Home
  //- a(fn-route="/forums/unread", ng-class="{active: route == 'unread'}") Unread
  //- a(fn-route="/forums/recent", ng-class="{active: route == 'recent'}") Recent
  //- a(fn-route="/forums/popular", ng-class="{active: route == 'recent'}") Popular
  //- a(fn-route="/forums/tags", ng-class="{active: route == 'tags'}") Tags
