.row
  h2.columns Contribute
  p.columns.red.bold.
    Send us your love! Help us make something amazing together for everyone else.

  h2.columns Donate to us
  p.columns.
    The site will always be free! But running it drains our pockets. Help keep
    us running by donating to us. We accept donations using PayPal or Bitcoin.

  p.columns.
    <b>PayPal:</b> <a href="https://www.paypal.com/ca/cgi-bin/webscr?cmd=_flow&SESSION=H2c_Tx4DpnhmwOg5yhEUFWKHNOG-48x0F2xhJS47SJBWj0Up8m0w6eRoqtG&dispatch=5885d80a13c0db1f8e263663d3faee8d5c97cbf3d75cb63effe5661cdf3adb6d">https://www.paypal.com</a>
    <br>
    <b>Bitcoin:</b> 1GJXv2zEBq2L3YV3ppYmQvFgcKUJ3AJKTj
    <br>
    <b>Litecoin:</b> LKdemyKpHLcesuc7L8U86ktY8Bgx52Bm1V
    <br>
    <b>Dogecoin:</b> DRi67i3nTgim1VziCzCNro7hCpmqURV5Qf

  h2.columns Developers
  p.columns.
    All the code for the site is managed using <a href="https://github.com/enamakel/thebigindian.sharing">GitHub</a>. Visit
    it for instructions on how to contribute in terms code.