*[input-checkbox-icon]
  +radius(3px)
  background: $facebook-color
  color: #FFF !important
  cursor: pointer

  input
    height: 58px
  .icon
    @extend .font-awesome
    padding-right: 10px
  .placeholder
    line-height: 62px !important
