*[input-checkbox-icon]
  +radius(3px)
  background: $facebook-color
  color: #FFF !important
  cursor: pointer

  .icon
    @extend .font-awesome
    padding-right: 10px
  .text
    @extend .font-cantarell
    background: none
    border: none
    font-size: 14px
    position: relative
    // min-height: 57px
    // color: #000
    padding: 0 20px 0 20px
    width: 100%

    // line-height: 62px !important
