a, a:visited, a:active{ color: inherit; &.clean{text-decoration: none;} }

li, ul{list-style: none;}
ol{ > li{list-style: decimal}}

.bold{font-weight: bold}
.italic{font-style: italic}

.bg-cover{
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.inline-block { display: inline-block; }

.border-bottom{border-bottom: 1px solid $global-border-colour;}
.border-left{border-left: 1px solid $global-border-colour;}
.border-right{border-right: 1px solid $global-border-colour;}
.border-top{border-top: 1px solid $global-border-colour;}

.float-left{float: left;}
.float-right{float: right}

.heading{font-size: 22px;}
.heading-l{font-size: 28px;}
.heading-xl{font-size: 34px;}
.heading-xxl{font-size: 40px;}

.hide{display: none !important;}

.margin-bottom{margin-bottom: $global-margin !important;}
.margin-left{margin-left: $global-margin !important;}
.margin-right{margin-right: $global-margin !important;}
.margin-top{margin-top: $global-margin !important;}
.margin{margin: $global-margin !important;}

.no-margin-bottom{margin-bottom: 0 !important;}
.no-margin-left{margin-left: 0 !important;}
.no-margin-right{margin-right: 0 !important;}
.no-margin-top{margin-top: 0 !important;}
.no-margin{margin: 0 !important;}

.no-padding-bottom{padding-bottom: 0 !important;}
.no-padding-left{padding-left: 0 !important;}
.no-padding-right{padding-right: 0 !important;}
.no-padding-top{padding-top: 0 !important;}
.no-padding{padding: 0 !important;}

.padding-bottom{padding-bottom: $global-padding !important;}
.padding-left{padding-left: $global-padding !important;}
.padding-right{padding-right: $global-padding !important;}
.padding-top{padding-top: $global-padding !important;}
.padding{padding: $global-padding !important;}

.text-center{text-align:center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-upper{text-transform: uppercase;}
.text-unselectable{
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
	-o-user-select: none; user-select: none;
}

.blue { color: blue; }

.clearfix {@include clearfix();}

.seperator{
	background: $global-border-colour;
	height: 1px;
	margin: $global-margin 0;
	width: 100%;

	&.white{
		background: rgba(255, 255, 255, .3);
	}
}
.radii {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow: hidden;
}
.radii-top {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.radii-bottom {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
body {
	background: #FDFDFD;
	font-size: 14px;
	margin: 0;
	position: relative;
}

main {
	min-height: 100%;
	width: 100%;

	> .container {
		background: #FDFDFD;
		border-left: 1px solid #EEE;
		border-right: 1px solid #EEE;
		margin: 0 auto;
		padding: 30px;
		width: 85%;
	}
}
#main-container {
	min-height: 90%;
	// height: calc(100% - 140px);
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	@extend .font-title;
	font-weight: 500;
}
.input, input, textarea, select {
	border: 0;
	display: inline-block;
	overflow: hidden;
	padding-right: -10px;
	padding: 10px;
	width: 100%;

	@include single-transition(background);

	&.submit {
		background: #2ecc71;
		border-bottom: 5px solid #27ae60 !important;
		border: 0;
		color: #FFF;
		font-weight: 700;
		padding: 10px 30px;
		width: auto;
	}
}