module.exports = {
	/* 'production' or 'development' */
	mode: 'production',

	/* $ openssl rand -base64 32 */
	SessionSecret: '',

	/* See https://github.com/aldipower/nodejs-recaptcha */
	reCaptcha: {
		site: '',
		secret: ''
	},

	/* 2checkout for accepting payments */
	_2checkout: {
		sid: '',
		publicKey: '',
		privateKey: ''
	}
}