.row
  h1.columns Awesome! Your classified has been uploaded ...
section.row
  p.columns
    | Your classified has now been uploaded and will be online within an hour :).
    | It will be reviewed by a moderator just to make sure that everything
    | falls in place.
  p.columns(ng-if-dis="user.isInactive()")
    | Note that you will have to activate your account first <b>(if it already hasn't been
    | activated)</b> before moderators can see your classified. Check your email
    | inbox (including your junk folder) for any activation emails.

  .columns
    ul.social-links.row
      li.medium-4.columns
        a(ng-href="{{ classified.social.facebook }}").facebook.row Share on Facebook
      li.medium-4.columns
        a(ng-href="{{ classified.social.twitter }}").twitter.row Tweet on Twitter
      li.medium-4.columns
        a(ng-href="{{ classified.social.gplus }}").gplus.row Share on Google+

  .columns
    a(fn-route="/{{ classified.slug }}")
      button.green View your classified
