.story_liner
  .voters
    a.upvoter.hide-if-loggedin(fn-route="/login")
    a.upvoter.show-if-loggedin(ng-click="upvote()", ng-class="{voted: hasVoted}")
  .details
    span.link
      span(ng-if="!story.is_gone")
        a(fn-route="{{ story.url }}") {{ story.title }}
      span(ng-if="story.is_gone")
        | [Story removed by {{ story.is_moderated ? "moderator" : "original submitter" }}]

    span.cats(ng-if="!story.is_gone")
      a(ng-style="{background: cat.meta.color}"
        fn-route="/news/category/{{ cat.slug }}"
        ng-repeat="cat in story.categories") {{ cat.title }}
    a.domain(fn-route="{{ story.url }}") ({{ story.url | domain }})
    | &nbsp;&middot;&nbsp;
    span {{ story.score }} points by&nbsp;
    span
      a.author(fn-route="/user/@{{ story.created_by.username }}") {{ story.created_by.username }}
    | &nbsp;&middot;&nbsp;
    span.comments_label
      a(fn-route="/news/story/{{ story.slug }}") {{ story.comments_count }} {{ story.comments_count == 1 ? "comment" : "comments" }}
    | &nbsp;&middot;&nbsp;
    span.timestamp {{ story.created_at | prettydate }}
