modal
  +single-transition(opacity)
  background: rgba(0,0,0,0.9)
  bottom: 0
  display: none
  height: 100%
  left: 0
  padding: 65px 10px
  position: fixed
  top: 0
  width: 100%
  z-index: 5
  overflow-y: scroll

  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5)
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5)
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5)

  @media #{$large-up}
    overflow-y: auto

  > .content
    +radius(3px)
    +single-transition(opacity)
    opacity: 0
    background: #FFF
    margin-top: 50px
    margin: 0 auto
    max-width: $row-width
    z-index: 1

    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5)
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5)
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5)

    &.show
      opacity: 1

  > .close
    bottom: 0
    cursor: pointer
    left: 0
    position: absolute
    top: 0
    width: 100%
    z-index: -1
    .close-icon
      $size: 40px
      background: #FFF
      height: $size
      padding: 8px 12px
      position: absolute
      right: 0
      top: 0
      width: $size
