.row
  .large-7.medium-9.columns
    .info
      .icon(ng-style="{background: topic.meta.color}")
        img(src="https://www.gravatar.com/avatar/{{ 'stevent95@gmail.com' | gravatar }}?s=90")
      .title
        a(href='/forums/topic/{{ topic.slug }}') {{ topic.title }}
        br
        small posted {{ topic.created_at | prettydate }}
  .stats.large-1.columns.show-for-large-up
    .value {{ topic.post_count || 0 }}
    .label posts
  .stats.large-1.columns.show-for-large-up
    .value {{ topic.view_count || 0 }}
    .label views
  .teaser.medium-3.columns.show-for-medium-up.end(ng-style="{'border-color': topic.meta.color}")
    .author
      a(fn-route="/users/@admin")
        b Admin
      | &nbsp;
      span
        a(fn-route="/sasd") 12 days ago
    .content Can you please pass res object into the hook? As I need to clear some cookies. Can you please pass res object into the hook? As I need to clear some cookies.
