html
  body
    #setParent.modal.fade(tabindex='-1', role='dialog', aria-labelledby='setParentLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') &times;
              span.sr-only Close
            | &#x9;&#x9;&#x9;&#x9;
            h4#setParentLabel.modal-title Set Parent Category
          | &#x9;&#x9;&#x9;
          .modal-body
          | &#x9;&#x9;&#x9;
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
