#forums-header
  +clearfix
  margin-bottom: 2rem

  a
    +single-transition
    // @extend .font-roboto
    // text-transform: uppercase
    border-right: 1px solid #DDD
    color: #777
    float: left
    font-size: 14px
    margin: 0
    padding: 10px
    text-decoration: none
    &:hover, &.active
      border-color: $forum-color
      background: $forum-color
      color: #FFF
