.row
  | <% if(obj.hasClassified) { %>
  h2 Awesome! Your changes have been saved
  | <% } else { %>
  h2 Awesome! Your classified is now up and running!
  | <% } %>
.row.hint
  p
    | <% if(!obj.hasClassified) { %>
    | Your changes have been uploaded and our moderators will have a look at your classified,
    | just to make sure things run smooth.
    |   <% if(obj.isGuest) { %>
    |   Once our moderators review your changes, you classified will go live.
    |   <% } else { %>
    |   Your classified is now live.
    |   <% } %>
    | <% } else { %>
    |   Your classified has been successfully uploaded and
    |   <% if(obj.isGuest) { %>
    |   has been sent for review by our moderators.
    |   <% } else { %>
    |   is now online.
    |   <% } %>
    | &nbsp;It will be online for 20 days after which it will automatically expire and be taken down.
    | <% } %>

  | <% if(obj.isGuest) { %>
  p Since you posted as a guest, you will have to use this link <a href="#" id="authLink"></a> to archive/edit your classified.
  | <% } %>
  p You can help bring some attention to your classified by sharing it on your social networks.
.row.social.hint
  a(href="#").facebook
    div &#xf09a;
  a(href="#").twitter
    div &#xf099;
  a(href="#").gplus
    div &#xf0d5;
.button.submit
  a#finishLink(href="", data-view) View your classified