.row
  h3 Upload some images

//- Drag and drop container
.row.hint
  b Get at least twice the number of views by uploading images
  | . Upload upto 10 images with each image having a maximum size of 10 MB.
  br
  br
  | Add your images here, by dragging and dropping them into the box below or by clicking on it.
  br
  br
  b Professionaly taken images get promoted my our moderators and have a better chance to be placed on the homepage.

form#image-form.row
  #image-upload
    span.heading Drag &amp; Drop your images here
    br
    span or just click/tap.


ul.row#image-upload-preview
.row.hint Selected images get displayed above. If you want to remove an image, simply click on it.

//- .row.post-nav
  a(href="#page-details", data-page-nav) Previous
  | &nbsp; &middot; &nbsp;
  a(href="#page-submit", data-page-nav)#page-4-next Next