.row
  h3.columns(lang-html='page.cform.info.title')
  .columns(lang-html='page.cform.info.hint1')
  p.columns(lang-html='page.cform.info.hint2')

.row#title
  .medium-3.columns
    label(for="right-label", lang-html='page.cform.info.label.title')
  .medium-9.columns.error
    input(type="text", name="title", required, lang-placeholder='page.cform.info.placeholder.title')
    small.error

.row#description
  .medium-3.columns
    label(for="right-label", lang-html='page.cform.info.label.description')
  .medium-9.columns.error
    textarea(name='description', required, lang-placeholder='page.cform.info.placeholder.description')
    small.error

.row#website
  .medium-3.columns
    label(for="right-label", lang-html='page.cform.info.label.website')
  .medium-9.columns.error
    input(type="text", name="website", required, lang-placeholder='page.cform.info.placeholder.website')
    small.error