.row
  h2.columns Help people navigate to you!
.row
  .columns
    | Most people have a hard time finding their way to you. A visual map is an
    | amazing way to show them exactly where you are. We make sure that
    | Google maps works beautifully with your classified, even on mobile.
  .columns
    | want to meet by&nbsp;
    b dragging and dropping the pointer below&nbsp;
    | to the location of your meeting point.
#map-canvas
input#gmapX(name="gmapX", type="hidden")
input#gmapY(name="gmapY", type="hidden")

