.row
  h2 Wasn't that simple? You're all set to go!
.row.hint
  p Your classified is now ready to be uploaded as soon as you click on the button below.
  p Make sure that all your changes are final, as you can't make any changes once the classified has been published
  p.disclaimer <b>Disclaimer:</b> By submitting this classified, you are agreeing to our <a href='/privacy-terms' data-view> privacy and terms of use</a>.

.row.gcaptcha

.row#ajax-spinner
  img(src="/images/loader.gif")

.row.submit-container
  input.submit(type="submit", value="Submit")

.row.post-nav
  a(href="#page-details", data-page-nav)#page-4-prev Previous