.auth-title Reset your password
form(method="POST")
  section
    div
      input(type="email", name="email", placeholder="your email", required)#auth-username
    div
      input(type="submit", class="submit", value="Reset your password")
  .captcha-container
    .g-recaptcha