h1 You need to be logged in to publish a classified!

p So here's what you can do

a(href="/guest/post", data-view="guest-post")
  .guest-post.box
    .icon &#xf21b;
    .title Post as a guest

a(href="/auth/login", data-view="auth-login")
  .login-post.box
    .icon &#xf007;
    .title Login into your account


a(href="/auth/signup", data-view="auth-signup")
  .signup-post.box
    .icon &#xf234;
    .title Signup for a new account