h1.row Login
form.row(ng-submit="processForm()")
    input.columns(type="email", ng-model="username", required,
      placeholder="your email *")
    input.columns(type="password", ng-model="password", required,
      placeholder="your password *")
    input.columns(type="submit", lang-value="page.auth.login.submit")


.row.collapse#social-login
  .small-4.columns.facebook
    a(target="_self", href="/auth/social/facebook") &#xf09a;
  .small-4.columns.google-plus
    a(target="_self", href="/auth/social/google") &#xf0d5;
  .small-4.columns.twitter
    a(target="_self", href="/auth/social/twitter") &#xf099;


.row.extra-links
  .columns Is this your first time here?&nbsp;
    a(href="/auth/signup") Sign up!
  .columns Forgot your password? Click&nbsp;
    a(href="/auth/forgot") here
    | , to reset it.