.row.small-12
  form#login-form
    .row.collapse
      .small-12.columns
        .auth-title Sign-up
    .row.input-row.collapse
      .small-12.columns.error
        input(type="text", name="fullname", placeholder="full name", required)#auth-fullname
        small.error

    .row.input-row.collapse
      .small-12.columns.error
        input(type="email", name="username", placeholder="email", required)#auth-username
        small.error

    .row.input-row.collapse
      .small-12.columns.error
        input(type="password", name="username", placeholder="password", required)#auth-password
        small.error

    .row.input-row.collapse
      .small-12.columns.error
        input(type="password", name="password", placeholder="re-enter password", required)#auth-repassword
        small.error

    .row.collapse.hide#submit-div
      .small-4.small-offset-8.columns
        input.submit(type="submit", value="Signup")


    #ajax-spinner
      img(src="/images/loader.gif")

  .row.collapse#social-login
    .small-3.columns.facebook
      a(href="/api/auth/facebook") &#xf09a;
    .small-3.columns.google-plus
      a(href="/api/auth/google-plus") &#xf0d5;
    .small-3.columns.twitter
      a(href="/api/auth/twitter") &#xf099;
    .small-3.columns.yahoo
      a(href="/api/auth/yahoo") &#xf19e;

  .gcaptcha

  ul#auth-messages