h1.row Signup
form.row(ng-submit="processForm()")
  input.columns(type="text", ng-model="fullname", ng-required, placeholder="your full-name *")
  input.columns(type="email", ng-model="username", ng-required, placeholder="your email *")
  input.columns(type="password", ng-model="password", ng-required, placeholder="your password *")
  input.columns(type="password", ng-model="repassword", ng-required, placeholder="re-enter password *")
  input.columns(type="submit", lang-value="page.auth.login.submit")

.row.collapse#social-login
  .small-4.columns.facebook
    a(target="_self", href="/auth/social/facebook") &#xf09a;
  .small-4.columns.google-plus
    a(target="_self", href="/auth/social/google") &#xf0d5;
  .small-4.columns.twitter
    a(target="_self", href="/auth/social/twitter") &#xf099;


.gcaptcha

.row.extra-links
  .columns Already have an account? Login&nbsp;
    a(href="/auth/login") here