| <% if(superEditable) { %>
.action(data-action='publish') Publish
.action(data-action='reject') Reject
.action(data-action='ban') Ban
| <% } %>
| <% if(editable) { %>
.action(data-action='archive') Archive
| <% } %>
.action(data-action='edit') Edit
//- .action(data-action='report') Re-post
//- .action(data-action='report') Make Urgent
//- .acti(data-action='report')on Promote
//- .item
//-   a(href!="/classified/<%= _id %>/edit", data-view) Edit