| <% if(superEditable) { %>
.action Publish
.action Reject
.action Ban
| <% } else { %>
.action Archive
.action Re-post
| <% } %>
//- .item
//-   a(href!="/classified/<%= _id %>/edit", data-view) Edit