ul.categories-list.row.medium-11
  <% _.each(categories, function(cat) { %>
  li.columns.large-3.medium-4
    .container
      .title <%= cat.name %>
      .children
        <% _.each(cat.children, function(child) { %>
        .child
          a(href!="/classified/search?childCategory=<%= child._id %>", data-view) <%= child.name %>
          .count <%= child.count %>
        <% }) %>
        .child
          a(href!="/classified/search?category=<%= cat._id %>", data-view) View All
          .count <%= cat.count %>
  <% }) %>