ul.medium-block-grid-4.small-block-grid-2.categories-list
  <% _.each(categories, function(cat) { %>
  li
    .container
      .image(class!="<%= cat.classname %>")
        .title <%= cat.name %>
      .total-count <%= cat.count %> classifieds
      .children
        <% _.each(cat.children, function(child) { %>
        .child
          a(href!="<%= lang.href %>/classified/search?childCategory=<%= child._id %>", data-view) <%= child.name %>
          .count <%= child.count %>
        <% }) %>
        .child
          a(href!="<%= lang.href %>/classified/search?category=<%= cat._id %>", data-view, lang-html="comp.category.viewall")
          .count <%= cat.count %>
  | <% }) %>