<% var i = -1 %>
<% _.each(categories, function(cat) {
| i += 1;
| if (i % 4 == 0 && i != 0) { print("</ul>") }
| if (i % 4 == 0) { print("<ul class='categories-list row'>") } %>
li.columns.large-3.medium-3.small-6
  .container
    .title(class!="<%= cat.classname %>") <%= cat.name %>
    .total-count <%= cat.count %> classifieds
    .children
      <% _.each(cat.children, function(child) { %>
      .child
        a(href!="<%= lang.href %>/classified/search?childCategory=<%= child._id %>", data-view) <%= child.name %>
        .count <%= child.count %>
      <% }) %>
      .child
        a(href!="<%= lang.href %>/classified/search?category=<%= cat._id %>", data-view) View All
        .count <%= cat.count %>
<% }) %>