ul.classified-list

//- A spinner that gets displayed during AJAX loads
.ajax-loading(lang-html="comp.classifiedlist.loading") Loading more classifieds
  //- img(src="/images/loader.gif")

//- The message that gets displayed when there are no more classifieds
.ajax-finish No classified(s)