.classified-list-item(ng-click="toggleClassified(classified)")
  .thumb(ng-if="classified.mainImage", ng-style="{'background':classified.mainImage.color}")
    img(ng-image-loader!="/uploads/thumb/{{ classified.mainImage.file }}",
      ng-image-success="classified.imageLoaded",
      ng-image-fail="classified.imageLoaded", alt="{{ classified.title }}")
  .info
    .title {{ classified.title | limitTo: 120 }}
    .border
    ul.meta.row.collapse
      li.price.small-6.columns {{ classified.priceValue | price:classified.priceType }}
      li.date.small-6.columns.text-right {{ classified.created | prettydate }}
      li(style="list-style: none; display: inline", ng-if="classified.showStatus")
        .status(class="{{ classified.statusClass }}") {{ classified.statusMessage }}