ul.classified-list.row(ng-controller='component:classified-list')
  li.columns.medium-3.small-6.columns.classified(ng-repeat="classified in classifieds")
    a(href="/en/classified/{{ classified._id }}")
      .container
        .urgent-banner Urgent
        .thumb(ng-if="false && classified.hasImages")
          img(src="uploads/thumb/{{ classified.images[0].url }}/", alt="{{ classified.title }}")
        .c-info
          .c-title {{ classified.title }}
          ul.c-meta
            li {{ classified.price | price }}
            //- li {{ classified.created | prettydate }}
            li(ng-if="classified.contact.location") {{ classified.contact.location }}
            li(style="list-style: none; display: inline", ng-if="classified.showStatus")
              .c-status(class="{{ classified.statusClass }}") {{ classified.statusMessage }}

.ajax-loading {{ "comp.classifiedlist.loading" | translate }}

//- The message that gets displayed when there are no more classifieds
.ajax-finish No classified(s)