section(ng-controller="component:classified-list")
  #classified-single-fixed(ng-class="{ 'display-cl': currentClassified, 'hide-cl': !currentClassified }")
    .classified-single-close(ng-click="toggleClassified()")
      img(src="/images/close.png")
    .row(ng-include="'classified/single'", ng-controller="page:classified/single")

  ul.classified-list.row(ng-scroll="onScroll")
    li.large-3.medium-4.small-6.columns(ng-repeat="classified in classifieds")
        a.container(ng-click="toggleClassified(classified)")
          .thumb(ng-if="classified.images.length > 0", ng-style="{'background':classified.images[0].color}")
            img(image-loader!="/uploads/thumb/{{ classified.images[0].file }}", image-success="classified.imageLoaded", image-fail="classified.imageLoaded", alt="{{ classified.title }}")
          .info
            .title {{ classified.title | limitTo: 120 }}
            .border
            ul.meta.row.collapse
              li.price.small-6.columns {{ classified.priceValue | price:classified.priceType }}
              li.date.small-6.columns.text-right {{ classified.created | prettydate }}
              li(style="list-style: none; display: inline", ng-if="classified.showStatus")
                .status(class="{{ classified.statusClass }}") {{ classified.statusMessage }}

  .ajax-loading(ng-show="classifieds.length == 0 && !queryFinished") Loading classifieds!
  //- #{{ "comp.classifiedlist.loading" | translate }}

  .ajax-finish(ng-if="queryFinished") No classified(s)