ul.classified-list

//- A spinner that gets displayed during AJAX loads
.ajax-spinner
  img(src="/images/loader.gif")

//- The message that gets displayed when there are no more classifieds
.ajax-finish No classified(s)