#header-search
  form
    input(placeholder="search ...", name='keywords', type='text')
  #search-close.icon &#xf00d;
  #search-submit.icon &#xf002;
  //- #search4-filter.icon &#xf0b0;

nav#mobile-nav.hide-for-large-up.hide-when-searching
  #mobile-icon
    a(href!="<%= lang.href %>/", data-view)
      img(src='/images/header-logo.png')
  ul
    li.left.icon.search-trigger
      a &#xf002;
    li#nav-grabber &#xf0c9;
  #subheader
    ul.lang
      li.nav-item
        a(href!="<%= lang.href %>/", data-view, lang-html="header.home")
      li.nav-item
        a(href!="<%= lang.href %>/classified", data-view, lang-html="header.csearch")
      li.main-item.hide-if-loggedin
        a(href!="<%= lang.href %>/guest/post", data-view, lang-html="header.cpost")
      li.main-item.show-if-loggedin
        a(href!="<%= lang.href %>/classified/post", data-view, lang-html="header.cpost")
      li.nav-item.hide-if-loggedin
        a(href!="<%= lang.href %>/auth/login", data-view, lang-html="header.login")
      li.nav-item.hide-if-loggedin
        a(href!="<%= lang.href %>/auth/signup", data-view, lang-html="header.signup")
      li.main-item.show-if-loggedin
        a(href!="<%= lang.href %>/account", data-view, lang-html="header.manage")
      li.main-item.show-if-loggedin
        a(href!="<%= lang.href %>/auth/logout", data-view, lang-html="header.logout")
      li.main-item
        a(href!="<%= lang.href %>/contact", data-view, lang-html="header.contact")
      li.main-item
        a(href!="<%= lang.href %>/about", data-view, lang-html="header.about")
      li.main-item
        a(href!="<%= lang.href %>/terms-privacy", lang-html="header.terms-privacy")
nav#main-nav.show-for-large-up.hide-when-searching
  ul
    li.main-item.left.home.icon
      a(href!="<%= lang.href %>/", data-view) &#xf015;
    li.main-item.left.search-trigger.icon
      a &#xf002;
    li.main-item.settings.icon &#xf013;
      ul.subnav.hide-if-loggedin
        li.with-link
          a(href!="<%= lang.href %>/auth/login", data-view, lang-html="header.login")
        li.with-link
          a(href!="<%= lang.href %>/auth/signup", data-view, lang-html="header.signup")

      ul.subnav.show-if-loggedin
        li.user-title.lang
          span(lang-html='header.welcome')
          .name
        //- li.user-credits
          span You have&nbsp;
          span.count 0
          span &nbsp;Credits
        li.user-thumb
          img(src='')
        //- li.with-link
          a(href!="<%= lang.href %>/account/credits", data-view) Buy Credits
        li.with-link.lang
          a(href!="<%= lang.href %>/account", data-view, lang-html='header.view')
        li.with-link.lang
          a(href!="<%= lang.href %>/auth/logout", data-view, lang-html='header.logout')
    li.main-item.social
      a.facebook(href="https://www.facebook.com/KuwaitandME") &#xf09a;
    li.main-item.social
      a.googleplus(href="https://www.google.com/+Kuwaitandmeclassifieds") &#xf0d5;
    li.main-item.social
      a.twitter(href="https://twitter.com/kuwaitandme") &#xf099;
    li.main-item.social
      a.youtube(href="https://www.youtube.com/channel/UCRd6d6Tcya8JBwnNB8MFo5A") &#xf16a;
    li.main-item.social
      a.instagram(href="https://instagram.com/kuwaitandme/") &#xf16d;

ul#sub-nav.show-for-large-up
  li.lang
    a(href!="<%= lang.href %>/classified", data-view='classified-search', lang-html='header.csearch')
  li.hide-if-loggedin.lang
    a(href!="<%= lang.href %>/guest/post", data-view='guest-post', lang-html='header.cpost')
  li.show-if-loggedin.lang
    a(href!="<%= lang.href %>/classified/post", data-view='classified-post', lang-html='header.cpost')
  li.nav-item.hide-if-loggedin.lang
    a(href!="<%= lang.href %>/auth/login", data-view='auth-login', lang-html='header.login')
  li.nav-item.hide-if-loggedin.lang
    a(href!="<%= lang.href %>/auth/signup", data-view='auth-signup', lang-html='header.signup')
  li.show-if-loggedin.lang
    a(href!="<%= lang.href %>/account", data-view='account-index', lang-html='header.manage')
  li.lang
    a(href!="<%= lang.href %>/contact", data-view='contact', lang-html='header.contact')
  li.lang
    a(href!="<%= lang.href %>/about", data-view='about', lang-html='header.about')
  li.lang
    a(href!="<%= lang.href %>/terms-privacy", lang-html='header.terms-privacy')