h2.c-title <%= title %>
.row.collapse
  .medium-8.large-9.columns
    p.c-description <%= description %>
  .medium-4.large-3.columns.c-meta
    .meta
      b(lang-html='page.csingle.views') Views:
      | &nbsp;<%= obj.views %>

    .meta
      b(lang-html='page.csingle.type') Type:
      | &nbsp;<%= obj.type %>

    .meta
      b(lang-html='page.csingle.price') Price:
      | &nbsp;<%= obj.price %>

    .meta
      b(lang-html='page.csingle.created') Posted:
      | &nbsp;<%= created %>

    | <% if(category) { %>
    .meta
      b(lang-html='page.csingle.category') Categorized under:
      | &nbsp;<%= category %>

    |<% } if(contact.email) { %>
    .meta
      b(lang-html='page.csingle.email') Email:
      | &nbsp;<%= contact.email %>

    |<% } if(location) { %>
    .meta
      b(lang-html='page.csingle.location') Location:
      | &nbsp;<%= location %>

    |<% } if(contact.phone) { %>
    .meta
      b(lang-html='page.csingle.phone') Phone:
      | &nbsp;<%= contact.phone %>

    |<% } if(contact.address1) { %>
    .meta
      b(lang-html='page.csingle.address') Address:
      | &nbsp;<%= contact.address1 %>; <%= contact.address2 %>
    |<% } %>

    .meta.print
      b
        a(href="javascript:window.print()", lang-html='page.csingle.print') Print this classified
    //- .meta.report.action(data-action='report')
      b
        a Report this classified