.row
  .columns
    ul.c-gallery
      | <% if(images) { %>
      |  <% _.each(images, function(img) {  %>
      li.small-6.medium-4.large-2.image-loading
        a.th(data-lightbox="image-1", href!="/uploads/main/<%= img.file %>", style!="background: <%= img.color %>")
          img.thumb(data-src!="/uploads/thumb/<%= img.file %>")
      |  <% }); %>
      | <% } %>

section.c-content
  .row
    .columns
      h2.c-title <%= title %>
  .row
    .medium-8.large-9.columns
      p.c-description <%= description %>
      | <% if(contact.website) { %>
      .meta
        b(lang-html='page.csingle.website')
        | &nbsp;
        a(href!="<%= obj.contact.website %>") <%= obj.contact.website.replace(/.*?:\/\//, "") %>
      | <% }  %>
    .medium-4.large-3.columns.c-meta
      .meta
        b(lang-html='page.csingle.views')
        | &nbsp;<%= obj.views %>

      .meta
        b(lang-html='page.csingle.type')
        | &nbsp;<%= obj.type %>

      .meta
        b(lang-html='page.csingle.price')
        | &nbsp;<%= obj.price %>

      .meta
        b(lang-html='page.csingle.created')
        | &nbsp;<%= created %>

      | <% if(obj.category) { %>
      .meta
        b(lang-html='page.csingle.category')
        | &nbsp;
        | <% if(obj.childCategory) { %>
        | <%= category %>, <%= childCategory %>
        | <% } else { %>
        | <%= category %>
        | <% } %>
      | <% } if(contact.email) { %>
      .meta
        b(lang-html='page.csingle.email')
        | &nbsp;<%= contact.email %>

      | <% } if(obj.location) { %>
      .meta
        b(lang-html='page.csingle.location')
        | &nbsp;<%= location %>

      | <% } if(contact.phone) { %>
      .meta
        b(lang-html='page.csingle.phone')
        | &nbsp;<%= contact.phone %>

      | <% } if(contact.address1) { %>
      .meta
        b(lang-html='page.csingle.address')
        | &nbsp;<%= contact.address1 %>; <%= contact.address2 %>
      | <% } %>

      //- .meta.print
      //-   b
      //-     a(href="javascript:window.print()", lang-html='page.csingle.print')
      //- .meta.report.action(data-action='report')
        b
          a Report this classified
.page-break
.row
  .columns
    #map-canvas