h2.c-title <%= title %>
.row.collapse
  .medium-8.large-9.columns
    p.c-description <%= description %>
  .medium-4.large-3.columns.c-meta
    .meta
      b(lang-html='page.csingle.views')
      | &nbsp;<%= obj.views %>

    .meta
      b(lang-html='page.csingle.type')
      | &nbsp;<%= obj.type %>

    .meta
      b(lang-html='page.csingle.price')
      | &nbsp;<%= obj.price %>

    .meta
      b(lang-html='page.csingle.created')
      | &nbsp;<%= created %>

    | <% if(category) { %>
    .meta
      b(lang-html='page.csingle.category')
      | &nbsp;<%= category %>

    |<% } if(contact.email) { %>
    .meta
      b(lang-html='page.csingle.email')
      | &nbsp;<%= contact.email %>

    |<% } if(location) { %>
    .meta
      b(lang-html='page.csingle.location')
      | &nbsp;<%= location %>

    |<% } if(contact.phone) { %>
    .meta
      b(lang-html='page.csingle.phone')
      | &nbsp;<%= contact.phone %>

    |<% } if(contact.address1) { %>
    .meta
      b(lang-html='page.csingle.address')
      | &nbsp;<%= contact.address1 %>; <%= contact.address2 %>
    |<% } %>

    .meta.print
      b
        a(href="javascript:window.print()", lang-html='page.csingle.print')
    //- .meta.report.action(data-action='report')
      b
        a Report this classified