|<% if(images) { %>
|  <% _.each(images, function(img) {  %>
li.small-6.medium-4.large-2
  a.th(data-lightbox="image-1", href!="/uploads/main/<%= img.file %>", style!="background: <%= img.color %>")
    img.thumb(data-src!="/uploads/thumb/<%= img.file %>")
|  <% }); %>
|<% } %>