|<% if(images) { %>
ul.clearing-thumbs(data-clearing)
  |  <% _.each(images, function(img) {  %>
  li
    a.th(href!="/uploads/main/<%= img %>")
      img.thumb(data-src!="/uploads/thumb/<%= img %>")
  |  <% }); %>
|<% } %>