extends ../../layout.jade

block robots
  each classified in data.classifieds
    if classified
      span(itemscope itemtype="http://schema.org/Invoice")
        h2(itemprop="name")= classified.title
        a(href="/#{classified.slug}", itemprop="url") link
