html
  body
    p [[email:greeting_no_name]],
    p
      strong [[email:invitation.text1, {username}, {site_title}]]
    blockquote
      a(href='{registerLink}') [[email:invitation.ctr]]
    p
      | [[email:closing]]
      br
      | &#x9;
      strong {site_title}
