html
  body
    p [[email:greeting_no_name]],
    p [[email:reset.text1]]
    p [[email:reset.text2]]
    blockquote
      a(href='{reset_link}') [[email:reset.cta]]
    p
      | [[email:closing]]
      br
      | &#x9;
      strong {site_title}
