sharing-category
  margin: 0 3px
  height: 15px
  cursor: pointer
  span
    font-family: "helvetica neue", arial, sans-serif;
    +radius(3px)

    text-transform: lowercase
    // margin-left: 5px
    // margin-right: 3px
    font-size: 7.5pt
    vertical-align: text-bottom
    padding: 0px 0.5em
    display: inline-block
    background: #fffcd7
    border: 1px solid rgba(0,0,0,0.1)
    color: #555
    text-decoration: none
    &:hover
      border-color: rgba(0,0,0,0.2)