body#error
  background: #000
  color: #FFF
  pre
    margin: 0
    padding: 15px
  .e-stack
    padding: 10px
  .e-message
    background: #FFF
    color: red
  .e-status
    background: #FFF
    color: #000
  .e-title
    padding: 15px
    text-align: center
    font-size: 18px
    @extend .font-title

body#four-o-four
  background: #0A0B77
  color: #FEFEFE
  padding: 20px
  // font-family: 'VT323';
  > section
    border: 1px solid #FEFEFE
    padding: 20px
    .title
      font-size: 20px
      padding: 5px 20px
      display: inline-block
      background: #FEFEFE
      color: #0A0B77
    .trace
