nav#news-header
  +clearfix
  margin-bottom: 2rem

  a
    @extend .font-roboto
    // text-transform: uppercase
    font-size: 12px
    padding: 3px 0
    margin: 0 10px
    color: #777
    // border-bottom: 2px solid #f8f8f8
    font-weight: bold
    float: left
    &:hover, &.active
      color: #F60
      // border-color: #F60
