nav#news-header
  a(fn-route="/news", ng-class="{active: route == ''}") Top
  a(fn-route="/news/recent", ng-class="{active: route == 'recent'}") Recent
  a(fn-route="/news/comments", ng-class="{active: route == 'comments'}") Comments
  a(fn-route="/news/search", ng-class="{active: route == 'search'}") Search
  //- a(fn-route="/admin/news/filters") Filters
  a(fn-route="/news/create", ng-class="{active: route == 'create'}") Submit
