#notifications-popup-container
  left: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 4

  -webkit-animation-duration: 0.5s
  -webkit-animation-name: slideFromAbove

  .notification
    $referenceSize: 35px
    @extend .font-cantarell
    color: #FFF
    font-size: 0.8rem
    margin: 0
    position: relative

    -webkit-animation-duration: 0.5s
    -webkit-animation-name: fadeInFromNone
    .text
      min-height: $referenceSize
      padding: 0.5rem 1rem
      cursor: pointer
      text-align: center
    &.success, &
      .text
        background: #6FBF4D
    &.error
      .text
        background: #D4403B
    &.warn
      .text
        background: #FF890B
