#toast-notification-container, #notifications-popup-container
  position: fixed
  left: 0
  width: 100%
  color: #FFF
  z-index: 5

  .notification
    font-size: 14px
    text-align: center

    -webkit-animation-duration: 0.5s
    -webkit-animation-name: fadeInFromNone

#notifications-popup-container
  top: 0

  -webkit-animation-duration: 0.5s
  -webkit-animation-name: slideFromAbove

  .notification
    $referenceSize: 35px
    margin: 0
    position: relative

    .text
      min-height: $referenceSize
      padding: 0.5rem 1rem
      cursor: pointer
      text-align: center
    &.success, &
      .text
        background: #6FBF4D
    &.error
      .text
        background: #D4403B
    &.warn
      .text
        background: #FF890B


#toast-notification-container
  bottom: 20px
  .notification
    margin: 0px auto
    width: auto
    .text
      +radius(4px)
      background: #222
      border: 1px solid #333
      display: inline-block
      min-width: 200px
      padding: 2px 15px

      -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25)
      -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25)
      box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25)
