#notifications-popup-container(ng-if="flashNotifications.length > 0")
  .notification(ng-repeat="n in flashNotifications track by $index", class="{{ n.type }}",
    ng-click="closeFlashNotification($index)")
    .text {{ n.message | translate }}

#toast-notification-container(ng-if="showToast")
  .notification
    .text {{ toastText }}
