*[input-price]
  position: relative
  .field
    cursor: pointer
    min-height: 67px !important
    line-height: 1.5 !important
    position: relative
    &:after
      +single-transition
      @extend .font-awesome
      content: '\f107'
      position: absolute
      right: 27px
      top: 27px
    &.opened:after
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);

  ul
    +single-transition
    top: 0%
    margin: 0
    left: 0
    width: 100%
    opacity: 0
    background: #FFF
    z-index: -1
    position: absolute
    &.opened
      position: relative
      z-index: 1
      top: 100%
      opacity: 1
    li
      +single-transition
      padding: 0 10px
      border-bottom: 1px solid #ddd
      line-height: 50px
      background: #f9f9f9
      &.value
        cursor: pointer
        &:hover
          background: #eee
      input
        background: inherit
        outline: none
        width: 100%
        height: 100%
        border: 0
        padding: 18px 0

