html
  body
    noscript
      .alert.alert-danger
        p
          | Your browser does not seem to support JavaScript. As a result, your viewing experience will be diminished, and you have been placed in 
          strong read-only mode
          | .
        | &#x9;&#x9;&#x9;
        p
          | Please download a browser that supports JavaScript, or enable it if it&apos;s disabled (i.e. NoScript).
