body#classified-category
  &:before
    background-image: url(/images/cat-spritesheet.jpg)
    content: ''

  #page-hero:after
    content: ''


  main
    background: transparent

    .instruction
      padding-bottom: 50px
      h1, h3
        margin:  0
        padding: 10px 20px
        text-align: center
      h3
        @extend .font-cantarell
        font-size: 1rem
        font-weight: bold
        a
          color: $color-red
          text-decoration: none
          border-bottom: 3px solid $color-red
      h1
        font-size: 3rem
        padding-top: 50px
