body#news-single

  .main-commentbox
    width: 100%
    min-height: 100px
    outline: none
    background: #f9f9f9

  .description, form
    padding: 1rem 0
    margin: 1rem 0 1rem 40px
    // margin-right: 40px
    border-bottom: 1px solid #EEE

  .description
    margin-top: 0
    padding-top: 0
    font-size: 12px
    font-family: "helvetica neue", arial, sans-serif

    h1, h2, h3, h4, h5, h6
      font-weight: bold

    a
      color: blue

  news-item .link a:visited
    color: #000
