section(ng-if="story.id")
  news-item(ng-model="story")
  .description(ng-bind-html="description")
  form.row.collapse(name="form", ng-class="formClasses")
    .columns
      textarea.field.main-commentbox(ng-model="comment"
        ng-disabled="formLoading"
        maxlength=3000
        placeholder="Comment on this link."
        required)

    .columns(ng-if="form.$valid")
      button(ng-click="submit(comment)") Submit


  p(ng-repeat="comment in story.comments")
    news-comment(ng-model="comment")

