extends ../layout.jade

block robots
  each classified in robots.classifieds
    if classified
      span(itemscope itemtype="http://schema.org/Product")
        h1(itemprop="name")= classified.title
        a(href="/#{classified.slug}", itemprop="url") link
        span(itemprop="offers", itemscope, itemtype="http://schema.org/Offer")
          span(itemprop="price", content="#{ classified.priceValue || 0 }")
          span.meta-value(itemprop="priceCurrency", content="KWD") KWD
  a(href="/classified") search classifieds
  //- a(href="/ar/classified") تجد الإعلانات المبوبة