*[classified-cards]
  +single-transition(all, 1s)
  background: #EBEBEC
  // background: rgba(255, 255, 255, 0.95)
  // background: #FFF
  bottom: 0
  left: 0
  overflow-x: hidden
  overflow-y: scroll
  padding: 50px
  position: fixed
  top: 0
  width: 100%
  z-index: 4

  @media only screen and (max-width: 40em)
    padding: 30px 10px


  // CSS for the next and prev buttons
  .nav-buttons
    position: relative
    line-height: 50%
    color: #7d7d7d
    @media only screen and (max-width: 40em)
      display: none
    .text
      text-align: center
      text-transform: uppercase
      font-size: 0.8rem
      width: 100%
      top: 50%
      position: absolute
    .prev
      left: 0
      .text
        transform: rotate(-90deg);
    .next
      right:0
      .text
        transform: rotate(90deg);
    .prev, .next
      +single-transition
      top: 0
      width: 50px
      height: 100%
      position: fixed
      cursor: pointer
      z-index: 2
      &:hover
        color: #000
        background: rgba(0,0,0,0.05)


  // Modify the cl-single to have some nice effects with out grey bg
  [classified-single]
    +single-transition
    max-width: $row-width
    margin: 0 auto
    .gallery
      z-index: 3
      background: #FFF
    .description
      border-bottom: 1px solid #EEE


  // The CSS classes
  .cards
    position: relative
    > section
      +single-transition(0.25)
      +radius(3px)
      overflow: hidden
      margin-bottom: 60px
      position: absolute
      top: 0
      width: 100%
      z-index: 1

      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 1px 4px 1px rgba(0, 0, 0, 0.08), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);

    .next, .prev
      display: none
      opacity: 0
      z-index: 0
    .prev
      left: -600px
      right: 0
    .next
      left: 0
      right: -600px
    .current
      left: 0
      right: 0

  .show-next
    .next
      display: block
      opacity: 1
      right: 0
    .current
      left: -600px
      opacity: 0
  .show-prev
    .prev
      display: block
      left: 0
      opacity: 1
    .current
      opacity: 0
      right: -600px

  > .close-bg
    background: #EBEBEC
    height: 100%
    left: 0
    position: fixed
    top: 0
    width: 100%
  > .close-button
    $size: 40px
    background: #FFF
    cursor: pointer
    // height: $size
    // padding: 15px
    position: fixed
    right: 15px
    top: 0px
    padding: 8px 12px
    width: $size
    z-index: 8

      // $size: 40px
      // background: #FFF
      // height: $size
      // // position: absolute
      // right: 0
      // top: 0
      // width: $size


    // http://stackoverflow.com/questions/19254146/position-fixed-not-working-in-mobile-browser
    -webkit-backface-visibility: hidden


  @media only screen and (min-width: 1120px)
    ul#extras-sidebar
      left: 0
      margin-left: -100px
      margin-top: 0
      padding: 0
      position: absolute
      top: 0
      width: 100px
      li
        +clearfix
        border-radius: 0 !important
        display: block !important
        float: none !important
        margin: 0 !important
        .icon
          float: right !important
  > .row
    margin: 0 auto
    max-width: $row-width
