*[input-checkbox-icon]
  +radius(3px)
  background: $facebook-color
  color: #FFF !important
  cursor: pointer

  .icon
    @extend .font-awesome
    padding-right: 10px
  .text
    @extend .font-cantarell
    background: none
    border: none
    font-size: 14px
    padding: 20px
    position: relative
    width: 100%
