[classified-list-item] section
  +radius(1px)
  +single-transition
  background: #FFF
  border: 1px solid #DDD
  overflow: hidden
  position: relative
  &:hover
    border-color: #000
    // .title
      // text-decoration: underline
    //   // color: #000
    // .border
    //   // background: #000
    //   width: 100%
    .date
      opacity: 1 !important
  &.urgent
    border: 1px solid #FA2A00
  .urgent-banner
    font-size: 0.7rem
    background: #FA2A00
    color: #FFF
    padding: 5px
    text-align: center
    text-transform: uppercase
  .link
    display: inilne-block
    padding-right: 10px
    @extend .font-awesome

  .border
    +single-transition
    background: #FFF
    margin: 10px 0
    width: 75%
    height: 1px

  .thumb
    background: #000
    overflow: hidden
    img
      width: 100%
      &.image-loading
        opacity: 0
      &.image-fail
        display: none
  .info
    padding: 15px
    // background: rgba(0, 0, 0, 0.4)
    > .meta
      +clearfix
      +single-transition
      font-size: 0.7rem
      margin: 0
      margin-top: 25px !important
      span
        text-align: right
    .title
      @extend .font-title
      +single-transition
      font-size: 0.8rem
      overflow: hidden
      padding-bottom: 0
      width: 90%
      word-wrap: break-word
  &.show-status
    .date
      display: none
    .border
      width: 100%
    &.active
      .status, .border
        background: #2ecc71
    &.inactive
      .status, .border
        background: #FFB604
    &.archived, &.banned, &.rejected
      .status, .border
        background: #D3402A
    .status
      color: #FFF
      margin-top: -10px
      padding: 5px 10px

  .date
    +single-transition
    opacity: 0
    text-align: right

  .urgent-banner

  &.perk-urgent .container

    .urgent-banner
      display: block

  // .status
  //   @extend .font-title
  //   background: green
  //   color: #FFF
  //   display: none
  //   font-size: 0.9rem
  //   padding: 5px
  //   text-align: center
  //   &.error
  //     background: red
  //   &.warn
  //     background: orange
  // &.show-statuses .status
  //   display: block
