*[filterbox]
  // display: none

  .icon
    +radius(3px)
    @extend .font-awesome
    +single-transition
    background: #FF6600
    bottom: 30px
    color: #FFF
    cursor: pointer
    height: 55px
    left: 30px
    padding: 20px
    position: fixed
    text-align: center
    width: 55px
    z-index: 1

    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1)
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1)
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1)
    &:hover
      background: #d60


section[filterbox-content]
  padding-top: 10px
  margin-top: 30px
  h1, p
    text-align: center
  .columns
    margin-bottom: 2rem

