doctype html
html(lang= lang, dir= dir, ng-controller="master", ng-strict-di)
  head
    block meta
    include ./include/head.jade
    if data.noIndex
      meta(name="robots", content="noindex")
    else
      meta(name="robots" content="index, follow")

  body.initializing(itemscope, itemtype="http://schema.org/WebSite", id="{{ bodyid }}", ng-class="bodyClasses", ng-style="bodyStyles")
    #fb-root

    meta(itemprop="url" content="https://kuwaitandme.com/")
    header(ng-include="'components/header'")

    #page-loader
      #page-loading-bar

    //- Here goes the main content of the site
    main(ui-view)
      .robots.hide
        block robots
      block content

    include ./include/footer.jade