body.card-leaving
  &:after
    background: #FFF
    content: ""
    height: 100%
    left: 0
    position: fixed
    top: 0
    width: 100%
    z-index: 3

  *[classified-list]
    opacity: 0

[classified-list]
  +single-transition(all, 0.5s)
  background: #f9f9f9
  margin: 0 auto
  margin-bottom: 30px
  .ajax-spinner
    display: none
    text-align: center
    padding: 20px

  .ajax-finish, .ajax-loading
    @extend .font-title
    color: #AAA
    opacity: 0.8
    padding: 20px
    text-align: center



ul.classified-list
  +clearfix
  margin: 0 auto
  max-width: 100%
  min-height: 50%
  a
    text-decoration: none
    &:visited
      color: #000
  > li
    padding: 7px
