ul.flow-nav
  $main-color: #F60

  +flexbox
  margin: 0 auto
  padding: 0
  width: 180px
  list-style: none

  -webkit-justify-content: space-between
  -ms-flex-pack: justify
  justify-content: space-between

  li
    &.divider
      align-self: center
      width: 22px
      height: 2px
      background-image: linear-gradient(to right, $main-color 33%, rgba(255, 255, 255, 0) 0%)
      background-position: bottom
      background-size: 6px 2px
      background-repeat: repeat-x

    a
      +flexbox
      +single-transition
      background: transparent
      border-radius: 100%
      border: #e3e3e3 2px solid
      color: #cdcdcd
      font-size: 12px
      height: 30px
      line-height: 1
      text-align: center
      vertical-align: middle
      width: 30px

      -webkit-justify-content: center
      -ms-flex-pack: center
      justify-content: center
      -webkit-align-items: center
      -ms-flex-align: center
      align-items: center

    .num
      display: block

    &.active
      ~ .divider
        background-image: linear-gradient(to right, #e3e3e3 33%, rgba(255, 255, 255, 0) 0%)
    &.active, &.complete
      a
        border: $main-color 2px solid
        background: transparent
        color: $main-color
        cursor: default

