main
  +single-transition(transform)
  margin: 0 auto
  // min-height: 90%
  position: relative
  // padding-top: 60px

html
  overflow: auto

  &[lang='ar']
    direction: rtl
    font-size: 125%


body.initializing
  auth, header, main, section[notifications], modal
    display: none

@media print
  main
    padding-top: 0 !important
