<div class="font-title heading-xl padding text-center l-title">Sign-up</div>
<form action="<%= lang.href %>/auth/register" method="POST">
	<section>
		<div><input name="email" placeholder="email" /></div>
		<div><input type="password" name="password" placeholder="password" /></div>
		<div><input type="password" name="password" placeholder="re-enter password" /></div>
		<div><input type="submit" class="submit" value="Signup" /></div>
	</section>
	<div class="extra-links">
		Already have an account? Login <a data-view="auth/login" href="<%= lang.href %>/auth/">here</a>.
	</div>
</form>