<div id="classified-list">
	<% if(!classifieds || !classifieds.length) { %>
		<div class="font-title padding text-center heading-xl"><%= lang.list.noclassifieds %></div>
	<% } else {

		%>
	<ul class="row">
	<% _.each(classifieds, function(c) { %>
		<% if(!c.thumbnail) { %>
		<li class="columns medium-6 large-4 no-thumb">
		<% } else { %>
		<li class="columns medium-6 large-4">
		<% } %>
			<div class="thumb">
			<% if(c.thumbnail) { %>
				<img src="/uploads/thumb/<%= c.thumbnail %>" />
			<% } %>
			</div>
			<div class="c-info">
				<a data-view="classified/single" href="<%= window.lang.href %>/classified/single/<%= c.id %>"><div class="font-title heading c-title"><%= c.title %></div></a>
				<div>
					<%
						var cls="", text="";
						switch(c.status) {
							case "0": text = "Awaiting Moderation"; cls="yellow"; break;
							case "1": text = "Active"; cls="green"; break;
							case "2": text = "Archived"; cls="red"; break;
							case "3": text = "Rejected"; cls="red"; break;
							case "4": text = "Banned";  cls="red"; break;
							default: break;
						}
					%>
						<div class="box radii <%= cls %>"><%= text %></div>
				</div>
			</div>
		</li>
	<% }); %>
	</ul>
	<% } %>
</div>

<div id="pagenav"></div>