<div id="filter-box"></div>

<div id="classified-list">
	<% if(!classifieds || !classifieds.length) { %>
		<div class="font-title padding text-center heading-xl"><%= lang.list.noclassifieds %></div>
	<% } else {

		%>
	<ul class="row">
	<% _.each(classifieds, function(c) { %>
		<% if(!c.thumbnail) { %>
		<li class="columns medium-6 large-4 no-thumb">
		<% } else { %>
		<li class="columns medium-6 large-4">
		<% } %>
			<div class="thumb">
			<% if(c.thumbnail) { %>
				<img src="/uploads/thumb/<%= c.thumbnail %>" alt="<%= c.title %>"/>
			<% } %>
			</div>
			<div class="c-info">
				<a data/view="classified.single" href="<%= lang.href %>/classified/single/<%= c.id %>"><div class="font-title heading c-title"><%= c.title %></div></a>
				<div>
					<span class="c-meta">
					<%
						if(c.price && c.price == 0) print(lang.components.price.free);
						else if(c.price && c.price == -1) print(lang.components.price.contact);
						else print(c.price + " " + lang.components.price.kd);
					%>
					</span>
					<span class="c-meta">
					<%= prettydate.format(c.daycreated) %>
					</span>
					<% if(c.location && c.location != 0) { %>
						<span class="c-meta">
						<%= lang.location[c.location] %>
						</span>
					<% } %>
				</div>
			</div>
		</li>
	<% }); %>
	</ul>
	<% } %>
</div>

<div id="pagenav"></div>