<div class="padding">
	<h1 class="font-title">Congratulations! Your classified has been submitted</h1>
	<p>
		Since we can't verify your identity, We will have to review your classified
		before publishing it.
	</p>
	<br/>
	<p>
		To edit, archive or repost your classified at any time,
		use this link.
	</p>
	<div id="qrcode"></div>
	<h2>
		<a href="<%= url %>"> <%= url %> </a>
	</h2>
	<p class="red"><b>Warning:</b> Do not share this link with anyone else.
	 If you lose this link, you cannot delete this classified.</p>
</div>