<section id="messages"><div class="message"></div></section>

<div id="header-large" class="show-for-large-up">
	<ul id="nav-lang">
		<% _.each(language.list, function(l) { %>
			<a href="<%= l.url %>"><li><%= l.text %></li></a>
		<% }); %>
	</ul>
</div>

<ul id="mobile-sub-nav" class="row text-center hide-for-large-up">
	<% _.each(language.list, function(l) { %>
		<a href="<%= l.url %>/" data-view="landing"><li class="small-4 columns"><%= l.text %></li></a>
	<% }); %>
	<% _.each(links, function(link, i) {
			var properties = " href='" + link.url + "'";

			if(link.view) properties += " data-view='" + link.view + "'";
			if(i==1) properties += " id='post-classified'";
		%>
		<a <%= properties %>>
			<li class="small-6 columns"><%= link.name %></li>
		</a>
	<% }); %>
</ul>

<nav id="main-nav">
	<div id="mobile-nav-grabber" class="float-left item hide-for-large-up">
		<span class="font-awesome">&#xf0c9;</span>
		<span class="title"><%= lang.header.menu %></span>
	</div>
	<div class="show-for-large-up">
	<% _.each(links, function(link, i) {
			var properties = " href='" + link.url + "'";

			if(link.view) properties += " data-view='" + link.view + "'";
			if(i==1) properties += " id='post-classified'";
		%>
		<a <%= properties %>>
			<div class="float-left item large">
				<span class="title"><%= link.name %></span>
			</div>
		</a>
	<% }); %>
	</div>
	<form class="item" action="<%= lang.href %>/classified/search/" method="GET">
		<input name="keywords" class="font-title" />
		<span class="icon font-awesome">&#xf002;</span>
	</form>
</nav>