<div class="row">
	<div id="kme-welcome" class="large-6 columns">
		<div id="hero">
			<img src="/img/kme-logo.jpg" />
		</div>
		<div class="text-center padding-bottom">
			<%= lang.landing.contact %>
			<a data-view="classified/list" href="mailto:admin@kuwaitandme.com">admin@kuwaitandme.com</a>
		</div>
	</div>
	<div class="large-6 columns no-padding">
		<section id="top-classifieds">
		<% _.each(topClassifieds, function(c) { %>
			<% if(c.thumbnail) { %>
			<div class="top-c has-thumb" style="background-image: url('/uploads/thumb/<%= c.thumbnail %>')">
			<% } else { %>
			<div class="top-c">
			<% } %>
				<div class="top-c-title">
					<a data/view="classified.single" href="<%= lang.href %>/classified/single/<%= c.id %>">
						<%= c.title %>
					</a>
				</div>
			</div>
		<% }); %>
		</section>
	</div>
</div>
<section id="masonry-container" class="hide-for-small-only">
	<div class="m-item classified-list-long">
		<div class="title font-title"><%= lang.category["Personal"] %><div class="sprite matrimonal"></div></div>
		<ul class="font-text">
			<% _.each(categories[9].children, function(cat) { %>
				<li><a data-view="classified/list" href="/en/classified/search/?cat=<%= cat.id %>"><%= lang.category[cat.name] %></a></li>
			<% }); %>
		</ul>
	</div>

	<div class="m-item classified-list-long">
		<div class="title font-title"><%= lang.category["Pets"] %><div class="sprite pets"></div></div>
		<ul class="font-text">
			<% _.each(categories[6].children, function(cat) { %>
				<li><a data-view="classified/list" href="/en/classified/search/?cat=<%= cat.id %>"><%= lang.category[cat.name] %></a></li>
			<% }); %>
		</ul>
	</div>

	<div class="m-item classified-list-long">
		<div class="title font-title"><%= lang.category["Classes"] %><div class="sprite classes"></div></div>
		<ul class="font-text">
			<% _.each(categories[7].children, function(cat) { %>
				<li><a data-view="classified/list" href="/en/classified/search/?cat=<%= cat.id %>"><%= lang.category[cat.name] %></a></li>
			<% }); %>
		</ul>
	</div>

	<div class="m-item classified-list-long">
		<div class="title font-title"><%= lang.category["For Sale"] %><div class="sprite sale"></div></div>
		<ul class="font-text">
			<% _.each(categories[0].children, function(cat) { %>
				<li><a data-view="classified/list" href="/en/classified/search/?cat=<%= cat.id %>"><%= lang.category[cat.name] %></a></li>
			<% }); %>
		</ul>
	</div>

	<div class="m-item classified-list-long">
		<div class="title font-title"><%= lang.category["Jobs"] %><div class="sprite jobs"></div></div>
		<ul class="font-text">
			<% _.each(categories[8].children, function(cat) { %>
				<li><a data-view="classified/list" href="/en/classified/search/?cat=<%= cat.id %>"><%= lang.category[cat.name] %></a></li>
			<% }); %>
		</ul>
	</div>

	<div class="m-item classified-list-long">
		<div class="title font-title"><%= lang.category["Services"] %><div class="sprite services"></div></div>
		<ul class="font-text">
			<% _.each(categories[5].children, function(cat) { %>
				<li><a data-view="classified/list" href="/en/classified/search/?cat=<%= cat.id %>"><%= lang.category[cat.name] %></a></li>
			<% }); %>
		</ul>
	</div>

	<div class="m-item classified-list-long">
		<div class="title font-title"><%= lang.category["Community"] %><div class="sprite community"></div></div>
		<ul class="font-text">
			<% _.each(categories[2].children, function(cat) { %>
				<li><a data-view="classified/list" href="/en/classified/search/?cat=<%= cat.id %>"><%= lang.category[cat.name] %></a></li>
			<% }); %>
		</ul>
	</div>

	<div class="m-item classified-list-long">
		<div class="title font-title"><%= lang.category["For Rent"] %><div class="sprite rent"></div></div>
		<ul class="font-text">
			<% _.each(categories[3].children, function(cat) { %>
				<li><a data-view="classified/list" href="/en/classified/search/?cat=<%= cat.id %>"><%= lang.category[cat.name] %></a></li>
			<% }); %>
		</ul>
	</div>

	<div class="m-item classified-list-long">
		<div class="title font-title"><%= lang.category["Real Estate"] %><div class="sprite realestate"></div></div>
		<ul class="font-text">
			<% _.each(categories[4].children, function(cat) { %>
				<li><a data-view="classified/list" href="/en/classified/search/?cat=<%= cat.id %>"><%= lang.category[cat.name] %></a></li>
			<% }); %>
		</ul>
	</div>
</section>