@import "./common";


// Styles for this specific news page
body#news main
  a
    +single-transition(border)

  .page-links
    font-size: 12px
    padding: 10px 0
    a
      color: $news-color
      display: block
      font-weight: bold
      text-decoration: none
      text-transform: uppercase

  .stories
    margin: 0 auto

  .index
    float: left
    color: #CCC
    font-size: 9pt
    margin-top: 6px
    margin-bottom: -3px
    text-align: center
    font-weight: bold
    width: 15px
