news-header

ul.stories
  li.story(ng-repeat="story in stories track by $index")
    news-item(ng-model="story")

.page-links
  a(fn-route="/news{{ ifRecent }}/page/{{ pagination.next }}", ng-if="pagination.next") More
