section[notifications]
  .container
    position: fixed
    right: 10px
    top: 10px
    z-index: 100

    .item
      color: #FFF
      cursor: pointer
      font-size: 12px
      font-weight: bold
      margin-bottom: 10px
      max-width: 300px
      padding: 10px 20px
      width: auto

      &, &.success
        background: $color-success
      &.warn
        background: $color-warn
      &.error
        background: $color-error