//- article: https://raygun.io/blog/2014/07/making-svg-html-burger-button/
#hamburger.hamburglar.is-closed(ng-class="classes", ng-init="color='#FFF'")
  .burger-icon
    .burger-container
      span.burger-bun-top
      span.burger-filling
      span.burger-bun-bot

  //- svg ring container
  .burger-ring
    svg.svg-ring
      path.path(fill="none", stroke="{{ color }}", stroke-miterlimit="10"
        stroke-width="4",
        d="M 34 2 C 16.3 2 2 16.3 2 34 s 14.3 32 32 32 s 32 -14.3 32 -32 S 51.7 2 34 2")

  //- the masked path that animates the fill to the ring
  svg(width="0", height="0")
    mask#mask
      path(xmlns="http://www.w3.org/2000/svg", fill="none", stroke="#ff0000",
        stroke-miterlimit="10", stroke-width="4",
        d="M 34 2 c 11.6 0 21.8 6.2 27.4 15.5 c 2.9 4.8 5 16.5 -9.4 16.5 h -4")
  .path-burger
    .animate-path
      .path-rotation
