extends ../layout.jade

block content
	.row
		h3.columns You have # credits
		p.columns
			| Making a classified urgent requires 10 credits.
			br
			| Promoting a classified requires 50 credits.
	.row
		.medium-4.columns
			ul.pricing-table
				li.title 20 Credits
				li.price 250 fils/c
				li.description Total: 5 KWD
				li.bullet-item Mark upto 2 classifieds as urgent
				li.bullet-item Unable to promote any classifieds
				li.cta-button
					a.button(href='#') Buy now

		.medium-4.columns
			ul.pricing-table
				li.title 50 Credits
				li.price 200 fils/c
				li.description Total: 10 KWD
				li.bullet-item Mark upto 5 classifieds as urgent
				li.bullet-item Promote upto 1 classified
				li.cta-button
					a.button(href='#') Buy now

		.medium-4.columns
			ul.pricing-table
				li.title 100 Credits
				li.price 150 fils/c
				li.description Total: 15 KWD
				li.bullet-item Mark upto 10 classifieds as urgent
				li.bullet-item Promote upto 2 classifieds
				li.cta-button
					a.button(href='#') Buy now
