extends ../layout.jade

block content
	.html5-cache
		h1 This page is under construction!
		//- h1 You have # credits
		//- p Making a classified urgent needs 1 credit.
		//- p Promoting a classified requires 10 credits.