extends ../layout.jade

block content
	//- Render raw the top classifieds section
	section#top-classifieds
		h1 Featured classifieds
		div.content
			div.hide
				each classified in data.topClassifieds
					div
						a(href="/classified/single/" + classified._id)= classified.title

	//- Render the list of classifieds
	ul#masonry-container
		h1 Search for a classified
		div.content
			div.hide
				each category in categories
					li
						a(href="/classified/search?cat=" + category._id)= category.name


	//- JS Template for the classified list
	script(id="list-template", type="text/template")
		| <li class="cl-item">
		|   <div class="cl-container">
		|     <div class="cl-title sprite <%= name %>"><%= name %></div>
		|     <div class="cl-content">
		|       <ul class="cl-list">
		|       <% _.each(children, function(cat) { %>
		|         <a href="/classified/search?cat=<%= cat._id %>">
		|           <li data-id="<%= cat._id %>">
		|             <div class="name"><%= cat.name %></div>
		|             <span class="count"><%= cat.count %></span>
		|           </li>
		|         </a>
		|       <% }); %>
		|       </ul>
		|       <div class="cl-footer">
		|         <%= children.length %> categories &middot; <%= count %> classifieds
		|       </div>
		|     </div>
		|   </div>
		| </li>

	//- JS Template for the top classified list
	script(id="top-classifieds-template", type="text/template")
		|  <a href="/classified/single/<%= _id %>">
		|  <% if(images && images.length > 0) { %>
		|    <div class="top-c has-thumb" style="background-image: url('/uploads/thumb/<%= images[0] %>')">
		|  <% } else { %>
		|    <div class="top-c">
		|  <% } %>
		|      <div class="top-c-title"><%= title %></div>
		|    </div>
		|  </a>