extends ../layout.jade

block content
	//- .hide
		each category in data.categories
			a(href="/classified/search?category=" + category._id)= category.name

	.html5-cache
		section#search-classified
			//- h1.shadow Search for a classified!
			//- h3.shadow Get what you want, super-quick!
			#landing-logo
				img(src='/images/kme-logo-beta.png')
			form(action="/classified/search")
				input(type="text", name="keywords", placeholder="Search classifieds").search-bar
				button(type="submit").search-button &#xf002;
			ul#landing-extra
				a(href="/guest/post", data-view="guest-post")
					li Post a classified
				a(href="/classified/search", data-view="classified-search")
					li Advanced Search