extends ../layout.jade

block content

	section#masonry-container
		h1 Search for a classified
		ul.content
			div.hide
				each category in categories
					li
						a(href="/classified/search?cat=" + category._id)= category.name

	section#post-classified
		h1 Post your free Classified now!
		h3 it is super quick and easy
		a(href="/guest/post")
			.post-button Create Classified


	//- JS Template for the classified list
	script(id="list-template", type="text/template")
		| <li class="cl-item">
		|   <div class="cl-container">
		|     <div class="cl-title sprite <%= name %>"><%= name %></div>
		|     <div class="cl-content">
		|       <ul class="cl-list">
		|       <% _.each(children, function(cat) { %>
		|         <a href="/classified/search?cat=<%= cat._id %>">
		|           <li data-id="<%= cat._id %>">
		|             <div class="name"><%= cat.name %></div>
		|             <span class="count"><%= cat.count %></span>
		|           </li>
		|         </a>
		|       <% }); %>
		|       </ul>
		|       <div class="cl-footer">
		|         <%= children.length %> categories &middot; <%= count %> classifieds
		|       </div>
		|     </div>
		|   </div>
		| </li>