extends ../layout.jade

block content
	//- Render raw the top classifieds section
	section#top-classifieds
		each classified in data.topClassifieds
			div
				a(href="/classified/single/" + classified._id)= classified.title

	//- Render the list of classifieds
	section#masonry-container
		each category in categories
			div
				a(href="/classified/search?cat=" + category._id)= category.name


	//- JS Template for the classified list
	script(id="list-template", type="text/template")
		| <div class="m-item classified-list-long">
		|   <div class="cl-title"> <%= name %>
		|     <div class="sprite <%= name %>"></div>
		|   </div>
		|   <ul>
		|   <% _.each(children, function(cat) { %>
		|     <li data-id="<%= cat._id %>">
		|       <a href="/classified/search?cat=<%= cat._id %>">
		|         <span class="name"><%= cat.name %></span>
		|         <span class="count"></span>
		|       </a>
		|     </li>
		|   <% }); %>
		|   </ul>
		| </div>


	//- JS Template for the top classified list
	script(id="top-classifieds-template", type="text/template")
		|  <a href="/classified/single/<%= _id %>">
		|  <% if(images && images.length > 0) { %>
		|    <div class="top-c has-thumb" style="background-image: url('/uploads/thumb/<%= images[0] %>')">
		|  <% } else { %>
		|    <div class="top-c">
		|  <% } %>
		|      <div class="top-c-title"><%= title %></div>
		|    </div>
		|  </a>