extends ../layout.jade

block content
	.html5-cache
		.content
			h1 Privacy Policy
			p
				| This policy details how data about you is collected/used/disclosed
				| when you visit our websites and services (together, "Kuwait and Me")
				| or otherwise interact with us. If we update it, we will revise the date,
				| place notices on Kuwait and Me if a change is material, and/or obtain
				| your consent as required by law.

			div.sub-title 1. Protecting your privacy
			ul
				li We take precautions to prevent unauthorized access to or misuse of data about you.
				li We do not run ads, other than classified ads posted by our users.
				li We do not share your data with third parties for marketing purposes.
				li We do not engage in cross-marketing or link-referral programs with other sites.
				li We do not employ tracking devices for marketing purposes.
				li We do not send you unsolicited communications for marketing purposes.
				li Kuwait and Me links to third party sites - please review their privacy policies.

			div.sub-title 2. Data we use to provide/improve our services and/or combat fraud/abuse:
			ul
				li data you post on Kuwait and Me, or send us directly or via other sites. Please do not post private data.
				li credit card data, which is transmitted to payment processors via a security protocol (e.g. SSL).
				li data you provide (e.g. email address, name, address, phone, fax, photos, tax ID).
				li web log data (e.g. pages viewed, access times, IP address, HTTP headers).
				li data collected via cookies (e.g. keyword searches and "favorites" lists).
				li data about your devices (e.g. screen size, DOM local storage, plugins).
				li data from 3rd parties (e.g. phone type, general location derived from IP address).

			div.sub-title 3. Data we store
			ul
				li We retain data as long as needed for our business purposes and/or as required by law.
				li We make good faith efforts to store data securely, but make no guarantees.
				li You may access and update certain data about you by logging into your account.

			div.sub-title 4. Circumstances in which we may disclose user data:
			ul
				li to vendors and service providers (e.g. payment processors) working on our behalf.
				li to respond to subpoenas, court orders, or other legal process.
				li to protect our rights, property, or safety, or that of our users or the general public.
				li with your consent (e.g. if you authorize us to share data with other users).
				li in connection with a merger, bankruptcy, or sale/transfer of assets to another company.
				li in aggregate or summary form, as long as it cannot reasonably be used to identify you.