doctype html
html
  head
    title #{title}
    style(type='text/css').
      @import url(//fonts.googleapis.com/css?family=Bitter);
      @import url(//fonts.googleapis.com/css?family=Open+Sans:400,600);
      @import url(//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css);


      body {
        font-family: 'Open Sans', sans-serif;
      }
      h1, h2, h3 {
        font-family: 'Bitter', serif;
      }

  body
    .row
      h1.columns Terms &amp; Conditions

      h3.columns.columns Welcome to Kuwait &amp; Me
      p.columns
        | We hope you find it useful. By accessing our servers, websites, or
        | content therefrom (together, "Kuwait &amp; Me"), you agree to these Terms of Use
        | ("TOU"), last updated December 05, 2014.

      h3.columns.columns License
      p.columns
        | If you are 18 or older, we grant you a limited, revocable,
        | nonexclusive, nonassignable, nonsublicensable license to access
        | Kuwait &amp; Me in compliance with the TOU; unlicensed access is unauthorized.
        | You agree not to license, distribute, make derivative works, display,
        | sell, or "frame" content from Kuwait &amp; Me, excluding content you create and
        | sharing with friends/family. You grant us a perpetual, irrevocable,
        | unlimited, worldwide, fully paid/sublicensable license to use, copy,
        | perform, display, distribute, and make derivative works from content
        | you post.

      h3.columns.columns Use
      p.columns
        | You agree not to use or provide software (except for general purpose
        | web browsers and email clients, or software expressly licensed by us)
        | or services that interact or interoperate with Kuwait &amp; Me, e.g. for downloading,
        | uploading, posting, flagging, emailing, search, or mobile use. Robots,
        | spiders, scripts, scrapers, crawlers, etc. are prohibited, as are
        | misleading, unsolicited, unlawful, and/or spam postings/email.
        | You agree not to collect users' personal and/or contact information
        | ("PI").

      h3.columns.columns Moderation
      p.columns
        | You agree we may moderate Kuwait &amp; Me access and use in our sole
        | discretion, e.g. by blocking (e.g. IP addresses), filtering, deletion,
        | delay, omission, verification, and/or access/account/license
        | termination. You agree (1) not to bypass said moderation, (2) we are
        | not liable for moderating, not moderating, or representations as to
        | moderating, and (3) nothing we say or do waives our right to
        | moderate, or not.

      h3.columns.columns Sales
      p.columns
        | You authorize us to charge your account for Kuwait &amp; Me fees.
        | Unless noted, fees are in US dollars; tax is additional. To the
        | extent permitted by law, fees are nonrefundable, even for posts we
        | remove. We may refuse purchases, which may place a hold on your
        | account.

      h3.columns.columns Disclaimer
      p.columns
        | MANY JURISDICTIONS HAVE LAWS PROTECTING CONSUMERS AND OTHER CONTRACT
        | PARTIES, LIMITING THEIR ABILITY TO WAIVE CERTAIN RIGHTS AND
        | RESPONSIBILITIES. WE RESPECT SUCH LAWS; NOTHING HEREIN SHALL WAIVE
        | RIGHTS OR RESPONSIBILITIES THAT CANNOT BE WAIVED.

      p.columns
        | To the extent permitted by law, (1) we make no promise as to Kuwait
        | &amp; Me, its completeness, accuracy, availability, timeliness,
        | propriety, security or reliability; (2) your access and use are at
        | your own risk, and Kuwait &amp; Me is provided "AS IS" and "AS
        | AVAILABLE"; (3) we are not liable for any harm resulting from (a)
        | user content; (b) user conduct, e.g. illegal conduct; (c) your Kuwait
        | &amp; Me use; or (d) our representations; (4) WE AND OUR OFFICERS,
        | DIRECTORS, EMPLOYEES ("Kuwait &amp; Me ENTITIES"), DISCLAIM ALL
        | WARRANTIES &amp; CONDITIONS, EXPRESS OR IMPLIED, OF
        | MERCHANTABILITY, FITNESS FOR PARTICULAR PURPOSE, OR NON-INFRINGEMENT;
        | (5) Kuwait &amp; Me ENTITIES ARE NOT LIABLE FOR ANY INDIRECT,
        | INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS
        | (E.G. OF PROFIT, REVENUE, DATA, OR GOODWILL); (6) IN NO EVENT SHALL
        | OUR TOTAL LIABILITY EXCEED $100 OR WHAT YOU PAID US IN THE PAST YEAR.

      //- h3 Claims
      //- p
        | You agree (1) any claim, cause of action or dispute ("Claim")
        | arising out of or related to the TOU or your Kuwait &amp; Me use is
        | governed by California ("CA") law regardless of your location or any
        | conflict or choice of law principle; (2) Claims must be resolved
        | exclusively by state or federal court in San Francisco, CA (except
        | we may seek injunctive remedy anywhere); (3) to submit to personal
        | jurisdiction of said courts; (4) any Claim must be filed by 1 year
        | after it arose or be forever barred; (5) not to bring or take part
        | in a class action against Kuwait &amp; Me Entities; (6) (except
        | government agencies) to indemnify Kuwait &amp; Me Entities for any
        | damage, loss, and expense (e.g. legal fees) arising from claims
        | related to your Kuwait &amp; Me use; (7) you are liable for TOU
        | breaches by affiliates (e.g. marketers) paid by you, directly or
        | indirectly (e.g. through an affiliate network); and (8) to pay us for
        | breaching or inducing others to breach the "USE" section, not as a
        | penalty, but as a reasonable estimate of our damages (actual damages
        | are often hard to calculate): $0.10 per server request, $1 per post,
        | email, flag, or account created, $1 per item of PI collected, and
        | $1000 per software distribution, capped at $25,000 per day.

      h3.columns Advertising
      p
        | You agree that Kuwait &amp; Me, has the right at any time advertise
        | taking photos from your classifieds and using your name while doing so.
        | You agree that Kuwait &amp; Me has full discretion to choose whichever
        | photos without your permission. Kuwait &amp; Me will mention your business
        | if any, in these advertisements.
      h3.columns Misc
      p.columns
        | Users complying with prior written licenses may access Kuwait &amp;
        | Me thereby until authorization is terminated. Otherwise, this is the
        | exclusive and entire agreement between us. If a TOU term is
        | unenforceable, other terms are unaffected. If TOU translations
        | conflict with the English version, English controls. See Privacy
        | Policy for how we collect, use and share data.

      h1.columns Privacy Policy
      p.columns
        | This policy details how data about you is collected/used/disclosed
        | when you visit our websites and services (together, "Kuwait and Me")
        | or otherwise interact with us. If we update it, we will revise the date,
        | place notices on Kuwait and Me if a change is material, and/or obtain
        | your consent as required by law.

      h3.columns 1. Protecting your privacy
      ul.columns
        li We take precautions to prevent unauthorized access to or misuse of data about you.
        li We do not run ads, other than classified ads posted by our users.
        li We do not share your data with third parties for marketing purposes.
        li We do not engage in cross-marketing or link-referral programs with other sites.
        li We do not employ tracking devices for marketing purposes.
        li We do not send you unsolicited communications for marketing purposes.
        li Kuwait and Me links to third party sites - please review their privacy policies.

      h3.columns 2. Data we use to provide/improve our services and/or combat fraud/abuse:
      ul.columns
        li data you post on Kuwait and Me, or send us directly or via other sites. Please do not post private data.
        li credit card data, which is transmitted to payment processors via a security protocol (e.g. SSL).
        li data you provide (e.g. email address, name, address, phone, fax, photos, tax ID).
        li web log data (e.g. pages viewed, access times, IP address, HTTP headers).
        li data collected via cookies (e.g. keyword searches and "favorites" lists).
        li data about your devices (e.g. screen size, DOM local storage, plugins).
        li data from 3rd parties (e.g. phone type, general location derived from IP address).

      h3.columns 3. Data we store
      ul.columns
        li We retain data as long as needed for our business purposes and/or as required by law.
        li We make good faith efforts to store data securely, but make no guarantees.
        li You may access and update certain data about you by logging into your account.

      h3.columns 4. Circumstances in which we may disclose user data:
      ul.columns
        li to vendors and service providers (e.g. payment processors) working on our behalf.
        li to respond to subpoenas, court orders, or other legal process.
        li to protect our rights, property, or safety, or that of our users or the general public.
        li with your consent (e.g. if you authorize us to share data with other users).
        li in connection with a merger, bankruptcy, or sale/transfer of assets to another company.
        li in aggregate or summary form, as long as it cannot reasonably be used to identify you.

      h3.columns 7. Changes to this Privacy Policy or Terms &amp; Conditions
      p.columns We may update this Privacy Policy from time to time, so please review it frequently. If we make material changes to this Privacy Policy, we will notify you here on this website page, by email, or by means of a notice on our website home page prior to the changes taking effect.