main
  background: #FFF
  margin: 0 auto
  max-width: 62.5rem
  min-height: 90%
  position: relative
  // padding: 0 10px

  @media only screen and (max-width: 40.063em)
    padding: 0

html
  overflow: auto

  &[lang='ar']
    direction: rtl
    font-size: 125%

@media print
  main
    padding-top: 0 !important