h1 The Site
p
  | Kuwait &amp; Me is a free online classified site, which means it is a site
  | where you can publish classifieds just like how you would publish classifieds
  | in a newspaper but for free.
p
  | Because Kuwait &amp; Me is an online service you can add images/maps/videos
  | to your classified and reach a wide audience with the help of the site and
  | its mobile app.
p
  | The purpose for the site is create a better economy in Kuwait while at the
  | same time trying to promote a sharing community. Having classifieds efficiently
  | organized and easily accessible allows people to easily sell their things
  | instead of disposing them and also allowing other people to find
  | things that they want at second-hand prices. With the site, people finally get a
  | chance to advertise their products without having to pay anything.