//- ul#landing-social
//-   li.social
//-     .fb-like(data-href='https://www.facebook.com/KuwaitandME', data-layout='button_count', data-action='like', data-show-faces='true', data-share='false')
  //- li.social
  //-   a.twitter-share-button(href='https://twitter.com/share', data-related="twitterdev", data-count="horizontal",   data-text="An amazing site to publish classifieds in Kuwait. Check it out! #KuwaitandME")
#landing-section
  section#search-form
    #landing-logo
      img(src='/images/kme-logo-tagline.png')
    form(action!="<%= lang.href %>/classified/search")
      input(type="text", name="keywords", lang-placeholder="page.landing.search").search-bar
      button(type="submit").search-button &#xf002;
    //- ul#landing-extra
      li.hide-if-loggedin
        a(href!="<%= lang.href %>/guest/post", data-view, lang-html="header.cpost")
      li.show-if-loggedin
        a(href!="<%= lang.href %>/classified/post", data-view, lang-html="header.cpost")
      li.hide-if-loggedin
        a(href!="<%= lang.href %>/auth/login", data-view, lang-html="header.login")
      li.hide-if-loggedin
        a(href!="<%= lang.href %>/auth/signup", data-view, lang-html="header.signup")
      li.show-if-loggedin
        a(href!="<%= lang.href %>/account", data-view, lang-html="header.view")
      li.show-if-loggedin
        a(href!="<%= lang.href %>/auth/signup", data-view, lang-html="header.logout")
      //- li
      //-   a(href="/ar") العربية
      //- li
      //-   a(href="/en") English

#landing-categories

#landing-featured-cl
  .lang
    h4(lang-html="page.landing.classifieds")
  .classifiedList