//- ul#landing-social
  li.social
    a.facebook(href="https://www.facebook.com/KuwaitandME") &#xf09a;
  li.social
    a.googleplus(href="https://www.google.com/+Kuwaitandmeclassifieds") &#xf0d5;
  li.social
    a.twitter(href="https://twitter.com/kuwaitandme") &#xf099;
  li.social
    a.youtube(href="https://www.youtube.com/channel/UCRd6d6Tcya8JBwnNB8MFo5A") &#xf16a;
  li.social
    a.instagram(href="https://instagram.com/kuwaitandme/") &#xf16d;
#landing-section
  section#search-form
    #landing-logo
      img(src='/images/kme-logo-tagline.png', cached-src='//static.kuwaitandme.com/images/kme-logo-tagline.png')
    form(action!="<%= lang.href %>/classified/search")
      input(type="text", name="keywords", placeholder="Search classifieds", lang-placeholder="page.landing.search").search-bar
      button(type="submit").search-button &#xf002;
    ul#landing-extra
      li.hide-if-loggedin
        a(href!="<%= lang.href %>/guest/post", data-view, lang-html="header.cpost") Post a classified
      li.show-if-loggedin
        a(href!="<%= lang.href %>/classified/post", data-view, lang-html="header.cpost") Post a classified
      li.hide-if-loggedin
        a(href!="<%= lang.href %>/auth/login", data-view, lang-html="header.login") Login
      li.hide-if-loggedin
        a(href!="<%= lang.href %>/auth/signup", data-view, lang-html="header.signup") Signup
      li.show-if-loggedin
        a(href!="<%= lang.href %>/account", data-view, lang-html="header.view") Account
      li.show-if-loggedin
        a(href!="<%= lang.href %>/auth/signup", data-view, lang-html="header.logout") Logout
      //- li
      //-   a(href="/ar") العربية
      //- li
      //-   a(href="/en") English

.lang
  h4(lang-html="page.landing.category") Choose a category
#landing-categories.large-8

#landing-featured-cl
  .lang
    h4(lang-html="page.landing.classifieds") Featured Classifieds
  .classifiedList