ul#landing-social
  li.social
    a.facebook(href="https://www.facebook.com/KuwaitandME") &#xf09a;
  li.social
    a.googleplus(href="https://www.google.com/+Kuwaitandmeclassifieds") &#xf0d5;
  li.social
    a.twitter(href="https://twitter.com/kuwaitandme") &#xf099;
  li.social
    a.youtube(href="/terms-privacy") &#xf16a;
  li.social
    a.instagram(href="https://twitter.com/kuwaitandme") &#xf16d;
#landing-section
  section#search-form
    #landing-logo
      img(src='/images/kme-logo-tagline.png', cached-src='//static.kuwaitandme.com/images/kme-logo-tagline.png')
    form(action="/classified/search").hide-for-small
      input(type="text", name="keywords", placeholder="Search classifieds").search-bar
      button(type="submit").search-button &#xf002;
    ul#landing-extra
      li.hide-if-loggedin
        a(href="/guest/post", data-view) Post a classified
      li.show-if-loggedin
        a(href="/classified/post", data-view) Post a classified
      li.show-if-loggedin
        a(href="/account", data-view) Account
      li.show-if-loggedin
        a(href="/auth/logout", data-view) Logout
      li.hide-if-loggedin
        a(href="/auth/login", data-view) Login
      li.hide-if-loggedin
        a(href="/auth/signup", data-view) Signup

    //- #landing-message
    //-   a(href="#") arabic
    //-   span &nbsp;&middot;&nbsp;
    //-     a(href="#") Download
    //-     span &nbsp;the mobile app

  //- #landing-footer Created by Steven Enamakel
h4 Choose a category
#landing-categories.large-8

//- Container to hold the classifieds
#landing-featured-cl
  h4 Featured Classifieds
  .classifiedList