*[filterbox]
  // display: none

  .icon
    +radius(300px)
    +single-transition
    @extend .font-awesome
    background: #FF6600
    bottom: 20px
    color: #FFF
    cursor: pointer
    height: 55px
    left: 20px
    padding: 20px
    position: fixed
    text-align: center
    width: 55px
    z-index: 1

    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1)
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1)
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1)
    &:hover
      background: #d60


section[filterbox-content]
  padding-top: 10px
  margin-top: 30px
  h1, p
    text-align: center
  p
    margin-bottom: 30px
  .columns
    margin-bottom: 2rem

  @media #{$screen} and (max-width:#{lower-bound($large-range)})
    button
      border-radius: 0
      bottom: 0
      left: 0
      position: fixed
      width: 100%
