$headerHeight: 60px

main
  +single-transition

header
  // position: fixed
  // top: 0
  // left: 0
  width: 100%
  background: #FFF
  z-index: 4

  $shadow-opacity: 0.1
  border-bottom: 2px solid #DEDEDE

  #header-logo-container
    cursor: pointer
    left: 50%
    margin-left: (146/2) * -1px
    padding: 14px 0
    position: absolute
    top: 0

    #header-logo
      background-image: url(#{$image_root}/images/header/logo.png)
      background-size: 147px
      display: block
      height: 27px
      width: 146px

  #grabber-container
    cursor: pointer
    float: left
    padding: 19px 25px
    #grabber
      background-image: url(#{$image_root}/images/header/grabber.png)
      background-size: 100%
      height: 21px
      position: relative
      width: 21px

  #header-logo, #grabber
    background-repeat: no-repeat

  #main-header
    +clearfix
    +single-transition
    border-bottom: 1px solid #f9f9f9
    height: $headerHeight
    z-index: 1

    &.nav-up
      margin-top: -$headerHeight
    #nav-social-container
      @extend .font-awesome
      float: right
      a
        +single-transition
        display: inline-block
        font-size: 0.9rem
        opacity: 0.3
        padding: 24px 8px
        text-decoration: none
        &:hover
          opacity: 1


  nav#sub-header
    border-top: 1px solid #ddd
    // display: none

    ul.main-sublinks
      margin: 0 auto
      max-width: 800px
      li
        border-left: 1px solid #ddd
        // border-bottom: 1px solid #ddd
        padding: 0
        color: #777
        a
          +single-transition(background)
          text-decoration: none
          display: block
          color: inherit
          cursor: pointer
          padding: 9px 7px
          text-align: center
          text-transform: uppercase
          font-size: 10px
          &:hover
            background: #CB202E
            color: #FFF

        &.contribute a:hover
          background: #FAA617
        &.forums a:hover
          background: #2461B2
        &.stories a:hover
          background: #A0C9CC
        &.meetups a:hover
          background: #009F5E
        &.news a:hover
          background: #41274B
        &:last-child
          border-right: 1px solid #ddd

@media print
  header
    display: none
