$headerHeight: 60px
$subHeaderWidth: 130px
$subHeaderColor: $news-color


header
  $border-color: #EEE
  width: 100%
  background: #FFF
  z-index: 4
  border-bottom: 1px solid $border-color

  $shadow-opacity: 0.1
  +clearfix

  #header-logo-container
    float: left
    cursor: pointer
    padding: 15px 13px
    @media #{$small-only}
      float: right

    img
      height: 21px
      width: 112px

  #grabber-container
    +single-transition(transform)
    cursor: pointer
    float: left
    padding: 25px 25px 19px 25px
    img
      height: 16px
      width: 16px
    .black
      display: block
    .white
      display: none

  #header-logo, #grabber
    background-repeat: no-repeat

  #main-header
    +clearfix
    +single-transition(transform)
    background: #FFF
    height: $headerHeight
    z-index: 2

    &.nav-up
      margin-top: -$headerHeight

  nav#menu-header, nav#submenu-header
    opacity: 0
    ul
      margin: 0
      padding: 5px 0

      li
        +single-transition(background)
        a
          text-decoration: none
          cursor: pointer
          margin-left: 10px
          font-weight: bold



  nav#menu-header
    +single-transition
    background: #FFF
    border-right: 2px solid $subHeaderColor
    bottom: 0
    left: 0
    margin-bottom: 0
    overflow-y: auto
    position: fixed
    text-align: left
    top: 0
    width: $subHeaderWidth
    z-index: 5

    -webkit-transform: translate3D(-$subHeaderWidth, 0, 0)
    -ms-transform: translate3D(-$subHeaderWidth, 0, 0)
    transform: translate3D(-$subHeaderWidth, 0, 0)


    ul
      background: #FFF
      position: relative

      li
        color: #000
        a
          display: inline-block
          color: inherit
          padding: 7px
          font-size: 12px

        .icon
          float: right
          color: inherit
          padding: 7px 15px

        .sub
          display: none !important
          margin-left: 30px
          &:hover, &.active
            background: rgba(0,0,0,0.3)

        &.active, &:hover
          color: #FFF
          background: #333
          a
            display: block
            color: inherit
            border-color: transparent

        &.active .sub
          display: block !important
        &.sharing:hover, &.sharing.active
          background: $sharing-color
        &.contribute:hover, &.contribute.active
          background: $contribute-color
        &.forums:hover, &.forums.active
          background: $forum-color
        &.stories:hover, &.stories.active
          background: $stories-color
        &.meetups:hover, &.meetups.active
          background: $meetups-color
        &.news:hover, &.news.active
          background: $news-color

        &.divider
          background: #EEE
          height: 2px
          margin: 10px 0

nav#submenu-header
  +single-transition
  background: #EEE
  bottom: 0
  height: 100%
  left: $subHeaderWidth
  position: fixed
  top: 0
  width: $subHeaderWidth
  z-index: 2

  -webkit-transform: translate3D(-$subHeaderWidth * 2, 0, 0)
  -ms-transform: translate3D(-$subHeaderWidth * 2, 0, 0)
  transform: translate3D(-$subHeaderWidth * 2, 0, 0)

  li
    color: #FFF
    a
      display: inline-block
      color: inherit
      padding: 7px
      font-size: 12px
    &:hover, &.active
      background: rgba(0,0,0,0.3)
.show-header
  header
    #grabber-container
      background: $subHeaderColor
      .black
        display: none
      .white
        display: block
    #menu-header
      opacity: 1

      -webkit-transform: translate3D(0,0,0)
      -ms-transform: translate3D(0,0,0)
      transform: translate3D(0,0,0)
    #main-header
      -webkit-transform: translate3D($subHeaderWidth, 0, 0)
      -ms-transform: translate3D($subHeaderWidth, 0, 0)
      transform: translate3D($subHeaderWidth, 0, 0)
    #submenu-header
      -webkit-transform: translate3D(-$subHeaderWidth, 0, 0)
      -ms-transform: translate3D(-$subHeaderWidth, 0, 0)
      transform: translate3D(-$subHeaderWidth, 0, 0)
    .nav-cover
      bottom: 0
      left: $subHeaderWidth
      position: fixed
      right: 0
      top: 0
      z-index: 200

  main
    opacity: 0.2

    -webkit-transform: translate3D(50px, 0, 0)
    -ms-transform: translate3D(50px, 0, 0)
    transform: translate3D(50px, 0, 0)

  &.show-subheader
    #submenu-header
      opacity: 1
      -webkit-transform: translate3D(0,0,0)
      -ms-transform: translate3D(0,0,0)
      transform: translate3D(0,0,0)
    #main-header
      -webkit-transform: translate3D($subHeaderWidth * 2, 0, 0)
      -ms-transform: translate3D($subHeaderWidth * 2, 0, 0)
      transform: translate3D($subHeaderWidth * 2, 0, 0)
    header .nav-cover
      left: $subHeaderWidth * 2

@media print
  header
    display: none
