$headerHeight: 60px

main
  &:before
    +single-transition
    background: rgba(0, 0, 0, 0.8)
    content: ""
    left: 0
    opacity: 0
    position: fixed
    top: 0
    width: 100%
    z-index: 1
header
  // position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 4


  > .row
    max-width: none
  #main-header
    +single-transition
    +clearfix
    background: #FFF
    // border-bottom: 1px solid #f6f6f6
    height: $headerHeight
    z-index: 1

    &.nav-up
      margin-top: -$headerHeight
    #header-logo, #grabber
      background-image: url(/images/common-spritesheet.png)
      background-repeat: no-repeat
    #grabber-container
      cursor: pointer
      float: right
      padding: 24px 25px
    #nav-social-container
      @extend .font-awesome
      float: right
      a
        +single-transition
        display: inline-block
        font-size: 0.9rem
        opacity: 0.3
        padding: 24px 8px
        text-decoration: none
        &:hover
          opacity: 1
    #header-logo-container
      cursor: pointer
      float: left
      padding: 18px 20px

    #header-logo
      background-image: url(/images/header-logo.png)
      background-size: 25px;
      // background-position: -85px 0
      display: block
      height: 25px
      width: 25px
    #grabber
      background-position: -64px 0
      height: 17px
      position: relative
      width: 21px
      #notification-counter
        $size: 18px
        +radius(100px)
        background: #E74C3C
        color: #FFF
        font-size: 10px
        height: $size
        line-height: $size
        position: absolute
        right: 40px
        text-align: center
        top: 15px
        width: $size


    // &:hover ~ nav#sub-header ul#notifications
    //   height: 35px !important

  nav#sub-header
    top: -400px
    overflow-y: auto
    position: fixed
    max-width: $row-width

    @media only screen and (max-width: 40em)
      top: -1000px

    &, ul#notifications, #nav-footer
      +single-transition(all, 500ms)
    ul#notifications
      // display: none
      // margin-top: 20px
      margin: 0
      overflow: hidden
      li
        +single-transition
        color: #FFF
        font-size: 0.8rem
        padding: 0.5rem 1rem
        margin-bottom: 10px
        position: relative
        &:first-child
          margin-top: 10px
        &:last-child
          margin-bottom: 0
        &:nth-child(even)
          background: rgba(0,0,0,0.1)
        &.none
          margin: 0
        &.success, &
          background: #30B632
        &.warning
          background: #FF9900
        &.error
          background: #D8432E
        &.read
          opacity: 0.5
        &:hover
          opacity: 1

    #nav-links
      @extend .font-title
      background: #fff
      font-size: 1rem
      margin-top: 10px
      overflow: hidden

      .title
        background: #F60
        color: #FFF
        display: inline-block
        font-size: 1rem
        font-weight: bold
        padding: 1rem
        text-align: right
        text-transform: uppercase

        @media only screen and (min-width: 40em)
          &.dark
            background: #DB5800
      .link
        text-align: center
        font-size: 0.9rem
      li
        padding: 0
      a
        +single-transition
        border-bottom: 3px solid transparent
        color: #000
        display: block
        height: 56px
        padding: 1rem 0
        text-decoration: none
        width: 100%
        &:hover
          border-bottom-color: #F60

    #nav-footer
      @extend .font-title
      background: #FFF
      color: #000
      font-size: 0.7rem
      padding: 1rem
      overflow: hidden
      text-align: center
      a
        color: blue
        text-decoration: none

#nav-widget-user
  margin-top: 20px
  overflow: hidden
  background: #FFF
  .thumb
    padding: 20px
    text-align: center

    img
      width: 100px
      height: 100px
      background: #F60

      -webkit-border-radius: 50px
      -moz-border-radius: 50px
      border-radius: 50px


body.show-subheader
  header, nav#sub-header
    bottom: 0
    overflow-y: auto
  #main-header
    margin-top: 0
  nav#sub-header
    top: 60px

  main:before
    opacity: 1
    content: ''
    height: 100%

body.stick-header, body.show-subheader
  #main-header
    margin-top: 0

@media print
  header
    display: none
