//- #main-header.columns(ng-scrollup-class="nav-up")
#main-header
  #header-logo-container
    a#header-logo(fn-route="/")
  #grabber-container(ng-click="toggleHeader()")
    #grabber


nav#sub-header
  ul.main-sublinks.small-block-grid-3.medium-block-grid-6
    li
      a(fn-route="/food") Food
    li
      a(fn-route="/forums") Forums
    li
      a(fn-route="/meetups") Meetups
    li
      a(fn-route="/news") News
    li
      a(fn-route="/sharing") Sharing
    li
      a(fn-route="/shopping") Shopping
