//- #main-header.columns(ng-scrollup-class="nav-up")
#main-header
  #header-logo-container
    a#header-logo(fn-route="/")
  #grabber-container(ng-click="toggleHeader()")
    #grabber


nav#sub-header
  ul.main-sublinks.small-block-grid-3.medium-block-grid-6
    li.food
      a(fn-route="/food") Food
    li.forums
      a(fn-route="/forums") Forums
    li.meetups
      a(fn-route="/meetups") Meetups
    li.news
      a(fn-route="/news") News
    li.sharing
      a(fn-route="/sharing") Sharing
    li.lifestyle
      a(fn-route="/lifestyle") Lifestyle
