#main-header(class="{{ route }}")
  #header-logo-container
    a(fn-route="/")
      img(src="/images/header/logo.png")
  #header-logo-container
  #grabber-container(ng-click="toggleHeader()")
    img(src="/images/header/grabber{{ showMenuHeader ? '-white' : '' }}.png",)


nav#menu-header(ng-class="{'show-menuheader': showMenuHeader}")
  ul.main-sublinks
    //- li.food
      a(fn-route="/food") Food
    li.forums
      a(fn-route="/forums") Forums
    li.meetups
      a(fn-route="/meetups") Meetups
    li.news.active
      a(fn-route="/news", ng-class="{active: route == 'news'}") News
    li.sharing
      a(fn-route="/sharing") Sharing
    li.stories
      a(fn-route="/stories") Stories
    li.contribute
      a(fn-route="/info/contribute") Contribute
  ul.second-sublinks
    li
      a(fn-route="/login") Login
    li
      a(fn-route="/signup") Signup
    li
      a(fn-route="/info/privacy-terms") Terms &amp; Privacy


span.nav-cover(ng-click="closeHeader()")
//- nav#sub-header
  ul.main-sublinks.small-block-grid-3.medium-block-grid-6
    //- li.food
      a(fn-route="/food") Food
    li.forums
      a(fn-route="/forums") Forums
    li.meetups
      a(fn-route="/meetups") Meetups
    li.news
      a(fn-route="/news") News
    li.sharing
      a(fn-route="/sharing") Sharing
    li.stories
      a(fn-route="/stories") Stories
    li.contribute
      a(fn-route="/info/contribute") Contribute
