section#account-container.row
  .block.medium-4.columns
    a(href="/classified/post", data-view="")
      .content
        .title Post a classified
  .block.medium-4.columns
    a(href="/account/manage", data-view="")
      .content
        .title Manage your classifieds
  .block.medium-4.columns