html
  body
    #themes.themes
      .panel.panel-default
        .panel-heading Installed Themes
        | &#x9;&#x9;
        .panel-body
          p
            | The following themes are currently installed on your forum.
          | &#x9;&#x9;&#x9;
          ul#installed_themes.directory
            li
              i.fa.fa-refresh.fa-spin
              |  Checking for installed themes...
