html
  body
    textarea.form-control(rows='6', name='text', placeholder='Enter Text / Markdown')
    hr
    .checkbox
      label
        input(type='checkbox', name='parseAsPost', checked='')
        | &#x9;&#x9;Parse as a Post? (Take all post-related plugins into effect)
