input.field(ng-init="opened=false; focused=false"
  ng-focus="focused=true; onTouch()"
  ng-model="userInput")

.placeholder(ng-class="{shrink: focused || userInput}") {{ placeholder }}

ul(ng-class="{opened: focused}")
  li(ng-repeat="item in list | filter:{ name: userInput }"
    ng-click="setItem(item)") {{ item.name }}
