*[classified-form]
  $border-color: #f0f0f0
  $color-error: #E04B2A
  $color-inactive: rgba(0, 0, 0, 0.02)
  $color-valid: #30cd72
  $color-warn: #FFB604
  background: #FFF

  input
    &[type='checkbox']
      margin-right: 5px !important
      width: auto !important

  .columns
    margin-bottom: 30px

  .admin-panel
    +clearfix
    .action
      border-bottom: 3px solid rgba(0,0,0,0.2)
      color: #FFF
      cursor: pointer
      float: left
      font-size: 0.7rem
      margin-right: 5px
      padding: 0.5rem 1rem
      text-transform: uppercase
      &, &.green
        background: $color-valid
      &.red
        background: $color-error

  .meta
    // Meta attribute colors
    .delivery
      background: #DD4B39
    .hideEmail
      background: #111
    .viber
      background: #774F98
    .whatsapp
      background: #11AE09
    .googlemaps
      background: #F69615


  .credits-info
    padding: 1rem 0
    text-align: center
    // .text
    //   font-weight: bold
    //   font-size: 1rem
    .count
      padding: .5rem 0
      font-size: 3rem
      .subtract
        color: $color-error
        font-size: 0.9rem
        position: absolute

  button
    +radius(3px)
    @extend .font-cantarell
    color: #FFF
    font-size: 0.9rem
    height: 46px
    padding: 10px 30px
    cursor: pointer
    text-transform: uppercase
    width: 100%
    z-index: 3
  .submit
    background: $color-success
    &:focus
      background: #27AE60


  .disclaimer
    padding:  1rem
    color: #000
    opacity: 0.7
    font-size: 0.7rem
    a
      color: blue
      text-decoration: none
      border-bottom: 1px solid blue

    // @extend section[classified-single] .disclaimer

  &.loading
    position: relative
    .submit
     &, &:focus, &:hover
      background: #DDD
      color: #222
    &:after
      +single-transition
      background: rgba(255, 255, 255, 0.8)
      content: ''
      height: 100%
      left: 0
      position: absolute
      top: 0
      width: 100%
  @media only screen and (max-width: 64.063em)
    form
      margin-bottom: 32px
