*[input-category]
  position: relative
  .field
    cursor: pointer
    position: relative
    min-height: 67px !important
    &:after
      +single-transition
      @extend .font-awesome
      content: '\f107'
      position: absolute
      right: 27px
      top: 27px
    &.opened:after
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);
  ul
    +force-gpu
    +single-transition
    background: #FFF
    display: none
    left: 0
    margin: 0
    opacity: 0
    position: absolute
    top: 0%
    width: 100%
    z-index: -1

    &.opened
      display: block
      opacity: 1
      position: relative
      top: 100%
      z-index: 1
    li
      +single-transition
      +force-gpu
      background: #f9f9f9
      border-bottom: 1px solid #ddd
      cursor: pointer
      line-height: 50px
      padding: 0 10px

      &:hover
        background: #eee

      @media #{$small-only}
        width: 100%

      @media #{$medium-up}
        &:nth-child(even)
          border-left: 1px solid #ddd

      input
        background: inherit
        outline: none
        width: 100%
        height: 100%
        border: 0
        padding: 18px 0
