html
  body
    .row
      .col-lg-9
        .panel.panel-default
          .panel-heading
            i.fa.fa-folder
            |  Categories
          |             
          .panel-body
            .categories
      |     
      .col-lg-3.acp-sidebar
        .panel.panel-default
          .panel-heading Categories Control Panel
          |             
          .panel-body
            button.btn.btn-primary.btn-block(type='button', data-action='create')
              | Create New Category
