body#index
  #splash
    text-align: center
    padding: 50px 0 50px 0
    position: relative

    // Call-to-action
    img
      padding: 10px
    .cta
      margin: 35px auto
      a
        +single-transition
        @extend .font-cantarell
        background: rgba(255, 255, 255, 0.01)
        border: 2px solid #000
        color: #000
        display: inline-block
        font-size: 12px
        margin: 10px 15px
        padding: 10px 20px
        text-decoration: none
        text-transform: uppercase
        &:hover
          background: #000
          color: #FFF
    h1.tagline
      font-size: 1.7rem
      margin: 0 auto
      max-width: 400px
      padding: 40px 10px 0 10px
      text-align: center
    #collage
      background-size: 85%
      height: 100%
      left: 0
      opacity: 1
      position: absolute
      top: 0
      width: 100%
      z-index: -1
      @media #{$medium-only}
        background-size: 100%
      @media #{$small-only}
        background-size: 150%

    h2
      font-weight: 400
      font-size: 0.9rem
      a
        +single-transition(background)
        @extend .font-open
        background: rgba(255, 255, 255, 0.2)
        border-bottom: #000 3px solid
        color: #000
        display: block
        font-weight: bold
        padding: 1rem
        text-align: center
        text-decoration: none
        text-shadow: 1px 1px 2px #000
        width: 100%

    // These styles get applied when the collage has been loaded
    &.imgLoaded
      color: #000
      padding: 150px 0 50px 0
      h1.tagline
        color: #FFF
        text-shadow: 1px 1px 2px #000
      #collage
        // background-image: url("/images/collage.png")
        &:after
          content: ''
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          // background: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,1) 100%)
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.97) 90%)
      a
        color: #FFF
        border-color: #FFF
        &:hover
          color: #000
          background: #FFF
          text-shadow: none

  h4
    font-size: 1.05em
    text-align: center
    padding: 1px
    margin-bottom: 1rem
  #featured-classifieds
    padding-top: 20px
    .classified-list-container
      margin-top: 0
    .classified-list,
      margin: 0
  #landing-categories
    padding-top: 60px
    .categories-list
      margin: 0
  #featured-classifieds, #landing-categories
    > h2
      @extend .font-roboto
      background: #FFF
      color: #000
      display: inline-block
      font-size: 0.9rem
      font-weight: 400
      margin-bottom: 0
      padding: 0.5rem 1rem
