section[auth]
  +single-transition
  background: rgba(0, 0, 0, 0.8)
  display: none
  position: fixed
  top: 0
  opacity: 0
  left: 0
  bottom: 0
  overflow-y: scroll
  width: 100%
  min-height: 100%
  z-index: 4
  text-align: center
  &.show
    display: block
  &.fade
    opacity: 1
  .hero
    background: url(/images/hero/landing.jpg)
    background-position: -100px 100%
    background-size: auto 100%
    height: 520px
    padding: 0
    margin-bottom: 0 !important
    position: relative
    color: #FFF
    &:after
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      content: ''
      background: -moz-linear-gradient(to bottom,rgba(0,0,0,0.2) 20%,rgba(0,0,0,0.9) 100%)
      background: linear-gradient(to bottom, rgba(0,0,0,0.2) 20%,rgba(0,0,0,0.9) 100%)
    // width: 100%
    .intro
      position: absolute
      bottom: 0
      z-index: 2
      width: 100%
      text-align: left
      padding: 15px
      h2
        @extend .font-roboto-slab
        padding-bottom: 10px
        border-bottom: 2px solid #FFF
        font-size: 18px
      li
        font-size: 14px
        &:before
          content: '\b7'
          font-size: 18px
          padding-right: 10px
          padding-left: 5px

  > .row
    background: #FFF
    margin: 60px auto
    max-width: 620px
    position: relative

    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5)
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5)
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5)

    .columns
      margin-bottom: 15px

  .auth-tab
    padding-top: 30px
    *[google-recaptcha]
      > div > div
        margin: 0 auto

  .close
    position: absolute
    top: 0
    cursor: pointer
    background: #FFF
    padding: 10px
    height: 45px
    width: 40px
    right: -40px

  button
    height: 40px
    font-size: 12px

  .contents
    display: inline-block
    padding-top: 50px
    vertical-align: middle
    width: 100%

    div
      padding: 15px 0
    a
      +single-transition
      +radius(3px)
      @extend .font-open
      margin: 0 auto
      color: #FFF
      display: block
      font-size: 12px
      padding: 0.5rem
      text-align: center
      text-decoration: none
      overflow: none
      height: 40px
      line-height: 20px
      margin-bottom: 10px
    .option-text
      font-size: 14px
    .windows
      background: #945990
    .facebook
      background: #567CC5
    .google-plus
      background: #DF4A32
    .login
      background: #F60
    .signup
      border: 1px solid #F60
      color: #f60
      &:hover
        color: #FFF
        background: #F60
