section[auth]
  background: rgba(0, 0, 0, 0.8)
  display: none
  position: fixed
  top: 0
  left: 0
  bottom: 0
  width: 100%
  min-height: 100%
  z-index: 4
  text-align: center

  .hero
    background: url(/images/hero/landing.jpg)
    height: 520px
    margin-bottom: 0 !important
    position: relative
    &:after
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      content: ''
      background: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 20%,rgba(0,0,0,0.7) 100%)
      background: linear-gradient(to bottom, rgba(0,0,0,0) 20%,rgba(0,0,0,0.7) 100%)
    // width: 100%

  > .row
    background: #FFF
    max-width: 620px
    margin: 60px auto
    // padding: 10px 80px
    .columns div
      padding: 15px 0

    .contents
      width: 100%
      display: inline-block
      vertical-align: middle

    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);

  .option-text
    font-size: 14px

  .columns
    margin-bottom: 15px
  .title
    text-align: center
    padding: 30px
    // @extend .font-roboto-slab
    color: #000
    font-size: 30px
    line-height: 1.4
    margin-bottom: 30px

  a
    +single-transition
    +radius(3px)
    @extend .font-open
    margin: 0 auto
    color: #FFF
    display: block
    font-size: 12px
    padding: 0.5rem
    text-align: center
    text-decoration: none
    overflow: none
    height: 40px
    line-height: 20px
    margin-bottom: 10px

  .windows
    background: #945990
  .facebook
    background: #567CC5
  .google-plus
    background: #DF4A32
  .login
    background: #F60
  .signup
    border: 1px solid #F60
    color: #f60
    &:hover
      color: #FFF
      background: #F60
