.row


  .columns.medium-5.hero

  .columns.medium-7
    .contents
      .oauth
        a.facebook(target="_self", href="/auth/oauth/facebook") Continue with Facebook
        a.google-plus(target="_self", href="/auth/oauth/google") Continue with Google+
        a.windows(target="_self", href="/auth/oauth/windowslive") Continue with Windows Live
      .option-text Or use your email address
      .email
        a.login(ng-click="showEmailForm=true") Login
        a.signup(ng-click="showEmailForm=true") Sign Up

