//- article: https://raygun.io/blog/2014/07/making-svg-html-burger-button/
#hamburger.hamburglar.is-closed(ng-class="classes", ng-init="color='#FFF'")
  .burger-icon
    .burger-container
      span.burger-bun.burger-bun-top
      span.burger-bun.burger-filling
      span.burger-bun.burger-bun-bot