body#classified-finish
  h1
    font-size: 3rem
    padding-bottom: 0
    margin-top: 100px
  h1, h3
    @extend .font-open
    color: #FFF
    font-weight: bold
    margin:  0
    padding: 1rem
    text-shadow: 1px 2px 2px #000

  #page-hero
    background-image: url("/images/hero/landing.jpg")
    &:after
      content: ""
  main
    background: transparent
    margin-bottom: 10px
    section
      background: #FFF
    p
      font-size: 0.9rem

    .submit
      width: 100%
      color: #FFF
      display: block
      text-decoration: none
      border-bottom: 3px solid rgba(0,0,0,0.1)
      text-align: center
      background: #2ecc71

    a, .submit
      padding: 8px 10px
      font-size: 0.8rem
      border-bottom: 5px solid rgba(0,0,0,0.1)

    ul.social-links
      margin-top: 2rem
      // margin-bottom: 1rem
      li
        color: #FFF
        margin-bottom: 1rem
        .facebook
          background: #3B5390
          &:hover
            background: #293A65
        .twitter
          background: #00AFEB
          &:hover
            background: #008CBC
        .gplus
          background: #CC4534
          &:hover
            background: #A3372A
        .icon
          margin-top: 4px
          @extend .font-awesome
        a
          +single-transition
          margin: 0
          display: block