body#classified-post
  h1, h3
    @extend .font-open
    color: #FFF
    font-weight: bold
    margin:  0
    padding: 1rem
    text-shadow: 1px 2px 2px #000
  h3
    font-size: 1rem
    a
      color: #2ECC71
      text-decoration: none
      border-bottom: 3px solid #2ECC71
  h1
    font-size: 3rem
    padding-bottom: 0
    margin-top: 100px

  #page-hero:after
    content: ""

  main
    background: transparent
  .classified-single
    margin-bottom: 1rem
    background: #FFF