body#classified-search
  &:before
    background-image: url(/images/cat-spritesheet.jpg)
    content: ''
  // &.cl-careers-jobs, &.cl-community-events, &.cl-electronics-computers,
  // &.cl-general-items, &.cl-hobbies-crafts-diy, &.cl-matrimonial,
  // &.cl-miscellaneous, &.cl-music-movies-books, &.cl-pets-animals,
  // &.cl-property-real-estate, &.cl-services, &.cl-vehicles
  background: #000
  #page-hero:after
    content: ''


  main
    background: transparent

    > .category-chooser
      margin: 100px 0
      h1
        @extend .font-open
        color: #fff
        display: block
        font-weight: bold
        text-decoration: none
        text-shadow: 1px 1px 2px #000

    > .category-results
      .classified-list-container
        margin-top: 100px
      > h1, > h2
        @extend .font-open
        color: #FFF
        margin: 0
        font-weight: bold
        padding: 0 1rem
        text-shadow: 1px 1px 2px #000
      > h1
        margin-top: 300px
        font-size: 3rem
      > h2
        margin-bottom: 100px
        font-size: 1.3rem