html
  body
    ol.breadcrumb
      // BEGIN breadcrumbs
      li(itemscope='itemscope', itemtype='http://data-vocabulary.org/Breadcrumb', <!--='', if='', @last='', --='')
        | class=&quot;active&quot;
        // ENDIF @last
        | &gt;
        // IF !@last
        a(href='{breadcrumbs.url}', itemprop='url')
          // ENDIF !@last
          span(itemprop='title')
            | {breadcrumbs.text}
            // IF @last
            // IF !feeds:disableRSS
            // IF rssFeedUrl
            a(target='_blank', href='{rssFeedUrl}')
              i.fa.fa-rss-square
            // ENDIF rssFeedUrl
            // ENDIF !feeds:disableRSS
            // ENDIF @last
          // IF !@last
        // ENDIF !@last
      // END breadcrumbs
    .row
      // IF allowLocalLogin
      .IF.alternate_logins.ELSE.ENDIF.alternate_logins(class='<!-- -->col-md-6<!-- -->col-md-12<!-- -->')
        .well.well-lg
          #login-error-notify.alert.alert-danger(<!--='', if='', error='', --='')
            | style=&quot;display:block&quot;
            // ELSE
            | style=&quot;display: none;&quot;
            // ENDIF error
            | &gt;
            button.close(type='button', data-dismiss='alert') &times;
            | &#x9;&#x9;&#x9;&#x9;
            strong [[login:failed_login_attempt]]
            | &#x9;&#x9;&#x9;&#x9;
            p {error}
          | &#x9;&#x9;&#x9;
          form#login-form.form-horizontal(role='form', method='post', target='login')
            .form-group
              label.col-lg-2.control-label(for='username') {allowLoginWith}
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .col-lg-10
                input#username.form-control(type='text', placeholder='{allowLoginWith}', name='username', autocorrect='off', autocapitalize='off')
            | &#x9;&#x9;&#x9;&#x9;
            .form-group
              label.col-lg-2.control-label(for='password') [[user:password]]
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .col-lg-10
                input#password.form-control(type='password', placeholder='[[user:password]]', name='password')
            | &#x9;&#x9;&#x9;&#x9;
            .form-group
              .col-lg-offset-2.col-lg-10
                .checkbox
                  label
                    input#remember(type='checkbox', name='remember', checked='')
                    |  [[login:remember_me]]
            | &#x9;&#x9;&#x9;&#x9;
            .form-group
              .col-lg-offset-2.col-lg-10
                hr
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                button#login.btn.btn-primary.btn-lg.btn-block(type='submit') [[global:login]]
                // IF allowRegistration
                span
                  | [[login:dont_have_account]] 
                  a(href='{config.relative_path}/register') [[register:register]]
                // ENDIF allowRegistration
                // IF showResetLink
                a#reset-link(href='{config.relative_path}/reset') [[login:forgot_password]]
                // ENDIF showResetLink
      // ENDIF allowLocalLogin
      // IF alternate_logins
      .IF.allowLocalLogin.ELSE.ENDIF.allowLocalLogin(class='<!-- -->col-md-6<!-- -->col-md-12<!-- -->')
        .well.well-lg
          h4 [[login:alternative_logins]]
          | &#x9;&#x9;&#x9;
          ul.alt-logins
            // BEGIN authentication
            li.(class='{authentication.name}')
              a(rel='nofollow', target='_top', href='{config.relative_path}{authentication.url}')
                i.fa.fa-3x(class='{authentication.icon}')
            // END authentication
      // ENDIF alternate_logins
