html
  body
    .account-username-box(data-userslug='{userslug}', data-uid='{uid}')
      ul.nav.nav-pills.account-sub-links
        li
          a.dropdown-toggle.inline-block(href='#', type='button', data-toggle='dropdown')
            | [[user:more]]
            span.caret
            | &#x9;&#x9;&#x9;&#x9;
            span.sr-only Toggle Dropdown
          | &#x9;&#x9;&#x9;
          ul.dropdown-menu.pull-right(role='menu')
            li
              a(href='{config.relative_path}/user/{userslug}/following')
                i.fa.fa-fw.fa-users
                |  [[user:following]]
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='{config.relative_path}/user/{userslug}/followers')
                i.fa.fa-fw.fa-users
                |  [[user:followers]]
            | &#x9;&#x9;&#x9;&#x9;
            li.divider
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='{config.relative_path}/user/{userslug}/topics')
                i.fa.fa-fw.fa-book
                |  [[global:topics]]
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='{config.relative_path}/user/{userslug}/posts')
                i.fa.fa-fw.fa-pencil
                |  [[global:posts]]
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='{config.relative_path}/user/{userslug}/groups')
                i.fa.fa-fw.fa-users
                |  [[global:header.groups]]
            // IF showHidden
            li
              a(href='{config.relative_path}/user/{userslug}/favourites')
                i.fa.fa-fw.fa-heart
                |  [[user:favourites]]
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='{config.relative_path}/user/{userslug}/watched')
                i.fa.fa-fw.fa-eye
                |  [[user:watched]]
            // ENDIF showHidden
            // BEGIN profile_links
            li.plugin-link.IF.ELSE.ENDIF(id='{profile_links.id}', class='<!-- profile_links.public -->public<!-- -->private<!-- profile_links.public -->')
              a(href='{config.relative_path}/user/{userslug}/{profile_links.route}')
                i.fa.fa-fw(class='{profile_links.icon}')
                |  {profile_links.name}
            // END profile_links
        | &#x9;&#x9;
        li
          a#profile.inline-block(href='{config.relative_path}/user/{userslug}')
            i.fa.fa-user
            |  [[user:profile]]
        // IF showHidden
        li
          a(href='{config.relative_path}/user/{userslug}/settings')
            i.fa.fa-gear
            |  [[user:settings]]
        | &#x9;&#x9;
        li
          a(href='{config.relative_path}/user/{userslug}/edit')
            i.fa.fa-pencil-square-o
            |  [[user:edit]]
        // ENDIF showHidden
    .account
      .row
        .col-md-5.account-block
          .account-picture-block.panel.panel-default
            .panel-body
              .text-center
                img.user-profile-picture.img-thumbnail(src='{picture}')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              div
                .text-center
                  span
                    i.fa.fa-circle.status(component='user/status', class='{status}', title='[[global:{status}]]')
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span.account-username  {username}
                  // IF !isSelf
                  br
                  // IF !config.disableChat
                  a#chat-btn.btn.btn-primary.btn-sm(href='#') [[user:chat]]
                  // ENDIF !config.disableChat
                  a#follow-btn.btn.btn-success.btn-sm.IF.isFollowing.ENDIF.isFollowing(href='#', class='<!-- -->hide<!-- -->') [[user:follow]]
                  |  &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  a#unfollow-btn.btn.btn-warning.btn-sm.IF.ENDIF(href='#', class='<!-- !isFollowing -->hide<!-- !isFollowing -->') [[user:unfollow]]
                  // ENDIF !isSelf
                  // IF isAdmin
                  br
                  br
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  a#banAccountBtn.btn.btn-danger.btn-sm.IF.banned.ENDIF.banned(href='#', class='<!-- -->hide<!-- -->') [[user:ban_account]]
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  a#unbanAccountBtn.btn.btn-danger.btn-sm.IF.ENDIF(href='#', class='<!-- !banned -->hide<!-- !banned -->') [[user:unban_account]]
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  a#deleteAccountBtn.btn.btn-danger.btn-sm(href='#') [[user:delete_account]]
                  br
                  br
                  // ENDIF isAdmin
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                #banLabel.text-center.IF.ENDIF(class='<!-- !banned -->hide<!-- !banned -->')
                  span.label.label-danger [[user:banned]]
                // IF aboutme
                hr
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .text-center(component='aboutme')
                  | {aboutme}
                // ENDIF aboutme
                hr
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .text-center.account-stats
                  .inline-block.text-center
                    span.human-readable-number(title='{reputation}') {reputation}
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span.account-bio-label [[global:reputation]]
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .inline-block.text-center
                    span.human-readable-number(title='{postcount}') {postcount}
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span.account-bio-label [[global:posts]]
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .inline-block.text-center
                    span.human-readable-number(title='{profileviews}') {profileviews}
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    span.account-bio-label [[user:profile_views]]
          | &#x9;&#x9;&#x9;
          .panel.panel-default
            .panel-body.text-center
              // IF email
              span.account-bio-label [[user:email]]
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              span.account-bio-value
                i.fa.fa-eye-slash(class='{emailClass}', title='[[user:email_hidden]]')
                |  {email}
              // ENDIF email
              // IF fullname
              span.account-bio-label [[user:fullname]]
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              span.account-bio-value {fullname}
              // ENDIF fullname
              // IF websiteName
              span.account-bio-label [[user:website]]
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              span.account-bio-value
                a(href='{websiteLink}') {websiteName}
              // ENDIF websiteName
              // IF location
              span.account-bio-label [[user:location]]
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              span.account-bio-value {location}
              // ENDIF location
              // IF age
              span.account-bio-label [[user:age]]
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              span.account-bio-value {age}
              // ENDIF age
              span.account-bio-label [[user:followers]]
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              span.human-readable-number.account-bio-value(title='{followerCount}') {followerCount}
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              span.account-bio-label [[user:following]]
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              span.human-readable-number.account-bio-value(title='{followingCount}') {followingCount}
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              span.account-bio-label [[user:joined]]
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              span.timeago.account-bio-value(title='{joindate}')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              span.account-bio-label [[user:lastonline]]
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              span.timeago.account-bio-value(title='{lastonline}')
              // IF !disableSignatures
              // IF signature
              hr
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              span.account-bio-label [[user:signature]]
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              .post-signature
                span#signature {signature}
              // ENDIF signature
              // ENDIF !disableSignatures
          // IF groups.length
          .panel.panel-default
            .panel-heading
              h3.panel-title [[groups:groups]]
            | &#x9;&#x9;&#x9;&#x9;
            .panel-body
              // BEGIN groups
              a(href='{config.relative_path}/groups/{groups.slug}')
                span.label.group-label.inline-block(style='background-color: {groups.labelColor};')
                  // IF groups.icon
                  i.fa(class='{groups.icon}')
                  // ENDIF groups.icon
                  | {groups.userTitle}
              // END groups
          // ENDIF groups.length
          // IF ips.length
          .panel.panel-default
            .panel-heading
              h3.panel-title [[global:recentips]]
            | &#x9;&#x9;&#x9;&#x9;
            .panel-body
              // BEGIN ips
              div {ips.ip}
              // END ips
          // ENDIF ips.length
        | &#x9;&#x9;
        .col-md-7
          // IF !posts.length
          span [[user:has_no_posts]]
          // ENDIF !posts.length
          ul.posts-list(component='posts', data-nextstart='{nextStart}')
            // BEGIN posts
            li.posts-list-item(component='post', data-pid='{posts.pid}', data-uid='{posts.uid}')
              .panel.panel-default
                .panel-body
                  a(href='{config.relative_path}/user/{posts.user.userslug}')
                    img.img-rounded.user-img(title='{posts.user.username}', src='{posts.user.picture}')
                  | &#x9;&#x9;&#x9;&#x9;
                  a(href='{config.relative_path}/user/{posts.user.userslug}')
                    strong
                      span {posts.user.username}
                  | &#x9;&#x9;&#x9;&#x9;
                  .content(component='post/content')
                    p {posts.content}
                    | &#x9;&#x9;&#x9;&#x9;&#x9;
                    p.fade-out
                  | &#x9;&#x9;&#x9;&#x9;
                  small
                    span.pull-right
                      | [[global:posted_in_ago, 
                      a(href='{config.relative_path}/category/{posts.category.slug}')
                        i.fa(class='{posts.category.icon}')
                        |  {posts.category.name}
                      | , 
                      span.timeago(title='{posts.relativeTime}')
                      | ]] &bull;
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      a(href='{config.relative_path}/topic/{posts.topic.slug}/{posts.index}') [[global:read_more]]
            // END posts
          .loading-indicator.text-center.hidden(component='posts/loading')
            i.fa.fa-refresh.fa-spin
      | &#x9;
      br
      | &#x9;
      #user-action-alert.alert.alert-success.hide
    input(type='hidden', template-variable='yourid', value='{yourid}')
    input(type='hidden', template-variable='theirid', value='{theirid}')
    input(type='hidden', template-type='boolean', template-variable='isFollowing', value='{isFollowing}')
