extends ../../layout.jade

block content
		//- Disclaimer message
		h1.guest-title= __('page.gfinish.congrat')
		p= __('page.gfinish.since')

		//- Instructions for the guest
		p= __('page.gfinish.instr')

		//- Container for the QR code
		#qrcode

		h2
			a(href="/guest/single/" + data.hash) URL

		//- Warning
		p.warn  !{__('page.gfinish.warn')}